[2017-07-12 19:10] doutriaux1 opened #223 "taylordiagram adds an extra marker if marker attributes set manually"
[code]

[2017-07-12 20:22] doutriaux1 opened #224 "drawLinesAndTemplate could use new functionalities"
* possibility to control text color separate from line and markers
* prefered stacking order horizontal or vertical
* possibility to turn lines on/off

[2017-07-12 20:24] doutriaux1 commented on #224
* possibility to tunr on/off markers

[2017-07-13 15:04] doutriaux1 commented on #184
@danlipsa ping.

[2017-07-13 18:27] danlipsa opened #227 "no_legend template does not have the viewport set"
The following script crashes in vcs nightly. It used to work about a year ago when I worked last at vcs.js

[code]

Currently, it prints the following:
<pre>
Traceback (most recent call last):
  File "test.py", line 13, in <module>
    x.plot(s, 'no_legend', gm, ratio="autot")
  File "/home/danlipsa/anaconda2/envs/nightly-20170711/lib/python2.7/site-packages/vcs/Canvas.py", line 2690, in plot

[2017-07-13 18:28] danlipsa commented on #227
@doutriaux1 Any ideas?

[2017-07-13 18:42] doutriaux1 commented on #227
somehow our viewport has the same vp[0] and vp[1] i.e it's null. where does the `no_legend` template comes from?

[2017-07-13 18:45] doutriaux1 commented on #227
@danlipsa `autot` should do nothing for projected plots, is that the culprit? Did we mess anything and we are now going into the `autot` code?

[2017-07-13 18:56] danlipsa commented on #227
@doutriaux1 That's what I thought initially, but it crashes without autot as well. Not sure where 'no_legend' comes from. Its a standard template in vcs.

[2017-07-14 19:49] danlipsa opened #228 "resize does not work correctly"
The following script does not work correctly in 2.10 or nightly. It works fine in 2.8. I remember this is one thing I fixed about a year ago when working on vcs.js. It seems vcs regressed in this regard.

x.interact() does not work well either. After a few resizes that do not resize properly, the plot crashes.

<pre>
import vcs
import cdms2

f=cdms2.open('coads_climatology.nc')
vx=f('UWND')
vy=f('

[2017-07-14 20:04] danlipsa commented on #228
Note, this is with the on screen hardware driver. With mesa, the same script crashes.

[2017-07-17 05:25] doutriaux1 commented on #228
@danlipsa it probably does not matter here, but one is not supposed to called the backend directly

[2017-07-17 05:26] doutriaux1 commented on #228
@danlipsa does:
[code]
works better?

[2017-07-17 12:48] danlipsa commented on #228
@doutriaux1 No, the same thing.

[2017-07-17 13:25] danlipsa commented on #228
@doutriaux1 Also, tests/test_vcs_png_window_resize.py fails with an on-screen driver. Maybe we should consider bringing back the buildbot with an onscreen driver.

[2017-07-17 13:47] doutriaux1 commented on #228
@danlipsa the issue is that most test will fail because of baseline glitches. I think it's overkill to maintain 3 or 4 baselines for on/offscreen. But we could use the `attributes` idea that I started to implement a bit (https://github.com/UV-CDAT/vcs/blob/master/tests/test_vcs_vectors_and_streamlines_robinson.py#L44 , https://github.com/UV-CDAT/vcs/blob/master/run_tests.py#L144-L145 and https://g

[2017-07-17 15:26] danlipsa commented on #228
@doutriaux1 Indeed, we could run only a subset of the tests. It would be nice to run them automatically though, for every commit.

[2017-07-17 16:11] doutriaux1 commented on #228
@danlipsa ok then https://github.com/UV-CDAT/ci-bots seems like the perfect candidate. I will see if I can revive/setup macbot1 and macbot2.

[2017-07-17 16:12] doutriaux1 commented on #228
@danlipsa any ubuntu/linux machine Kitware could dedicate to this?

[2017-07-17 16:42] danlipsa commented on #228
@doutriaux1 What is the difference between ci-bot and buildbot + @sankhesh changes? I remember we talked about doing testing on one of our buildbots before we started using travis ci / circle ci. @aashish24 @sankhesh ?

[2017-07-17 17:28] doutriaux1 commented on #228
I don't know about buildbots anymore, it has never quite worked for us behind the firewall.

[2017-07-18 14:45] danlipsa commented on #212
@doutriaux1 vtkCocoaRenderWindow knows about logical pixels (points) but we might need to add a function to access that. I am not a big fan of how Apple has hidden the increased pixel density.

I would prefer to add on option to create a window based on size (such as inches or cm). This way it would be clearer what the user wants and it would be easy to measure on the screen.

As an option, we can

[2017-07-18 22:04] #215 closed

[2017-07-18 22:04] #216 closed

[2017-07-18 22:04] #219 closed

[2017-07-18 22:04] #221 closed

[2017-07-18 22:04] #223 closed

[2017-07-18 22:04] #224 closed

[2017-07-21 20:10] durack1 commented on #162
@danlipsa let me know when you get to look at this, we have a pub in the revision queue and I would really like to highlight this CDAT functionality if it's available at publication time..

[2017-07-25 17:20] danlipsa commented on #162
@durack1 That would be very nice. I have vcs.js and upgrading vcs to OpenGl2 in my queue. Keep promoting this to @williams13 @doutriaux1 and @aashish24 and will get done.

[2017-07-27 18:14] durack1 commented on #162
@danlipsa @doutriaux1 @williams13 @aashish24 I would certainly up-vote this feature, as it's not obvious to me that any other package is capable of generating these

[2017-08-03 15:54] jypeter opened #230 "Catastrophic 2.8 and 2.10 x.plot failure on our new CentOS 7 server"
@doutriaux1 and @aashish24 the following very simple plot works fine on our old servers, but crashes python in a most violent way (with a VERY verbose output, not the usual simple core dumped) on our new CentOS 7 servers, with both 2.8 and 2.10

No problem with cdms2 in other non graphical scripts. I see lots of references to vtk in the long crash output I get. Note that, as usual, I'm connected t

[2017-08-03 16:07] danlipsa commented on #230
@jypeter Indeed, the problem is OpenGL through vnc. Note it is the same vnc client but not the same vnc server (as the vnc server runs on the newer machine). Here we are running vcs remotely through Virtual GL + TurboVNC. See the doc that @sankhesh put together.
https://github.com/UV-CDAT/uvcdat/wiki/Remote-server-setup-for-VNC
It would be nice if @doutriaux1 would try this setup on the new machin

[2017-08-03 16:28] durack1 commented on #230
@danlipsa @doutriaux1 @aashish24 it would be great to augment the testing suite to include redhat7/CENTOS7 in addition to the redhat6 machines that we're currently using

[2017-08-03 19:20] aashish24 commented on #230
@durack1 I think it will be a a hard thing since for testing we switched to circleci and gave up on buildbot which would have allowed us to setup our own testing infrastructure. I like the idea/suggestions though so if there are any other easy way, I am all for it.

[2017-08-04 15:35] danlipsa commented on #230
@aashish24 @doutriaux1 @durack1 @williams13 We'll have to do something (bring back buildbot?) to be able to test on-screen vcs on both linux and mac. Right now we have regressions for window close and window resize that we fixed a year ago. We have a test that passes for mesa but fails for on-screen driver.

[2017-08-07 13:59] doutriaux1 commented on #230
@aashish24 @durack1 we could use ci-bot https://github.com/UV-CDAT/ci-bots

[2017-08-07 14:59] jypeter commented on #230
@danlipsa I have started reading your _VNC_ wiki page. I can check with our sysadmins if they have a test server and time to do all the things you mention.

The trouble is that, **as far as I know, I'm not using VNC!**. I'm running Fedora Core 20 (_Fedora release 20 (Heisenbug)_) in my VirtualBox VM, on a Windows 7 machine with a basic NVIDIA NVS 310 card.

I think I understand that maybe using Tu

[2017-08-08 15:43] jypeter commented on #230
@doutriaux1 and @danlipsa Has anybody tried vcs (either 2.8 or 2.10) on a Centos 7 or RH7 machine? I have just run some additional tests, and got the usual catastrophic final crash. Note that glxgears worked in all cases

- does not work on a Linux desktop connected to the **remote** Centos 7 server. So it seems the problem is not due to my using a Linux running in a VM to connect to the server
-

[2017-08-08 16:29] doutriaux1 commented on #230
@aashish24 we really need to address this in a straight forward way. It is making us look really bad.

[2017-08-10 20:55] danlipsa commented on #230
@jypeter Do you always run inside a VM? If that is true it means that you depend on the OpenGL implementation in the VM which might not work correctly. In this case I would recomment using OSMesa.
conda install mesalib -c uvcdat/label/nightly -c conda-forge -c uvcdat

[2017-08-11 09:58] jypeter commented on #230
@danlipsa If you look at my previous comment, you'll see in the additional tests that I've made that 2.8.0 did not work either on a) a linux desktop connecting to a remote server, b) **directly on the server**. I got similar results with 2.10

Note also that 2.8 and 2.10 are **not installed in the VM**. I only use my VM to connect to the remote servers (basically instead of running a local X serve

[2017-08-11 13:04] jypeter commented on #230
@danlipsa I have also just installed **mesalib** the following way
[code]
So, the result is... No crash, I get the simple plot I was expecting in the pdf and png files **BUT I don't get interactive plots**. Is this what I should be expecting? Is this the solution for generating plots on a headless display, and you don't even need to use bg=1? That's useful to know, but I'm looking for interactive

[2017-08-11 13:48] danlipsa commented on #230
@jypeter Indeed, this is it.

I usually just install another conda env that has interactive graphics (direct hardware access). Probably you could replace the vtk pakage and remove mesa, but I have never done it.

[2017-08-11 13:59] danlipsa commented on #230
@aashish24 @doutriaux1 @jypeter This does seem to be a OpenGL installation problem. A solution to this kind of problem is to ship mesa (not osmesa) with our packages and switch at runtime which opengl implementation we use. Maybe by default we use the driver install on your system. If that does not work, the user can switch to the software renderer (mesa). ParaView does that

https://blog.kitware.

[2017-08-14 13:53] doutriaux1 commented on #230
@danlipsa you mean like using a conda-based mesa?

[2017-08-14 14:18] jypeter commented on #230
I'm on holidays this week, so I won't be able to test things.

I will try to remember the _mesalib trick in a cloned environment_ for offline graphics (this should probably go to a _uvcdat cookbook_). But in order to have offline graphics, you need to be able to test things interactively

[2017-08-14 15:07] danlipsa commented on #230
@jypeter The idea is to be able to switch at runtime between the system installed OpenGL driver (which is usually hardware accelerated and might not be installed correctly - especially on Linux) and a software OpenGL driver that will be installed by us in coda and will always work (but might be slower than the hardware driver).

[2017-08-14 20:15] danlipsa opened #231 "thick lines in a line plot could look better."
The ends of each segment seem to be a parallelogram rather than a rectange. Also look into how to make a thick multi-line look better.

[2017-08-15 15:31] doutriaux1 commented on #230
@danlipsa do you know what the magic is for the `paraview --mesa-llvm` listed at the end? Maybe we could do the same for uvcdat?

[2017-08-15 15:41] danlipsa commented on #230
@doutriaux1 I think we only need to pass LD_LIBRARY_PATH pointing to the libGL.* from mesa (installed by conda). I wanted to try this but you are welcome to try it.
Just install the regular VTK (the one that uses the system OpenGL (hardware)) and mesa without dependencies so that it does not replaces VTK. Than launch python with the LD_LIBRARY_PATH pointing to the mesa libGL.*. If we want a comman

[2017-08-15 15:42] danlipsa commented on #230
@doutriaux1 Or python script.

[2017-08-15 15:45] doutriaux1 commented on #230
@danlipsa but when we use the offscreen mesa we send a special build keyword to the VTK build. Are you saying I could use the regular VTK build and simply points my LD_LIBRARY_PATH to the mesalib and it would get me the offscreen as well?

[2017-08-15 15:51] danlipsa commented on #230
@doutriaux1 Our special VTK build is 'headless' which means it does not use X. If we point LD_LIBRARY_PATH to mesa's libGL.* we'll still get onscreen (but software) rendering. I think the headless VTK uses different libraries than libGL.*.

[2017-08-15 15:57] doutriaux1 commented on #230
@danlipsa ok thanks for clarification I rwad the articlle too fast it does say:

[code]

I wrongfully assumed at first that `Mesa+llvmpipe` was the offscreen one.

[2017-08-16 21:02] lee1043 opened #232 "Boxfill does not follow levels"
https://github.com/UV-CDAT/uvcdat/issues/2188

[2017-08-16 21:46] doutriaux1 commented on #232
replied there, thx for reporting on both places.

[2017-08-16 21:46] #232 closed

[2017-08-17 12:41] danlipsa commented on #230
@jypeter I just learn a trick that you can try in your virtual box.
Shut down you VM
Set Settings > Display > Acceleration > Enable 3D Acceleration
Then start you VM.

[2017-08-21 13:49] gleckler1 commented on #171
@doutriaux1 Something like fit_data_and_texts would be good.  In some cases a user will want to combine lots of postage stamp sized figures, but the real appeal of EzTemplate is to enable users to quickly put together an array of panels (~ < 6x3) and for that having data+text controlled together would be a very powerful and popular capability

[2017-08-21 14:09] doutriaux1 commented on #171
@gleckler1 will add. But ultimately you can't avoid having to do the final tweaks manually. For mass production I actually wouldn't recommend using EzTemplate. I think the way to go is to use EzTemplate first to get 99% of the way, thendo the last % manually, then save the templates and load them up at the beginning of mass production. @lee1043 I recommend you do this as well. It is faster to load

[2017-08-21 18:28] doutriaux1 opened #234 "vcs.removeobject doex NOT error exit if trying to remove a non vcs object"
but rather prints to the screen

[code]

Should we error exit?

reported by @lee1043
please @durack1 and @danlipsa let me know what you think

[2017-08-21 18:42] durack1 commented on #234
@doutriaux1 I would vote an "error" message yields and error response - so 👍  your suggestion

[2017-08-21 18:43] durack1 commented on #234
@doutriaux1 I'd actually be interested to know what methods are available in `vcs.` it might be a good time to remove a bunch of redundant functions..?

[2017-08-21 19:49] doutriaux1 opened #235 "template.scalefont creates never removed textorientation object"

[2017-08-21 20:24] gleckler1 commented on #235
@doutriaux1 go CD go!

[2017-08-21 21:09] durack1 commented on #235
@doutriaux1 when you reckon you've sorted this I'll let the demo script documented in UV-CDAT/uvcdat#1424 rip on a nightly.. As it explodes from 1.5Gb to 100+Gb, it's a perfect test case

[2017-08-21 21:12] doutriaux1 commented on #235
@durack1 great! I fixed this, but let me keep running @lee1043 example to make sure there's nothing else

[2017-08-22 06:38] jypeter commented on #234
I did not even know about this function... Would you get the same result with a standard **del(M)**?

When I want to explicitly delete a big numpy or MV2 array (before the end of a script), I just use **del(my_bulky_array)** and I don't need a _cdms2.removeobject_. I hope using _del_ works!

[2017-08-22 15:13] doutriaux1 commented on #234
@jypeter I am 99% certain del(vcsobj) won't clean it from vcs memory.

[2017-08-22 15:18] jypeter commented on #230
@danlipsa 3D acceleration has been enabled in my VM for a long time, and I get the following if I run _glxgears_ in local terminal in the Fedora 20 running in the VM. I see the cogs turning the way they should
[code]
glxgears also runs fine when I connect to our CentOS server, apparently in _software rendering_
[code]
I have even checked that glxgears keeps on working **after I activate cdat**
[co

[2017-08-22 15:22] doutriaux1 commented on #230
@danlipsa that sounds awfully similar to what I experience on my ubuntu since 2.10.

[2017-08-22 15:23] jypeter commented on #234
Oh, OK.

What about using `del `on numpy arrays or cdms2 objects (sorry if this is not related to this thread)? I have sometimes told people to use that to remove temporary/intermediate data when they had memory issues, but I have never checked if it actually worked

[2017-08-22 15:24] jypeter commented on #230
Note that on the CentOS 7 server, I get the same failure with both **2.8 and 2.10**

[2017-08-22 15:31] doutriaux1 commented on #234
yes no issue with numpy arrays.

[2017-08-22 21:13] #234 closed

[2017-08-22 23:26] doutriaux1 commented on #230
@jypeter @danlipsa @durack1 @dnadeau4  I just randomly found a solution for my ubunut. It appears to be a mismatch between ANACONDA's stdc++ and the system

see: https://stackoverflow.com/questions/35911302/cannot-launch-emulator-on-linux-ubuntu-15-10

in my case I ran:

[code]

And I am up and running for my ubuntu

the locate shows on my system:
[code]

So the system one is `6.0.22` whereas the

[2017-08-22 23:34] doutriaux1 commented on #230
Note that :
[code]

Also fixes the issue and does not seem to affect anything since it's now picking up the system stc++

@dnadeau4 @danlipsa should we try to remove gcc from our conda builds for linux?

[2017-08-23 02:11] danlipsa commented on #230
@doutriaux1 I think the reason you added gcc was to be able to build on redhat 6 which has an older gcc that what VTK requires.

[2017-08-23 03:53] durack1 commented on #235
@doutriaux1 you probably want to reopen this issue, or generate a new one with an amended (broader) title about objects being created and not purged, the demo code:
[code]
I'll keep adding this tomorrow and will upload the final log when it's done..

[2017-08-23 04:34] durack1 commented on #235
@doutriaux1 this needs to be reopened, the times taken to generate a single plot 40+ seconds is really just not good at all

[2017-08-23 13:23] doutriaux1 commented on #235
@durack1 can you post your code here? I'm betting there's some user objects not removed. Please post code here so I can take a look.

[2017-08-23 13:27] doutriaux1 commented on #230
@danlipsa yes we wanted a consistent gcc to build everything. After some investigation with @dnadeau4 it is definitely graphic card drivers related. logging in from a mac and using X forwarding works fine, but on the machine itself (using the local drivers) it seg faults. Will try to build all of our package w/o runtime gcc or libgcc to see if it helps....

[2017-08-23 13:33] jypeter commented on #230
I have the following on our CentOS 7 server
[code]
I have tried @doutriaux1 trick, and **it does work**! Congratulations! The interactive mode in software opengl is still painfully slow (even for such a simple plot), but it's better than nothing
[code]

Now, I can't conveniently tell my users to use this trick. Is there a way to make this work out-of-the-box? I could try @doutriaux1 other trick an

[2017-08-23 13:40] doutriaux1 commented on #230
@jypeter I will try and see if building all of our package on linux w/o runtime libgcc fixes things.

[2017-08-23 13:47] doutriaux1 commented on #230
actually esmf needs libgcc at runtime so we won't be able to use the trick... The other possibility is to add to the source activate code. Having some magic bash code that locates the system's `stdc++` and add the `LD_PRELOAD` to the env...

[2017-08-23 14:40] doutriaux1 commented on #230
@jypeter I'm building a conda version that might work out of the box. When it's built and up can i ask you you to try it as well?

Thanks.

[2017-08-23 14:46] jypeter commented on #230
Yep, no pb. Just give me the full conda command I should use. I'd rather not lose esmf, now that we have it at last! Though it proves to be harder to use than I expected

This is becoming my longest github issue

[2017-08-23 15:13] doutriaux1 commented on #230
@jypeter esmf is integrated in cdms though, so it should be transparent to you.

[2017-08-23 15:48] durack1 commented on #235
Discussion related to this thread can be found at PCMDI/amipbcs#10

[2017-08-23 17:46] danlipsa commented on #230
@doutriaux1 Not sure if you found a solution for using a newer gcc on redhat-6. This is the advice that Ben, our build expert give us on Jan 20th.

[2017-08-24 22:06] lee1043 opened #238 "Color maps could look better"
![colormaps_uvcdat2 10_jiwoolee_20170823](https://user-images.githubusercontent.com/17091564/29690086-62f64164-88da-11e7-8ebd-562c39ea2001.png)

Some of color maps have discrete colors at both edges. Instead of using ```range(16,240)``` for ```vcs.getcolors``` to avoid those edge colors, I think it would be much simple for users if we can make users no need to think about it.

Below code is for ma

[2017-08-24 22:57] doutriaux1 commented on #238
@lee1043 in order to have vcs revert to the `old` behaviour (range(16,240) simply add:
[code]
At the begining of your script that should solve the issue for you

[2017-08-24 23:24] durack1 commented on #238
@lee1043 this is great, thanks for kicking this off.. I've been begging for this for a while UV-CDAT/uvcdat#906

There seems to be quite a large number of dupes in the https://github.com/UV-CDAT/vcs/issues/238#issue-252744867 above, so `blue2green == blue_to_grn`, `blue2grey == blue_to_grey` etc etc..

It also seems to be missing a large number of the palettes that @chaosphere2112 managed to find

[2017-08-25 08:17] jypeter commented on #238
Thanks @lee1043 for the useful script! Some version of it would be useful in the gallery

Several color related questions for @doutriaux1 et al:
- do we still have something like the old `x.colormapgui()`? Or some kind of widget that would allow the user to browse the existing colormaps?
- I had never heard of `x.util.*`, eventhough some of the functions in there look familiar. Is this documented

[2017-08-25 16:18] doutriaux1 commented on #238
* @jypeter colormapgui() is dead, in the process of being re-implemented in vcdat
* @jypeter good point about `vcs.utils`, I will create an issue to make a jupyter notebook about it. readthedocs eventually will have it as well.
* just pass the reverted colors to the graphics method, example:
[code]
* as demonstrated above, each graphic method can now have its own colormap, the colormap used is dec

[2017-08-28 22:12] lee1043 commented on #238
@doutriaux1 Color shrinking for some horizontal bars is not dependent to selection of color map. See below. Should be something related to EzTemplate? Weird...

![colormaps_uvcdat2 10](https://user-images.githubusercontent.com/17091564/29795832-c86c387a-8c02-11e7-9955-4a8c6eba4f41.png)

[code]

[2017-08-28 22:15] doutriaux1 commented on #238
@lee1043 I think so, something in EzTemplate, althoguh template.data.x1 and template.data.x2 are constant. Sorry didn't have time to look at it yet.

[2017-08-28 22:17] lee1043 commented on #238
@durack1 @doutriaux1 @chaosphere2112

Maybe having matplotlib color maps in VCS related to ```python vcs.colors.matplotlib2vcs```?

https://uvcdat.llnl.gov/docs/vcs/misc/colors.html
https://uvcdat.llnl.gov/docs/_modules/vcs/colors.html

I will test it. Any comment welcome.

[2017-08-28 23:09] lee1043 opened #240 "Can I relocate UVCDAT logo? Can I add more logos?"
* Wondering if there is an option for modify position of UVCDAT logo.
* Also wondering if I can add more than one logos on VCS, loading from image file (e.g. PCMDI logo)

[2017-08-28 23:25] lee1043 commented on #238
I believe below is what @chaosphere2112 was working on at https://github.com/UV-CDAT/uvcdat/issues/1345#issuecomment-162099427. Could use ```vcs.colors.matplotlib2vcs``` to get all available color maps from matplotlib.

![colormaps_matplotlib_vcs](https://user-images.githubusercontent.com/17091564/29797581-d434616e-8c0c-11e7-8768-2f6b33f57887.png)

[code]

[2017-08-28 23:47] durack1 commented on #240
Great thanks @lee1043, FYI we have a bunch of VCS-plot ready PNGs hanging off the PCMDI/pcmdi_metrics#413 at https://github.com/PCMDI/pcmdi_metrics/tree/master/share/pcmdi - these were generated specifically for use in PMP graphics

[2017-08-28 23:50] durack1 commented on #238
@lee1043 I know that if you put a trailing `_r` on the matplotlib colormaps (so e.g. `RdBu_r`) you get the inverted colormap in this case the inverse of `RdBu` just FYI, I **think** this works for most colormaps

[2017-08-28 23:52] doutriaux1 commented on #238
@lee1043 I worte the code to convert mpl colormap so yes you can import mpl colormap. Not sure the `_r` trick will work though, it might be at plotting time kind of trick. Personally I still don't see the usefullness on having an inverted colormap when all you need to do is colors[::-1] once you got your colors...

[2017-08-28 23:53] doutriaux1 commented on #240
@lee1043 it is dosble to add yur own logo but it's not yet a full vcs rimary object. We were talking about this this morning with @danlipsa . It will probably come right after the opengl2 port.

[2017-08-28 23:56] lee1043 commented on #238
@durack1 @doutriaux1 I can load ```_r``` color maps from matplotlib and convert them to VCS as like they are independent color maps. Just didn't listed them on the image to avoid image becomes very long in vertical.

[2017-08-29 22:10] #235 closed

[2017-08-30 16:32] durack1 opened #242 "VCS and template object clean up to aid iteration speed and memory footprint"
There have been a number of issues that describe code slowdowns and considerable memory growth when generate pngs using loops. Some of the problems are highlighted in the issues:
UV-CDAT/vcs#241
UV-CDAT/vcs#237
UV-CDAT/vcs#236
UV-CDAT/vcs#235
PCMDI/amipbcs#10
UV-CDAT/uvcdat#1424
UV-CDAT/uvcdat#1397

It appears the primary problem, is that vcs and EzTemplate objects are being created and never dele

[2017-08-30 16:42] doutriaux1 commented on #242
@durack1 this is misleading,
* all objects created by vcs are now being cleaned up. User generated object are NOT and SHOULD NOT be deleted by anyone but the user. Poor memory management by the user cannot and should not be blamed on the software. There is currently only one known case of memory growth which is when using vtk built against mesa. According to @danlipsa calling `canvas.close()` afte

[2017-08-30 16:58] durack1 commented on #242
@doutriaux1 feel free to edit the top https://github.com/UV-CDAT/vcs/issues/242#issue-254061774 above, I was just trying to get down succinctly what the problem was, and what I thought was a reasonable solution - my aim was to reduce the tweaking of object deletion repetition (see below) and also the other kludges to make the software more user friendly..

FYI, my code includes the following:
[cod

[2017-08-31 22:51] lee1043 commented on #238
@doutriaux1 @durack1  friendly reminder: it would be nice if we can have matplotlib colormaps already in it when vcs is imported and initialized.

[2017-08-31 23:36] taylor13 commented on #238
Below are some sample figures from the set I produced for the IPCC AR4.  Some of these color bars are pretty good I think.  I'll also include the color table and the code used to produce these plots.  (scroll down)
![pr_obs](https://user-images.githubusercontent.com/4993439/29949136-81b74174-8e67-11e7-9b91-dab5a1734f64.jpg)
![rlut_page_1_diff](https://user-images.githubusercontent.com/4993439/2994

[2017-09-01 15:15] durack1 commented on #238
@doutriaux1 it would be great if we could pull @taylor13's colormaps into `VCS` as well so they are also available without having to locate another file somewhere.. We could potentially have a dictionary with `default` palettes, and these (and Ken's, my extras etc) could all be placed in an `auxiliary` colormap dictionary.. So be there sitting beside the `default` but not confuse a new user as you

[2017-09-01 15:25] aashish24 commented on #238
+1 where is the definition of @taylor13 colormaps?

[2017-09-01 15:27] doutriaux1 commented on #238
that's what your initial.attribute file is for. I'm open to stick it as part of pmp. Or make an external, separate package with a bunch of vcs templates, colormaps, graphic methods etc..., organized by project/themes.

[2017-09-01 15:29] doutriaux1 commented on #238
@durack1 I have to balance between user that want everything in the kitchen sink and those who wants a faster more efficient vcs...

[2017-09-01 15:37] durack1 commented on #238
@doutriaux1 why fracture things out of `VCS`, it's colormaps so just put them all into the `VCS` module, rather than fragmenting them around between UV-CDAT, the PMP, CDP or whatever..

[2017-09-01 15:38] durack1 commented on #238
@aashish24 see https://github.com/UV-CDAT/vcs/issues/238#issuecomment-326447996 above

[2017-09-01 15:43] doutriaux1 commented on #238
@durack1 because
* it takes resources to load them in everytime
* people complained before there was too many of them and they made no sense to them

[2017-09-01 15:44] jypeter commented on #238
@doutriaux1 btw is there a page or pdf somewhere that says what the different elements of a template are (what they are for and where there are by default on a canvas)?

I know a bunch and I do trial/error otherwise but I was trying to tell a new user about templates yesterday and having something to show to the users would be nice. I have found some of your old tutorials, but none has a page that

[2017-09-01 16:06] durack1 commented on #238
@doutriaux1 which is the reason above (https://github.com/UV-CDAT/vcs/issues/238#issuecomment-326607345) I made the suggestion of the `auxiliary` so that they are just shipped and not loaded by default. This means that ALL the colour maps are available to a user who wants to use them, but the `default` palettes are a much smaller subset to aid efficiency.. As an aside, why is anything loaded upon

[2017-09-01 16:55] doutriaux1 commented on #238
@jypeter yes there are. I need to put thme somewhere
# VCS Template
![template_asd3](https://user-images.githubusercontent.com/2781425/29979739-8f2acb66-8efb-11e7-8d34-0cb769194dfc.jpg)
# Taylor diagrams
![taylorctl](https://user-images.githubusercontent.com/2781425/29979756-9cc4169c-8efb-11e7-8b84-7be02b099c2b.jpg)

[2017-09-01 17:07] lee1043 commented on #238
@doutriaux1  That graphic is really helpful! Thanks for sharing.

[2017-09-01 23:54] lee1043 commented on #238
Visualization of @taylor13's color maps, C_pcmdi given at https://github.com/UV-CDAT/vcs/issues/238#issuecomment-326447996

![test_taylor_cmap](https://user-images.githubusercontent.com/17091564/29991053-0eff834c-8f36-11e7-858e-6a7d29e9c9be.png)

[2017-09-02 16:45] taylor13 commented on #238
As I recall the different variants on the same color map, all contained in one file are designed for different numbers of contours.  It would be easier to to see this if you spread out each of the bands in the figure above, placing each on a new row  (so instead of a single row, 11 color rows; and I think there are some grey scale options in slots 0-40.

[2017-09-02 20:07] #238 closed

[2017-09-04 07:16] jypeter commented on #238
Thanks @doutriaux1 ! That's a typical example where a nice figure is better than a notebook

[2017-09-05 16:33] #230 closed

[2017-09-05 16:35] doutriaux1 commented on #184
@danlipsa @jypeter is that still true?

[2017-09-05 16:50] #212 closed

[2017-09-05 16:53] doutriaux1 commented on #202
2.12 finally here!

[2017-09-05 16:53] #202 closed

[2017-09-05 16:54] doutriaux1 commented on #187
@danlipsa opengl2 would help here?

[2017-09-05 17:21] danlipsa commented on #187
@doutriaux1 It should. We should be able to do this with OpenGl1 as well. Its about turning antialiasing on when rendering and/or tracking why its not turned on if we already do that.

[2017-09-05 18:03] durack1 commented on #187
@danlipsa @doutriaux1 I'd be happy to provide some feedback in-house on this.. I always prefer to generate vector graphics as the default output format

[2017-09-05 18:28] danlipsa opened #245 "3d_scalar seg faults on mac"
The following script seg faults on my mac. It works on linux. Upgrading to opengl2 might fix this. @doutriaux1 @aashish24 Do we test 3D plots?

[code]

[2017-09-05 19:11] doutriaux1 commented on #187
@danlipsa but antialiasing is on by default. So I'm not sure why @jypeter plots do not look too good.

[2017-09-05 19:23] danlipsa commented on #187
@doutriaux1 That's what I thought as well. Looking at the plot it seems that the text is antialiased but the arrows are not. @jypeter @durack1 This is as if the png was saved with a certain resolution and then downsampled. How does a vector image look on the screen? What if the png is saved with the same resolution as the screen. Do you still have the problem?

[2017-09-05 19:40] danlipsa commented on #245
@doutriaux1 Indeed, on linux I have 2.10 on mac I have 2.12.

[2017-09-05 19:46] dnadeau4 commented on #245
I just pushed a change on cdtime to make sure I deference the pointer correctly.
https://github.com/UV-CDAT/cdtime/commit/1111ec47f943b30f5125fa9d35a77c4d9fc8a3be

[2017-09-05 20:18] doutriaux1 commented on #245
@dnadeau4 that fixes it on the mac! Thanks!

[2017-09-05 21:08] danlipsa commented on #245
@doutriaux1 Is this on conda nightly?

[2017-09-05 21:42] doutriaux1 commented on #245
@danlipsa it is a py3 issue, reverted to py2 only (like v2.10) it's on conda-forge queue should be in overnight

[2017-09-05 22:09] danlipsa commented on #245
Thanks @doutriaux1 @dnadeau4 I did a python setup.py install and that fixed it.

[2017-09-05 22:09] #245 closed

[2017-09-05 22:11] doutriaux1 commented on #245
@danlipsa linux cdtime is now on conda-forge, expecting mac version around midnight PDT tonight

[2017-09-05 22:16] lee1043 commented on #238
@taylor13 I believe below is what you suggested. Each of the bands was stretched to have 240 color levels. ```LinearSegmentedColormap``` of ```vcs``` ([details here](https://matplotlib.org/examples/pylab_examples/custom_cmap.html)) was applied.

![test_taylor_cmap_stretch](https://user-images.githubusercontent.com/17091564/30085724-c1958722-924c-11e7-858c-29c8e4e621b9.png)

Sharing below code for

[2017-09-05 22:20] durack1 commented on #238
@lee1043 I took your code above and wedged it into a file, just so it's easy to scroll through the various comments (the code blocks take a while to get through!) If you're happy with the edit, do you want to purge your code block above?

[2017-09-05 22:21] durack1 commented on #238
@lee1043 and nice work on these palettes too! @taylor13 thanks for your tireless work back in the dark ages of VC-DAT too!

[2017-09-05 22:32] lee1043 commented on #238
@durack1 good to learn that I can attach the ascii file. Thanks!

[2017-09-05 22:54] durack1 commented on #238
@lee1043 you can also purge your own (and others) comments, so after imparting github wisdom I shall now delete my redundant comments (this, and above)

[2017-09-05 23:48] lee1043 commented on #238
@taylor13 Thanks for clarifying what you were looking for and here it is:

![test_taylor_cmap_discrete](https://user-images.githubusercontent.com/17091564/30088237-f084e980-9259-11e7-912d-e0115523ea2f.png)

Plotting code:
[taylor_colormaps_discrete.py.txt](https://github.com/UV-CDAT/vcs/files/1279301/taylor_colormaps_discrete.py.txt)

[2017-09-06 00:16] lee1043 opened #246 "Colormap for difference or anomaly field needs adjustment"
When you see colorbar at range of [-10, 0] and [0, 10], you will see both colors are same. It looks like colors are somehow shifted by using 16, 240 range.

![test](https://user-images.githubusercontent.com/17091564/30088734-08df571a-925d-11e7-94b4-3e0f753410ec.png)

It is expected to have colorbar something like below. You will notify colors are contrasted at zero.

![](https://user-images.github

[2017-09-06 00:37] doutriaux1 commented on #246
@lee1043 I think this is because by default getcolors splits the color range (0,255) in two halves and use the first half for negative values and the second half for positive values, as the result you're right the colors just before and just after zero are almost identical.

[code]

Note colors before and after 0 and 127 and 128. ALmost identical

I'll revise the algorithm, for now please use `spl

[2017-09-06 14:30] doutriaux1 commented on #245
mac still in conda-forge queue... 17hours... unbelievable...

[2017-09-06 14:46] danlipsa commented on #245
@doutriaux1 No worries ... I already installed the correct version manually.
I wonder if there is any way to trigger a vcs rounds of tests each time we change one of its conda packages. This way, we'll know if one of the packages broke something.

[2017-09-06 15:04] doutriaux1 commented on #245
@danlipsa in this case that wouldn't help us because the test suite passed against cdtime. I did manually test vcs on both mac and linux when I put the py3 code in, and we did find some breakage already then. One way to achieve this would be to run vcs, cdms, etc.. as part of cdtime test suite, but it would take a long time...

[2017-09-06 15:05] jypeter commented on #187
I'll try to remember checking that in 2.10 when I'm finished backing up my VM. If I can't do that before the bus leaves, and then I'm away till Monday

[2017-09-06 15:20] jypeter commented on #238
Nice!

@doutriaux1  are the last 16 color indices still _protected_ so that you are sure to always get the same 16 basic colors for lines, text, etc? Because I tried to use red and green (indices 253 and 254 or something like that) when using _bl_to_darkred_, but the colors I got were more yellow-orange, like in the middle of bl_to_darkred

[2017-09-06 15:45] doutriaux1 commented on #238
@jypeter no since `2.10` there's no more protected colors. I know it's a pain for older colormaps. This might get better in `3.0` we have ideas for colormaps.

[2017-09-06 16:14] lee1043 commented on #246
@doutriaux1 Thanks for solution. Curious what split is for and how it work.

Also, above code does not work when I set levels as below, assign same color between -10 to 10.
[code]

Returning error message is:
[code]

Is there any constraints when I have 0 in levels?

[2017-09-06 16:17] doutriaux1 commented on #246
@lee1043 what? Let me try this. It should work. Can you point me to your code?

[2017-09-06 16:18] lee1043 commented on #246
![test](https://user-images.githubusercontent.com/17091564/30122699-414dfeda-92e4-11e7-8acc-3db439db1741.png)

```split=0``` solved the color issue for now. Thanks to @doutriaux1 .

[2017-09-06 16:21] lee1043 commented on #246
@doutriaux1 Here is the code that returns error when level is not including 0 and split=0 is not being used.
[test.py.txt](https://github.com/UV-CDAT/vcs/files/1281828/test.py.txt)

[2017-09-06 16:26] doutriaux1 commented on #246
@lee1043 the test works for me. Which vcs are you using?

[2017-09-06 17:08] lee1043 commented on #246
@doutriaux1
[code]

[2017-09-06 22:26] zshaheen opened #249 "Docstring for color related methods are incorrect"
The docstring for `vcs.colormap.Cp.setcolorcell()` and other related methods needs to be updated. The RGB values need to be between 0-100, not 0-255.

[code]

However, `vcs.setcolorcell` seems okay, but don't state the valid range of values.

[code]

[2017-09-07 15:01] embrown commented on #249
*sigh* Sorry, guys.

[2017-09-07 15:11] doutriaux1 commented on #249
don't worry @embrown you did SOOOO much for this doc that we are forever in debt!

[2017-09-07 15:42] embrown commented on #249
@doutriaux1 I've been meaning to ask, are the doctests playing nicely with the suite of vcs tests?

[2017-09-07 16:48] doutriaux1 commented on #249
@embrown I have all the plugs in, I need to turn this option on now

[2017-09-07 21:23] #228 closed

[2017-09-07 23:10] zshaheen commented on #249
@embrown You really did a great job with the doc strings!! Seriously, they were a total life saver. :)

[2017-09-11 09:52] jypeter opened #251 "Coordinates displayed in interactive mode are not good (2.12 and earlier)"
@doutriaux1 when you plot something and then use `x.interact()` in order to be able to click on the canvas and see the coordinates of the point you are clicking on, you can get **slightly or really wrong coordinates**. There is probably a wrong scaling factor, because:
- you seem to get correct coordinates if you click on the lon=0, lat=0 point
- the problem gets worse if you use `ratio='autot'`

[2017-09-11 14:13] jypeter commented on #184
@doutriaux1 I have just tried this in 2.12, and I get another (but similar) error. Before it broke on `maxNorm = vectors.GetMaxNorm()`, and now it breaks on `vectors.GetRange(self._vectorRange, -1)`

[code]

[2017-09-11 14:17] doutriaux1 commented on #251
@jypeter I will take a look right away

[2017-09-11 23:50] lee1043 opened #253 "Taylor diagram loses y-axis with 2.12 version"
I am testing the Taylor Diagram with 2.12 version but it looks like it is losing y-axis as showing below.

![index](https://user-images.githubusercontent.com/17091564/30301647-daf593b0-9710-11e7-9673-dba2e58b5ab9.png)

[code]

It also gives warning as below, not sure it is related to lose y-axis.

[code]

[2017-09-11 23:53] lee1043 commented on #253
@doutriaux1 Sorry, accidentally clicked assigning part, but maybe it was right?

[2017-09-12 00:17] doutriaux1 commented on #253
@lee1043 are you using mesa or not? I generated the jupyter notebooks with mesa and I don't see this issue

[2017-09-12 07:16] jypeter commented on #253
@lee1043 Charles has apparently fixed the Warning (https://github.com/UV-CDAT/genutil/issues/14). I initially also got this warning when using vcs (boxfill plot), but I attributed it to `genutil.minmax` since it was mentioning both _minimum_ and _maximum_.

There could of course be some stray minimum and maximum calls not using _minmax_ out there

[2017-09-12 16:15] lee1043 commented on #253
@doutriaux1 How I can see if I am using mesa?

[code]

Not sure this is right way to check. Does mesa come with uvcdat-2.12 conda install?

[2017-09-12 16:27] doutriaux1 commented on #253
@lee1043 that's the right way. Ok it means you're not using mesa in this environment. Thanks I'll take a look. @danlipsa any idea?

[2017-09-12 16:29] doutriaux1 commented on #253
@lee1043 you can choose with or without mesa, simply add `mesalib` to the command line or install `mesalib` after the fact. I will update the instructions page to make this clearer.

[2017-09-12 16:34] lee1043 commented on #253
@doutriaux1 Thanks, but it seems like ```conda install mesalib``` does not work.  Did I miss something?

[code]

[2017-09-12 16:36] lee1043 commented on #253
@jypeter @doutriaux1 Thanks for inform. Does this correction included in the nightly version?

[2017-09-12 16:37] zshaheen commented on #253
@lee1043 Here's the command to install mesalib:
[code]

[2017-09-12 16:48] lee1043 commented on #253
@zshaheen Thanks, it works. @doutriaux1 Having ```mesalib``` fixed the issue. Thanks.

[2017-09-12 17:09] doutriaux1 commented on #253
@lee1043 that's how I made the notebook. I need to figure out why non mesa does not work. @danlipsa any idea?

[2017-09-12 17:25] danlipsa commented on #253
@doutriaux1 Maybe it is clipped by the clip planes in fittoviewport (the clip plane and the axis have the same coordinates, one implementation chooses to clip the other chooses to let it pass)?

[2017-09-12 21:14] doutriaux1 opened #254 "fillarea creates black area"
[code]
generates:
![badfill](https://user-images.githubusercontent.com/2781425/30348572-bc410a76-97c4-11e7-96e9-b2c6b2f51c64.png)

[2017-09-12 21:15] doutriaux1 commented on #254
why is there black?

[2017-09-12 21:16] doutriaux1 commented on #254
using a line produce the correct result:
![okline](https://user-images.githubusercontent.com/2781425/30348651-fcfc0bba-97c4-11e7-9aee-ad1a7e431dc9.png)

[2017-09-12 21:33] durack1 commented on #254
@doutriaux1 even though it's wrong, the [top image kinda looks like 3D](https://github.com/UV-CDAT/vcs/issues/254#issue-257184863).. Kinda cool

[2017-09-13 06:46] jaigsingla opened #256 "x.plot(s,box) error"
Hi,

Recently downloaded and configured this sw. All gallery examples are working ok.

While plotting data with box encountered this issue

line 1842 vcs2vtk.py  -> colors.InsertNextTypedTuple(vtk_color)
Attribute error : InsertNextTypedTuple

please help

[2017-09-13 07:22] jypeter commented on #254
Not much 3D. I have tried to shake my screen to see if the shadow was moving, but no result :p

[2017-09-13 07:31] jypeter commented on #256
Can you be more specific? Which version of uvcdat are you using, and on which platform? If the examples worked, can you post a small script that will reproduce the error, preferably using the _test data_ that you can download with:
`python -c 'import vcs; vcs.download_sample_data_files(); print "\nFinished downloading sample data to", vcs.sample_data'`

This will help @doutriaux1 check what's wron

[2017-09-13 07:55] jaigsingla commented on #256
Hello,

Created ENV as given on site suppose to be version 2.12 on centos.
Downloaded sample datasets also. Able to reproduce results as seen in
gallery. But while using CLT.nc
https://uvcdat.llnl.gov/Jupyter/Basic_VCS_demo/Basic_VCS_demo.html getting
reported error

On Sep 13, 2017 1:01 PM, "Jean-Yves Peterschmitt" <notifications@github.com>
wrote:

Can you be more specific? Which version of uvcd

[2017-09-13 09:05] jypeter commented on #256
I have just _run_ the example in `Basic_VCS_demo.html` by copy/pasting the relevant parts in my interpreter and just using `bg=False` instead of _True_ and it worked fine

@jaigsingla you may want to paste the full traceback, instead of just
[code]
This will help Charles

[2017-09-13 09:30] jaigsingla commented on #256
Hello ,

Pls find attached file for more insight.

[trace.txt](https://github.com/UV-CDAT/vcs/files/1298914/trace.txt)

[2017-09-13 09:34] jypeter opened #257 "Misc 'bg' questions/problems (2.12)"
@doutriaux1 @danlipsa I have copy/pasted https://uvcdat.llnl.gov/Jupyter/Basic_VCS_demo/Basic_VCS_demo.html after reading https://github.com/UV-CDAT/vcs/issues/256

The first time I did not pay attention and kept `bg=True`, which led me to notice the following things:
- I thought I could use `x.showbg()` in order to have a look at the canvas, but **showbg is still missing**. Seems like [you report

[2017-09-14 09:13] jaigsingla commented on #256
Hello Charles,

waiting for your comments on above

[2017-09-14 15:27] doutriaux1 commented on #256
@jaigsingla I just ran this w/o any problem with a 2.12 env, do you mind posting the reslut of
[code]

In particular look at what it says for vtk-cdat. I'm curious if you got the wrong vtk

[2017-09-14 15:29] doutriaux1 commented on #256
For ref this is what my `conda list` gives with a working 2.12 env:
[code]

[2017-09-14 16:19] doutriaux1 opened #258 "vtk multiprocessing issues"
[code]

@danlipsa running this with mesa appears fine, but using a large number (10000) I start to get LLVM errors

Runnnig this with non mesa on my ubuntu leads to all windows going to the screen (never deleted). And windows do stay up if you CTRL+C kill the script.

This is related to: https://github.com/ACME-Climate/acme_diags/issues/88

[2017-09-14 18:13] danlipsa commented on #258
@doutriaux1 I was able to run your test to completion on my machine. It hogged my machine prettly badly for a couple of minutes. I think the main bottleneck is openning so many windows. OSs were not designed to have  hundreds of windows open in the same time. This is why OSMesa works much better - it does not open a window.
To adress this:
1. add a x.close() at the end of your myplot function
2. U

[2017-09-14 18:39] doutriaux1 commented on #258
@danlipsa updating my test as follow on ubuntu as follow
run it with 120 and it doesn't come back. Will try the partition thing next.
Als are you running on mac or linux? mesa or non-mesa?

[code]

log before hanging:
[code]

[2017-09-14 19:03] doutriaux1 commented on #258
does not hang with the partition bit though. @zshaheen is looking into clear/close del(canvas) to see if it helps

[2017-09-14 19:04] doutriaux1 commented on #258
I still think that there's some memory corruption somewhere, look at @zshaheen original error

[2017-09-14 19:34] danlipsa commented on #258
@doutriaux1 Linux, on-screen (nvidia card/driver). Your error seems like a graphics driver issue - nvidia is the way to go on linux.

[2017-09-15 07:28] jypeter commented on #258
nvidia may not be the way to go on the remote servers. But then it would be foolish to open multiple windows on a remote server. Except maybe before going on a long vacation

[2017-09-15 09:14] jaigsingla commented on #256
Hello ,

I am not getting vtk listing in this list.
actually , I have installed vtk separately.

[2017-09-15 14:44] doutriaux1 commented on #258
I agree with @jypeter beside the original issue is spotted when using `mesalib` so I really think it has something to do with VTK or vcs. Beside running the acme_diags with matplotlib is fine.

[2017-09-15 14:46] doutriaux1 commented on #256
@jaigsingla please see: https://github.com/UV-CDAT/uvcdat/wiki/install

[2017-09-15 14:46] #256 closed

[2017-09-15 15:20] danlipsa commented on #258
@doutriaux1 @jypeter I agree with you guys, osmesa has its uses. My point was that if you want hardware acceleration on linux you should choose nvidia as they have the most stable drivers on linux from all card manufacturers. Regarding the diags bug I would try to save the data for all plots and rerun the plot that fails by itself. I have the feeling that this is where the problem is rather than t

[2017-09-15 15:41] jaigsingla commented on #256
Hi ,

Used creating the conda channel approach.
I think I should try installation from ENV file.

[2017-09-15 15:42] doutriaux1 commented on #258
@danlipsa I still think it's parallelism, for example if I run the test suite pretty much anywhere (my redhat6 , travisci, circleci) with the full number of cpus I get segmentation fault or some sort of errors, rerunning only the failed test makes them pass. There's some sort of vcs combination that makes it crash. @zshaheen is trying to isolate the *perfect storm* combination

[2017-09-15 15:51] doutriaux1 commented on #256
@jaigsingla that's how I installed it, did you add vtk after the fact? You need to use the vtk-cdat package which IS vtk but we need an much more recent version that what's on `conda-forge` hence our name. If you install `vtk` after the fact you will essentially erase `vtk-cdat` and endup with a lesser vtk.

[2017-09-15 15:59] danlipsa commented on #258
@doutriaux1 I see. Are the same tests that randomly fail? How many are there that fail? The printout on the acme_diags issue looks as 'vcs does not like the data' issue rather than a memory access issue. Is the error always manifest itself that way? We could add some debug code at that location to learn more about the data that vcs gets.

[2017-09-15 16:01] doutriaux1 commented on #258
@danlipsa yes that what really worries me, it seems that running it in parallel somehow tweaks the data used by VTK! Hence my strong inclination toward some kind of memory shared by multiple VTK instance accross processes or just bad memory access. I'll run the test suite in full multiple time and see if it's always the same ones that fail, good idea. Will report soon.

[2017-09-15 16:02] jaigsingla commented on #256
Hi,
Actually I installed vtk afterwards because it was flashing some error
related to vtk api

On Sep 15, 2017 21:21, "Charles Doutriaux" <notifications@github.com> wrote:

[2017-09-15 16:20] jaigsingla commented on #256
Shall I reinstall full or shall I download only vtk-cdat package and install the same

[2017-09-15 16:26] doutriaux1 commented on #256
not sure what else vtk brought in, vtk-cdat only only is probably enough, but just to be safe I would start from scratch

[2017-09-15 16:47] jaigsingla commented on #256
Actually one more doubt . For uninstallation just need to rm -rf envs ??
And when again command is executed it's linking packages .

On Sep 15, 2017 21:57, "Charles Doutriaux" <notifications@github.com> wrote:

[2017-09-15 17:00] doutriaux1 commented on #256
yes rm -rf envs/[name] is enough. You can also use the conda command
[code]

[2017-09-18 05:35] jaigsingla commented on #256
[installation_trace.txt](https://github.com/UV-CDAT/vcs/files/1309788/installation_trace.txt)

Hello,
I have recreated env and listed conda list. output is attached in the file.
Facing Import error as vtkIOFFMPEGPython .
Please find attached file for details.

thanks
Jai

[2017-09-18 07:20] jypeter commented on #256
You have some strange things in your environment, like lots duplicated packages coming from pip
[code]
In my case I have for 2.12
[code]
What packages did you install with pip?

I suggest you do a standard installation of uvcdat-2.12, then **clone** it, and install you own stuff in the cloned version. This will make it possible to check how things work in a clean default environment, and in your s

[2017-09-18 13:50] doutriaux1 commented on #256
It seems like you might be have installed vtk in your root environment before, con you do a
[code]

[2017-09-18 15:15] doutriaux1 commented on #256
also the fact that you're getting numpy 1.12 is suspicious, it should be 1.13

[2017-09-18 15:26] jaigsingla commented on #256
Hello ,
Earlier there was no vtk in the machine. When above reported error flashed , I installed vtk. But, then it gave boxfill issue. From error logs it looks like it is pointing out vtk dependent module??

[2017-09-18 15:29] doutriaux1 commented on #256
@jaigsingla it's picking up another VTK on your system, one that does not have ffmpeg bindings or was built against an older version of FFMPEG. I'm suspecting you have it installed. Also uvcdat should come with numpy 1.13 on a clean system you're getting 1.12 so something is odd here.
At this point I would recommend either starting fresh or looking at your env maybe your LD_LIBRARY_PATH is set to

[2017-09-18 15:31] jaigsingla commented on #256
OK Charles. Will check tomorrow and cm back to you. Thanks

[2017-09-18 17:19] danlipsa opened #259 "regression regarding colormaps color range of (16,240)? ￼"
I run the nightly uvcdat tests on my machine and I get some failures:

test_vcs_basic_vectors_45_2_amplitude.png
test_vcs_click_info_boxfill.png
test_vcs_legend_boxfill_horizontal_ext1_y_ext2_y.png

@doutriaux1 Do you know anything about this?
Not sure if this affects the release.

![test_vcs_click_info_boxfill](https://user-images.githubusercontent.com/6180727/30554847-de775fb0-9c73-11e7-8eea-a06

[2017-09-18 17:22] doutriaux1 commented on #259
@danlipsa try re-running with -f and see if they pass
if they do, that means this multiprocess memory corruption thing is all over the place.

[2017-09-18 17:23] doutriaux1 commented on #259
[code]
reruns only the ones that failed before

[2017-09-18 17:28] danlipsa commented on #259
@doutriaux1 Does not seem so:

(nightly-20170918) [~/projects/vcs/src (context2d $%)]$ nosetests -s tests/test_vcs_basic_vectors.py
45 72
Test file  : tests_png/test_vcs_basic_vectors_-180.png
Source file: uvcdat-testdata/baselines/vcs/test_vcs_basic_vectors_-180.png
Found Baselines:
- uvcdat-testdata/baselines/vcs/test_vcs_basic_vectors_-180.png
Comparing tests_png/test_vcs_basic_vectors_-180.png

[2017-09-18 17:33] doutriaux1 commented on #259
hum.. With mesa? Let me try. On my mac here.

[2017-09-18 17:36] doutriaux1 commented on #259
passes for me. Did you install nose inside your conda env? i had issue before if I was using not actually in the env.

[2017-09-18 18:12] danlipsa commented on #259
Initially I run this with hardware driver, but osmesa behaves the same. I did install nose in my conda env. Very strange. I'll take a close look ...

[2017-09-18 21:42] danlipsa commented on #259
@doutriaux1 This is what I get for the rainbow color map. Should this be white and black?
This is what the baseline shows:
https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_basic_vectors_45_2_amplitude.png

[84, 88, 9, 100]

[85, 88, 9, 100]

[2017-09-19 06:47] jaigsingla commented on #256
Hello Charles,

there is no other vtk in root env installation. There is only a vtk installed in one of envs and its version is 6.3.0 .  Is this the suspect but this i have installed in environment after getting vtkFFMEG error.

[2017-09-20 11:31] jaigsingla commented on #256
Hello,
Everything seems to be installed properly ? Can anyone help

[2017-09-20 14:11] doutriaux1 commented on #256
@jaigsingla can you please try this for me,
* (re)move your miniconda2 directory
* install a fresh miniconda
* create an env from [this file](https://raw.githubusercontent.com/UV-CDAT/uvcdat/master/conda/2.12.yml)

[code]

Please let me know if this helps.

[2017-09-20 14:24] jaigsingla commented on #256
I have full anaconda currently. Pls instruct from where to install miniconda

On Sep 20, 2017 19:41, "Charles Doutriaux" <notifications@github.com> wrote:

[2017-09-20 14:30] doutriaux1 commented on #256
@jaigsingla it would work too with anaconda, but miniconda is faster
[code]

[2017-09-20 15:57] danlipsa commented on #259
@doutriaux1 This works correctly on mac. I'll install a fresh nightly on my linux.

[100, 100, 100, 100.0]

[0, 0, 0, 100.0]

[2017-09-20 16:33] danlipsa commented on #259
It works as I said in my first posting for fresh nightly Linux.

[2017-09-20 16:42] doutriaux1 commented on #259
really? Ok let me try it as well then.

[2017-09-20 16:44] doutriaux1 commented on #259
works for me!

[2017-09-20 16:44] doutriaux1 commented on #259
@danlipsa are you sure your "uvcdat-testdata" directory is up to date?

[2017-09-20 16:45] doutriaux1 commented on #259
are you using the correct nose?
[code]

[2017-09-20 17:49] danlipsa commented on #259
@doutriaux1 I am only looking at vcs.elements['colormap']['rainbow'] after vcs.init(). Here is the init sequence on mac. the printout is after Cp.__init__ Something funky does go on.
('default', ', ', 'default')
('blue2darkred', ', ', 'default')
('bl_to_darkred', ', ', 'default')
('classic', ', ', 'default')
('viridis', ', ', 'default')
('white2blue', ', ', 'default')
('white_to_blue', ', ', 'defa

[2017-09-20 17:52] danlipsa commented on #259
Here is the init sequence for Unix
('default', ', ', 'default')
('blue2darkred', ', ', 'default')
('bl_to_darkred', ', ', 'default')
('classic', ', ', 'default')
('viridis', ', ', 'default')
('white2blue', ', ', 'default')
('white_to_blue', ', ', 'default')
('rainbownogreen', ', ', 'default')
('rainbow_no_grn', ', ', 'default')
('magma', ', ', 'default')
('rainbow', ', ', 'default')
[84, 88, 9, 10

[2017-09-20 18:09] doutriaux1 commented on #259
is it possible it get overwritten from your ${HOME}.uvcdat directory? Try to remove it.

[2017-09-20 19:01] danlipsa commented on #259
@doutriaux1 Good guess. Thats it. Thanks!

[2017-09-20 19:01] #259 closed

[2017-09-21 10:44] jaigsingla commented on #256
Hello ,
I could get miniconda. Can I do offline installation of uvcdat as i dont have internet on my working machine.
How to download all relevant packages and install it on offline machine.

[2017-09-21 14:40] doutriaux1 commented on #256
@jaigsingla we have an older page explaining this, please let me know if it is still relevant @jypeter helped write the first page. See: https://github.com/UV-CDAT/uvcdat/wiki/Anaconda_Offline_Installation

[2017-09-22 11:00] jaigsingla commented on #256
Hello All,
thanks for help. I could get through installation issue on linux machine. On linux machine terminal it give display related error but when i am using it from windows using mobaxterm , i am able to see the results. why so ?
Is this SW works well on windows?

[2017-09-25 13:52] doutriaux1 commented on #256
Do you have some sort of X11 installed on your windows machine? Only Windows 10 is supported see: https://github.com/UV-CDAT/uvcdat/wiki/CDAT-under-windows

[2017-09-26 09:10] jaigsingla commented on #256
Using mobaxterm for connectivity to linux. It has X11 feature.
I have win 8.1 currently.  Can we generate .exe out of this which shall run on multi platform.

[2017-09-26 16:17] doutriaux1 commented on #256
unfortunately no.

[2017-09-28 22:51] lee1043 opened #261 "Overwriting option for matplotlib2vcs?"
[code]
https://uvcdat.llnl.gov/docs/vcs/misc/colors.html

When converting matplotlib colormap to VCS, by default ```vcs_name``` becomes same as the matplotlib colormap, or you can assign your own name. But if the name is already being used as one of original VCS colormap, it assign "_001" at the end of name.

run:
[code]

message:
[code]

run:
[code]

message:
[code]

Wondering if we can have "ove

[2017-09-28 23:26] doutriaux1 commented on #261
@lee1043 that's a nice idea, I'll add this. Might want to protect the vcs `defaults` such `inferno` though.

[2017-09-29 20:41] lee1043 commented on #261
@doutriaux1 agreed, overwriting should be optional, not default.

[2017-09-29 20:44] lee1043 commented on #238
@doutriaux1 Could you remind me what was the one single line commend to bring all matplotlib colormaps in?

[2017-09-29 20:48] doutriaux1 commented on #238
vcs.utils.loadmatplotlibcolormaps()

[2017-09-29 21:39] lee1043 commented on #238
@doutriaux1 Thanks!

[2017-10-03 18:06] lee1043 opened #262 "viewport error for polar map projection"
I was following the [tutorial](https://uvcdat.llnl.gov/Jupyter/boxfill/boxfill.html) but setting polar map projection returns viewpoint error. It happened on Crunchy, but when I was running this on my Mac it was fine.

[code]

Error:
[code]

VCS version
[code]

[2017-10-03 20:26] lee1043 commented on #262
Created a new conda env with pmp and latest vcs, then problem solved. Thanks to @doutriaux1

[code]
![test](https://user-images.githubusercontent.com/17091564/31147328-604720ea-a83e-11e7-8d14-582878b4329d.png)

[2017-10-03 20:26] #262 closed

[2017-10-09 14:39] doutriaux1 commented on #254
@danlipsa @aashish24 any progress on this? I ran into this again last week.

[2017-10-09 15:15] doutriaux1 commented on #254
went back all the way to commit: 3c70e0f685d3ec886c52e37aece284a5aa791143 bug was here.

At this commit vtk api changed and I can't get a working vtk

[2017-10-09 16:07] doutriaux1 commented on #254
@danlipsa @aashish24 I can reproduce this in pure vtk
[code]

Should I submit a bug on VTK site?

[2017-10-09 16:14] doutriaux1 commented on #254
reported there: https://gitlab.kitware.com/vtk/vtk/issues/17141

[2017-10-10 13:40] danlipsa commented on #254
@doutriaux1 You cannot fill concave polygons in OpenGL. You'll have to split them in triangles.
https://www.opengl.org/discussion_boards/showthread.php/153256-How-draw-fill-non-convex-polygon-in-OpenGl
Do we need to add this functionality to VCS?

[2017-10-10 15:43] doutriaux1 commented on #254
yes! definitely! I ran into this twice in two weeks now. I'll take a closer look at your post and see if we can "hack" this.

[2017-10-10 19:00] lee1043 opened #263 "3d plot example not working with v2.12"
[3D plot example from UVCDAT gallery](https://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html) is not reproducible with vcs 2.12 version.

Error message shows as below.

[code]

[2017-10-11 19:19] doutriaux1 commented on #254
@danlipsa actually it was easy to make it work:
[code]

simply revert the vertices. I'll implement a patch soon. It's clockwise vs counterclockwise issue

[2017-10-11 20:20] danlipsa commented on #254
@doutriaux1 Great.

[2017-10-12 00:10] doutriaux1 commented on #254
hum... that wasn't it. It was enough for this example but not enough for my full blown example. @danlipsa any good/fast functions I can use in VTK to triangulate the polygon first?

[2017-10-12 07:06] jypeter commented on #254
@doutriaux1 Can you use [scipy.spatial.Delaunay](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.spatial.Delaunay.html) ?

[2017-10-12 15:17] doutriaux1 commented on #254
@jypeter I will try it, but I would like to avoid making scipy a dependency of vcs.

[2017-10-12 15:24] danlipsa commented on #254
@doutriaux1 Try this:
https://www.vtk.org/doc/nightly/html/classvtkContourTriangulator.html
I don't think Delaunay works as the input there are points not a polygon. But VTK has that as well.

[2017-10-13 17:48] doutriaux1 commented on #254
@danlipsa @aashish24 I got a barebone example of what essentially vcs is doing for a fillarea but in pure VTK

Not sure how to use the vtkContoureTraingulate though any hint welcome:
[code]

[2017-10-25 00:04] lee1043 opened #265 "Vector plot legend"
I am working on plotting using vector and got two questions as below:

![clim_jja_precip_850uv_slp_east_asia_ref](https://user-images.githubusercontent.com/17091564/31973877-27de7618-b8dd-11e7-937e-0a18c8819e40.png)

Two questions from here are:

1. Can I move the location of vector legend to avoid overlapping with the colorbar? For example I want to put it under the left bottom of the plotting bo

[2017-11-02 17:31] durack1 opened #266 "Plot label defaults need revision to keep them on the visible canvas"
The following code leads to plot titles and axis labels falling off the canvas:
[code]
See image below for example - red text denotes suggested changes
![171102_antialiasing_64_](https://user-images.githubusercontent.com/3229632/32340791-dce54e9c-bfb8-11e7-83c4-dfa6266871e4.jpg)

[2017-11-02 17:43] durack1 opened #267 "Antialiasing doesn't appear to work for png output (2.12)"
Using the code example in #266 I have been trying to generate clean `*.png` output, however it seems that antialiasing is not working for this output format.

Example output seems to show slightly different file sizes, but the line output in the examples doesn't appear to improve with a high antialiasing setting - there are jaggies in all of the png outputs, whereas the pdf output is much sharper.

[2017-11-02 17:51] doutriaux1 commented on #267
@aashish24 @danlipsa that's the bug I was just talking about with you.

[2017-11-06 17:30] durack1 commented on #162
For a matplotlib example, with multiple options (blue marble, topographic relief etc) see https://matplotlib.org/basemap/users/geography.html

[2017-11-06 17:41] doutriaux1 commented on #162
@durack1 yes but these are canned images by the developers, correct? We want full featured stuff, with any image.

[2017-11-06 18:23] lee1043 commented on #162
@doutriaux1 @durack1 Yes, it is canned image, but key thing of it is that the map image can be fitted to any type of map projection or region, automatically.

[2017-11-06 18:28] durack1 commented on #162
The actual function is `warpimage()` ***which is only global*** - see: use an abitrary image as a map background. The image must be global, covering the world in lat/lon coordinates from the international dateline eastward and the South Pole northward.

So there is considerable scope to do things alot better here!

[2017-11-08 14:44] danlipsa opened #268 "Plot creates new graphics method objects"
Plotting a boxfill with a given graphics method still creates a new graphics method. Why?

Also, when we do not pass our own graphics method, a new gm is created, but we don't know its name so that we can delete it. We should provide a why to access the name of the gm created so that we can deleted after we plot.

@doutriaux1 Do you remember the reason why graphics methods are created in the plot

[2017-11-08 14:51] danlipsa commented on #268
@aashish24 Any comments on this?

[2017-11-08 15:20] doutriaux1 commented on #268
@danlipsa we make copy of the gm for MANY reasons such as changing labels, title, etc... changing default levels,  sometime we also create new templates, for aspect ratios etc... But I thought they were cleaned up automatically once the canvas is cleared.

[2017-11-08 15:46] danlipsa commented on #268
@doutriaux1 If that's the case, it is fine even if a little disconcerting to new users such as myself. :smile:

[2017-11-08 15:56] doutriaux1 commented on #268
@danlipsa can you double check it goes away after a clear? Do you think we should add a special "tag" in the name so that we do not list "nuder the hood autogenerated" objects in the list functions?

[2017-11-08 15:58] doutriaux1 commented on #268
also you should use `vcs.listelements("boxfill")` not `vcs.elements["boxfill"].keys()` because the last one is the *developer* hook and could change in the future whereas the first one is the official API call

[2017-11-08 16:39] danlipsa commented on #268
Yes, it does go away when you call clear. I do think we should add a special tag and not list those graphics methods as the user has no idea what they are and who created them. In my mind, they should be deleted after plot finishes as are never used again. But its a low priority task as long as we delete everything on clear. Thanks for the listelements tip.

[2017-11-08 19:08] doutriaux1 opened #269 "streamlines"
[code]

![blah](https://user-images.githubusercontent.com/2781425/32569154-20ff92ca-c475-11e7-9ce2-4747be76f63c.png)

[2017-11-08 19:26] aashish24 commented on #269
did it broke recently?

[2017-11-08 19:26] danlipsa commented on #269
@doutriaux1 Try setting gm.startseed to be inside the domain.

[2017-11-08 19:36] doutriaux1 commented on #269
that did it!
[code]

@danlipsa we should default it to None and manually pick a point inside the domain

[2017-11-08 19:38] doutriaux1 commented on #269
@danlipsa it's probably worth explaining in your notebook tutorial

[2017-11-08 20:43] potter2 commented on #269
I still don't get any streamlines.

import cdms2
import vcs
f1=cdms2.open('uas_6hr_reanalysis_CFSR_1998010100-1998123118.nc')
f2=cdms2.open('vas_6hr_reanalysis_CFSR_1998010100-1998123118.nc')
u=f1('uas',time=('1998-10-27','1998-10-29'),lat=(12,16),lon=(-96,-82))
v=f2('vas',time=('1998-10-27','1998-10-29'),lat=(12,16),lon=(-96,-82))
#u=f1('uas',time=('1998-10-27','1998-10-29'))
#v=f2('vas',time=('1

[2017-11-08 20:50] doutriaux1 commented on #269
@potter2 you need to get a pint within your domain
`gm.startseed = [-90, 0, 0]` has a lat of 0 which is outside of your domain
you want
`gm.startseed = [-90, 14,0] # [x,y,z]

[2017-11-08 21:12] potter2 commented on #269
got it. Thanks now it works

[2017-11-08 21:29] danlipsa commented on #269
@doutriaux1 None for startseed is a good idea. This way I can leave the value as is if the user sets it. We should do that.

[2017-11-08 21:30] danlipsa commented on #269
... If the value is None, we ca set it in the middle of the domain.

[2017-11-08 22:02] potter2 commented on #269
![honduras](https://user-images.githubusercontent.com/2963950/32576957-46773e46-c48d-11e7-927a-d84e457ea153.png)

How do I fix the endpoints of the color bar and the colors? I know this is because of the matplotlib color maps but I just want one of the vcs colormaps.

[2017-11-08 22:06] doutriaux1 commented on #269
which colormap are you using? is it an "old" vcs colormap with reserved colors from 240 to 256?

if so
[code]

[2017-11-08 22:12] potter2 commented on #269
Yes, the old one,. this doesn't work, I still get the blank on each end

sorry to be so dense on this:
import cdms2
import vcs
vcs.utils.defaultColorRange=range(16,240)
f1=cdms2.open('uas_6hr_reanalysis_CFSR_1998010100-1998123118.nc')
f2=cdms2.open('vas_6hr_reanalysis_CFSR_1998010100-1998123118.nc')
u=f1('uas',time=('1998-10-29','1998-10-29','cob'),lat=(12,24),lon=(-96,-82))
v=f2('vas',time=('1998

[2017-11-08 22:17] potter2 commented on #269
I'm trying to make a notebook that someone could use to look at local wind (streamlines) at the time of a hurricane eg. the 1998 Honduras hurricane

[2017-11-09 15:53] jypeter commented on #162
There are also examples of what you can do with cartopy. Check the _Web services_ and _Miscellanea_ sections of http://scitools.org.uk/cartopy/docs/latest/gallery.html

But these examples are getting their data from external map services, not from a local png file. But maybe you could use a local file by using their [shapereader](http://scitools.org.uk/cartopy/docs/latest/tutorials/using_the_shape

[2017-11-13 14:36] danlipsa commented on #268
This might come up for vcdat as users might browse through all graphics methods and might be confused by these temporary gm-s. Will see ...

[2017-11-14 20:16] lee1043 opened #272 "Taylor Diagram with EzTemplate"
When plotting Taylor Diagram in EzTemplate, TD does not have proper border lines.

[code]

![test](https://user-images.githubusercontent.com/17091564/32802496-1110ddf0-c935-11e7-9114-9c73e774bdb0.png)

Boundary lines are showing as rectangular rather than it supposed to be. The ```taylor.referencevalue = 1.``` is not working neither.

[2017-11-14 21:30] doutriaux1 commented on #272
@lee1043 I think the taylor diagrams need a special template in order to work, (it's using some special atrributes of the template), try to start with
[code]

[2017-11-14 21:34] lee1043 commented on #272
Awesome, works as expected! Thanks @doutriaux1

![test](https://user-images.githubusercontent.com/17091564/32806152-6d913e70-c940-11e7-9f6d-2534e2ac2fb7.png)

[2017-11-14 21:34] #272 closed

[2017-11-16 17:59] durack1 opened #274 "Problems with 0.5 to -0.5 longitude grids"
I've just tried to plot up a variable using `vcs` and it appears to fall over with the longitude values which extend from
[code]
The file plotted in `vcs` looks like:
![171116_to](https://user-images.githubusercontent.com/3229632/32907187-0fe0b20e-cab4-11e7-87f2-1e92156cb8a7.png)
Whereas in ferret (admittedly correcting the plot colour ranges to deal with the badly defined missing values) it looks

[2017-11-28 09:00] lee1043 opened #275 "Idea for canvas reinitialization: x.reinit()"
Currently `removeobject` works for removing individual object or template, but I was thinking something like below, so everything can be easily removed but keep canvas alive so it can be re-used.

[code]

This would help when creating thousands of plots as @durack1 , @gleckler1 and I do, but memory usage is keep increasing because of user missed erase some of vcs object. @doutriaux1 What do you th

[2017-11-28 16:22] doutriaux1 commented on #275
@lee1043 I will add a function `vcs.reset()` that will remove all non displayed elements.

[2017-11-28 16:50] durack1 commented on #275
@lee1043 @doutriaux1 I think a `vcs.reset()` function would be ideal, I wonder whether having keyword args as an additional expansion to the function would be useful?

[2017-11-28 17:17] lee1043 commented on #275
@doutriaux1 Great, thanks. May I ask when I expect start using it?

[2017-11-28 17:52] doutriaux1 commented on #275
you may, but you might not like the answer 😸

[2017-12-01 00:30] durack1 opened #276 "Cleanup problems attempting to write to directories with rw- (no execute)"
I've encountered a nasty error that occurs when target directories do not have execute permissions for the user.

The code below will replicate the issue:
[code]

The error is:
[code]

And leads to the directory getting garbled with very weird permissions (that require root perms to change/delete) after the error is thrown. The permissions go from
[code]
to
[code]
@doutriaux1 @danlipsa @aashish24

[2017-12-04 18:35] doutriaux1 opened #277 "vcs gettextextent broken"
does not work if viewport or worldcoordinate are not [0,1,0,1]
anything not centered/valign does not work
rotation does not work

[2017-12-04 20:47] doutriaux1 opened #278 "need a function to get the exact box around text not just bounding box"

[2017-12-06 00:55] doutriaux1 opened #280 "suggested correct attributes should use properties not _"
[code]

[2017-12-07 19:35] doutriaux1 opened #282 "taylor diagrams lack control of "standard deviation" label"

[2017-12-07 19:40] doutriaux1 opened #283 "tayore diagrams std label always centered on template.datawc but should be centered on actual quadrans length"

[2017-12-11 19:23] doutriaux1 commented on #116
[code]
fixes this for me

[2017-12-11 19:23] #116 closed

[2017-12-11 19:27] doutriaux1 commented on #211
In [1]: import vcs
Allow anonymous logging usage to help improve UV-CDAT(you can also set the environment variable UVCDAT_ANONYMOUS_LOG to yes or no)? [yes]/no: no

In [2]: x=vcs.init()

In [3]: x.plot([1,2,3,4,3,2,1])
ERROR: In /export/doutriaux1/miniconda2/conda-bld/vtk-cdat_1503063744037/work/Rendering/OpenGL/vtkXOpenGLRenderWindow.cxx, line 1475
vtkXOpenGLRenderWindow (0x347f3b0): bad X server

[2017-12-11 19:41] doutriaux1 commented on #211
@danlipsa is there a way to know if vtk was compiled against mesalib?

[2017-12-11 22:23] doutriaux1 commented on #222
@lee1043 @chengzhuzhang I'm thinking of adding an option to control this
Two possibilities
[code]
or
[code]

The second one gets you more control, you can turn on/off individual ids

Personally I prefer option 2

The could also have 1 AND 2 but then we need to decide which one overrides the other. I'd say option 2 overrides option 1.

Please comment

[2017-12-11 22:24] doutriaux1 commented on #222
could also be:
[code]

or
[code]

[2017-12-11 22:30] lee1043 commented on #222
@doutriaux1 It would be nice if user can 1) remove all IDs on the plot, or 2) show only few selected IDs on the plot. I guess the option 2 works for this, correct?

[2017-12-11 22:31] doutriaux1 commented on #222
yes you're correct @lee1043 the . ore I think about it the more I think we need 1 and 2

[2017-12-11 22:49] zshaheen commented on #214
@doutriaux1 This is still an issue. Here's how to recreate it:

1. Follow steps 1-6 to create an env here: https://acme-climate.github.io/acme_diags/docs/html/install-config-run.html#environment-for-development
2. Open the created html page and navigate to 'Zonal mean line plots' -> 'ANN'. This is the image
3. To edit the vcs script that created this file, look at this file: https://github.com/ACM

[2017-12-11 23:36] doutriaux1 commented on #227
[code]

works for me
~

[2017-12-11 23:36] #227 closed

[2017-12-12 02:27] chengzhuzhang commented on #222
Option 2 seems better to me.

When I use td.addMarker, if I don't set "id = ", the id name won't show up in the plot. It works the same as option 2, right?

[2017-12-13 18:05] #211 closed

[2017-12-13 20:32] #275 closed

[2017-12-13 21:44] #282 closed

[2017-12-13 21:44] #283 closed

[2017-12-13 22:23] #222 closed

[2017-12-14 22:29] doutriaux1 commented on #218
works

[2017-12-14 22:29] #218 closed

[2017-12-18 21:23] doutriaux1 opened #289 "drawMarker and legend cannot not draw a line."
need a mechanism to allow for not drawing a line

[2017-12-18 21:30] doutriaux1 commented on #289
to be precise you can turn off a line by setting its width to 0, BUT the legend spacing always assume a line is going to be drawn.

[2017-12-18 23:29] doutriaux1 opened #291 "we should be able to stop font scaling at some number for the drawLinesandMarkers"

[2017-12-19 04:16] chengzhuzhang commented on #289
It looks good to me. Makes sense now! I think matplotlib has similar function.

[2017-12-20 00:13] #289 closed

[2017-12-21 15:52] #291 closed

[2018-01-02 03:57] embrown commented on #249
@charlesdoutriaux @zshaheen
Wanted to tag you both here, rather than open up a new issue, because I don't know if it's a known problem.
The readthedocs entry isn't rendering any of the API documentation:
http://cdat-vcs.readthedocs.io/en/stable/API/Canvas.html

[2018-01-02 04:25] zshaheen commented on #249
@embrown @doutriaux1 Ah, that sucks. We'll look into this. Hope to see you soon!

[2018-01-02 17:01] doutriaux1 commented on #249
@chaosphere2112 @aashish24 says you have admin privileges for readthedoc can you transfer this to me please. Thanks.

[2018-01-03 20:40] chaosphere2112 commented on #249
Yup, I can do that; what's your readthedocs account?

[2018-01-04 15:57] doutriaux1 commented on #249
doutriaux1 Thanks @chaosphere2112 .

[2018-01-05 14:50] chaosphere2112 commented on #249
![screen shot 2018-01-05 at 6 50 25 am](https://user-images.githubusercontent.com/718512/34613984-bd7425b6-f1e4-11e7-806b-9f54cde18152.png)
Did you make an account on readthedocs.org?

[2018-01-05 17:29] doutriaux1 commented on #249
I log in with my lab email address:

[code]

[2018-01-05 17:31] doutriaux1 commented on #249
https://readthedocs.com/profiles/doutriaux1/

[2018-01-05 17:35] doutriaux1 commented on #249
ok figured it out, I was on the `.com` site not `.org` got it setup on `.org` as well, please give it another shot. Thanks.

[2018-01-05 22:42] chaosphere2112 commented on #249
Done! You can feel free to remove me as a maintainer now.

[2018-01-08 15:00] doutriaux1 commented on #249
Thanks @chaosphere2112 . We'll keep you on board, in case you're bored 😉

[2018-01-08 20:01] doutriaux1 opened #293 "templates xmintic line ignored in favor of xtic"
[code]
![bad](https://user-images.githubusercontent.com/2781425/34689799-9e850ace-f46b-11e7-94d2-d8fb0af4746e.png)

[2018-01-11 00:07] doutriaux1 opened #298 "markers default size unconsistent"
all markers when set to a certain size (1 for example) should have approximately the same size

[code]

produces markers with very different sizes

![markers](https://user-images.githubusercontent.com/2781425/34802013-43aa9dc4-f620-11e7-9724-1abd80573c53.png)

[2018-01-11 00:38] doutriaux1 opened #299 "markers size depends on worldcoordinates"
markers size and aspect shouldn't depend on worldcoordinate

[code]

gives:
![stretched](https://user-images.githubusercontent.com/2781425/34802837-9fcd03b8-f624-11e7-84f4-7421d5ef5cdb.png)

[2018-01-11 17:54] #293 closed

[2018-01-23 01:56] dnadeau4 opened #301 "Building/testing modifies source tree"
https://github.com/UV-CDAT/cdms/issues/52

[2018-01-24 14:53] #298 closed

[2018-01-24 16:19] doutriaux1 commented on #301
Since we moved most of the install into many repo this is not an issue anymore I believe.

[2018-01-24 16:19] #301 closed

[2018-01-24 20:49] doutriaux1 commented on #265
@aashish24 @danlipsa @scottwittenburg can somebody at Kitware take a look please?

[2018-01-24 20:50] doutriaux1 commented on #254
@aashish24 @danlipsa @scottwittenburg who at Kitware can take a look?

[2018-01-24 20:51] doutriaux1 commented on #269
@aashish24 @scottwittenburg @danlipsa ping

[2018-01-24 20:51] doutriaux1 commented on #263
@ThomasMaxwell any chance you could spare a couple of hours on this to point me in the right direction?

[2018-01-24 21:11] danlipsa commented on #269
@doutriaux1 Not sure what is wrong here?

[2018-01-24 22:53] doutriaux1 commented on #269
having a default to `None`

[2018-01-25 15:03] danlipsa commented on #269
Oh, yes. Now I remember. Thanks!

[2018-01-26 19:37] #277 closed

[2018-01-26 19:37] #278 closed

[2018-01-29 23:01] #269 closed

[2018-01-29 23:02] danlipsa commented on #184
Working on it ...

[2018-01-31 17:11] #209 closed

[2018-02-02 14:01] doutriaux1 opened #308 "text disappear in png with bg=False"
[code]

[2018-02-02 14:09] doutriaux1 opened #309 "unexpected warning message."
@scottwittenburg since your bg fix we now get this message:

[code]
returns
[code]

with bg=True the message does not show

[2018-02-02 14:10] doutriaux1 commented on #308
might be related to https://github.com/UV-CDAT/vcs/issues/309

[2018-02-02 17:17] scottwittenburg commented on #308
Hi @charlesdoutriaux, I wonder if there's some difference between our environments?  I'm running with the latest `vcs` master, and when I copy/pasted your script, it generated the attached image.

![notext](https://user-images.githubusercontent.com/6527504/35745785-b7b56cc4-0801-11e8-9f79-31cd2caa082f.png)

Then I change to `bg=False` and get what appears to be an identical saved screenshot.  Is t

[2018-02-02 17:23] scottwittenburg commented on #309
I cannot reproduce this with the latest master `vcs`, whether I set `bg=True` or `bg=False`.  Maybe I have some other difference in my environment though?  Based on the changes I made, that warning should not be showing up given the snippet you provided, and for me, it does not.

Just for some extra discussion however, this warning was in the code before, and I felt there was a case where it made

[2018-02-02 17:54] doutriaux1 commented on #309
hum... Let me try with a fresh environment maybe mine got somehow corrupted

[2018-02-02 17:59] doutriaux1 commented on #309
ok same here, probably too many vcs installs in my env...

[2018-02-02 17:59] #309 closed

[2018-02-02 20:14] sudipto00 opened #310 "Postscript files are truncated on Mac OS X Sierra"
Hi
Everyone time I try to save files as postscript using "canvas.postscript(<filename>)" I get a postscript file that appears truncated when viewed through Preview on Mac OS Sierra (10.12.6).
I have seen this in both Landscape and Portrait mode.

Any suggestions?

[2018-02-02 20:16] sudipto00 commented on #308
Folks
I had reported this issue initially. Maybe this issue is related to the template chosen. I saw this issue with the template 'ASD' but it went away when I switched to 'default' template. I am not sure if its some sort of setting in the 'ASD' template that is causing these texts to not appear in PNG files.

[2018-02-02 20:22] scottwittenburg commented on #308
The reproduction script above uses the 'ASD' template you mentioned:

[code]

When I ran that, it generated the image in the comment above, which does seem to have the texts in the png.  I wonder if there is possibly something in your environment that is not in mine?

[2018-02-02 21:34] sudipto00 commented on #308
I am not sure. All I can say is that I am running through conda stack, v 2.12 on Mac OS Sierra.
I have a feeling that there is something unstable about that issue. In another instance also I saw the same issue happen where I was using the template 'quick'. Even there with the same configuration the text was not appearing but then after trying repeatedly it suddenly started appearing.
This is stran

[2018-02-02 22:03] sudipto00 commented on #310
Never mind. Charles was right after all. Its a preview issue. When I use convert to convert the postscript file to png I get the complete image.

[2018-02-02 22:03] #310 closed

[2018-02-05 17:12] scottwittenburg opened #311 "Smeared image after resize on OSX (offscreen mode)"
Here is a short script to reproduce:

python
[code]

This seems to work fine everywhere in onscreen mode (`bg=0`).  However, on OSX only, and in offscreen mode (`bg=1`), the resized image seems to be smeared vertically near the bottom of the image.  See attached screenshot:

![smear_smeared_offscreen](https://user-images.githubusercontent.com/6527504/35818322-f486e4ea-0a5c-11e8-9afe-d34e35a99dac.p

[2018-02-05 17:13] scottwittenburg commented on #311
Ping @danlipsa @aashish24 @sankhesh @charlesdoutriaux in case any of you may have seen something like this before.

[2018-02-05 17:29] doutriaux1 commented on #311
I have mesalib installed and it works fine.

[2018-02-05 17:36] doutriaux1 commented on #311
I can confirm that w/o mesa I get the same thing as @scottwittenburg

[2018-02-05 17:38] dnadeau4 commented on #311
Looks a lot llike this.
https://github.com/UV-CDAT/cdms/issues/208

[2018-02-05 17:44] doutriaux1 commented on #311
I thought so too at first, but I think it's different, in the issue #208 the regridder smears the data, here there's no regridder involved.

[2018-02-06 18:17] doutriaux1 opened #312 "axisconvert works only for "linear""

[2018-02-07 02:30] #184 closed

[2018-02-07 16:06] doutriaux1 opened #313 "1d flip with only 1 axes seems broken"
[code]

[2018-02-07 16:52] doutriaux1 commented on #313
my bad the data is here just really squeezed

[2018-02-07 16:52] #313 closed

[2018-02-07 21:55] doutriaux1 opened #314 "when 1d is flipped or 2 arrays are passed template shows min/max for xaxis not data"

[2018-02-21 15:31] #115 closed

[2018-02-21 15:46] doutriaux1 commented on #312
will be fixed by #316

[2018-02-21 15:48] doutriaux1 commented on #265
@lee1043 you can move the location via template, use the `legend.x1/x2/y1/y2` to specify the lgend location

For 2 it will be a post 3.0 feature, but good suggestion.

[2018-02-21 15:48] doutriaux1 commented on #308
@danlipsa any idea?

[2018-02-21 15:49] doutriaux1 commented on #267
@danlipsa this is a big problem, I can confirm at least with mesa no antialiasing ever seems to be applied.

[2018-02-21 15:50] doutriaux1 commented on #254
@danlipsa you think OpenGL2,.0 will fix this?

[2018-02-21 15:51] doutriaux1 commented on #263
Seems to work in nightly, @lee1043 can you confirm that a recent version of vcs work.

[2018-02-21 15:52] doutriaux1 commented on #258
@danlipsa ping.

[2018-02-21 15:54] doutriaux1 commented on #257
@danlipsa what do you think, should we ignore the `bg` argument in plot functions, and force the above way to do it?

[2018-02-21 16:00] danlipsa commented on #254
@doutriaux1 I was just thinking to fix this. I had to do something similar in my other project. It should work with what we have.

[2018-02-21 16:01] doutriaux1 commented on #254
That would be fantastic!

[2018-02-21 16:20] doutriaux1 commented on #251
@danlipsa this is all done in VTK these days. And indeed using `ratio=autot` leads to completely off values. Mind to take a look. It's coming from VTKPLot.py around line 234

[2018-02-21 16:27] doutriaux1 commented on #251
nevermind I found the issue.

[2018-02-21 17:15] lee1043 commented on #263
@doutriaux1 To reproduce it looks like the [example](https://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html) is looking for `grid_file` which is `vcs3D_cubed_sphere_volume_grid.nc` but I cannot find where I can get it. Any idea?

[2018-02-21 17:16] lee1043 commented on #263
@doutriaux1  never mind,,, I found it from the example page. sorry

[2018-02-21 17:19] lee1043 commented on #263
![cubed_sphere](https://user-images.githubusercontent.com/17091564/36494855-2f2fe0e6-16e8-11e8-85f3-9a78e0977d02.png)

@doutriaux1 it is working although given result plot is not identical to the [example website](https://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html). Thanks for following this issue.

[2018-02-21 17:21] lee1043 commented on #263
Below is appearing messages what I am getting when I run my Python script:
[code]

[2018-02-21 17:23] doutriaux1 commented on #263
@lee1043 nice catch on the logo missing. I'll fix it right away.

[2018-02-21 17:26] lee1043 commented on #263
@doutriaux1 Right, logo is missing, and view angle and shape of 3d volume (here more like separated balls, in example more like gridded volume) are also different.

[2018-02-21 17:28] doutriaux1 commented on #263
yes not sure what happened on the view. Just noticed it's not working properly in py3 though, fixing this at the same time

[2018-02-21 18:17] doutriaux1 commented on #263
@lee1043 which os did you test this under? I just created a nightly w/o mesa and it hangs with no picture for me.

[2018-02-21 18:38] lee1043 commented on #263
@doutriaux1 Mac. Created nightly using below commend:
[code]

[2018-02-21 18:51] doutriaux1 commented on #263
@lee1043 I have a bad input file I think, I redownloading the 3Gb file.

[2018-02-21 18:55] lee1043 commented on #263
@doutriaux1 make sure you will need two input files. 3Gb one and much smaller sized one, but nc files.

[2018-02-21 19:53] doutriaux1 opened #318 "3d broken?"
[code]
gives:
[code]

[2018-02-22 00:19] doutriaux1 commented on #263
ok I fixed it. But other dv3d issues persists...

[2018-02-22 04:19] aashish24 commented on #308
@danlipsa @scottwittenburg what you guys think. Could it be that text rendering is slow and it is a async issue? Although the write() should have forced GL to flush?

[2018-02-22 04:35] scottwittenburg commented on #308
I could investigate this issue if I could reproduce it.  But I'm not sure what to do otherwise.

[2018-02-22 12:44] danlipsa opened #320 "Some aeqd tests have strange artefacts"
They include black areas or two layers of cells.

See the following examples

![test_vcs_basic_boxfill_aeqd_proj_gmflip_nh_via_gm](https://user-images.githubusercontent.com/6180727/36539247-21376aba-17a4-11e8-9820-5629bec6e9bb.png)

![test_vcs_basic_boxfill_aeqd_proj_sh_0_360](https://user-images.githubusercontent.com/6180727/36539273-40edb42c-17a4-11e8-8978-55a3632a709f.png)

[2018-02-22 13:07] danlipsa commented on #257
@doutriaux1 Yes, I think we should. I think we only need to render in the background when canvas is foreground and we want a png with different resolution than the canvas. They user should not access that.

[2018-02-22 13:31] danlipsa commented on #258
@doutriaux1 I think here we need more information to be able to reproduce the problem. I think the way to move forward here is to add some print statements in vcs when running the acme_diags test to see why we get the assert error.

[2018-02-22 13:36] danlipsa commented on #308
@doutriaux1 @aashish24 This seems to be a template issue. According to the original reported the issue does not appear with the default template.

[2018-02-22 13:58] danlipsa commented on #258
Can we run the acme_diags tests on our local machine?

[2018-02-22 16:50] zshaheen commented on #258
@danlipsa We'll work on creating the scripts and instructions for you to recreate the issue.

[2018-02-22 17:13] #251 closed

[2018-02-26 23:44] #314 closed

[2018-02-28 01:56] #254 closed

[2018-03-01 00:08] lee1043 opened #321 "EzTemplate in CDAT 3.0 beta?"
@doutriaux1 Does CDAT 3.0 beta include EzTemplate? I cannot `import EzTemplate` with below error message.

[code]

[2018-03-01 00:15] doutriaux1 commented on #321
oh... I changed something related to this yesterday. Let me check

[2018-03-01 00:18] doutriaux1 commented on #321
@lee1043 the following works for me:
[code]

[2018-03-01 00:18] doutriaux1 commented on #321
I'll look into why EzTemplate fails by itself tomorrow.

[2018-03-01 00:21] lee1043 commented on #321
So it seems like I should import `import vcsaddons` and use `vcsaddons.EzTemplate` rather than `import EzTemplate`, correct?

[2018-03-01 01:13] #321 closed

[2018-03-01 16:58] scottwittenburg commented on #318
Near the top of that output, in the `Error pickling object ...` message, if you scroll far to the right, you can see the following:

[code]

So is this perhaps addressed by (or just related to) the recent `str`/`unicode` fixes?

[2018-03-02 00:07] doutriaux1 commented on #258
@zshaheen instruction are pasted bellow:

Installing the diagnostics software
The following must be done on acme1.llnl.gov, since that’s where the data defined in the attached Python file is located.
If you have any issues running the software or environmental issues, let us know.

1. Make sure you’re using the latest version of Anaconda
`conda update conda`

2. Get the *yml file to create the env

[2018-03-02 00:08] doutriaux1 commented on #258
multiprocessing.bash

[code]

multiprocessing-fix.py
[code]

[2018-03-02 16:50] doutriaux1 opened #323 "meshfill wrap seems broken"
[code]

should plot 3 cells but generates

![wrap](https://user-images.githubusercontent.com/2781425/36910842-b0d33822-1df6-11e8-899f-8bf35fef637a.png)

[2018-03-22 12:20] #323 closed

[2018-03-29 02:37] #318 closed

[2018-03-29 02:37] #312 closed

[2018-03-29 02:39] #280 closed

[2018-03-29 02:40] #268 closed

[2018-03-29 02:40] #263 closed

[2018-03-29 02:41] #257 closed

[2018-03-29 02:41] #253 closed

[2018-04-03 19:58] scottwittenburg commented on #299
I have tested this against #331 and it is fixed.  However, the default size of `1` now results in a very tiny hurricane, so setting `m.size = 20` for both plots makes it easier to see.

[2018-04-09 12:40] doutriaux1 commented on #299
@scottwittenburg let's change the default size of hurricane instead.

[2018-04-13 00:02] scottwittenburg opened #332 "Some marker glyphs scaled incorrectly"
Once we have #331 merged, we should have better consistency of marker size across both legends and plots, regardless of canvas size or world coordinates range.  One exception is any glyphs based on the `vtkGlyphSource2D` "dash" or "cross" glyphs.  The following script (which I plan to turn into a test once we have not only #331 but also the latest VTK) generates a grid of markers of increasing siz

[2018-05-07 22:42] scottwittenburg commented on #267
Here is the code snippet from the issue mentioned above:

[code]

I have been able to confirm that this results in three pngs with no antialiasing.  However, it seems to be related to the clearing of the canvas in the last line of the loop.  If instead I change the code to `for anti in [64, 8, 0]:` (just reverse the order of the multisamples to be set), then I get three pngs *with* antialiasing.

[2018-05-08 17:02] scottwittenburg commented on #267
So now that I have a working debug build of VTK to test vtk-cdat issues, I have been able to confirm that although you can set `MultiSamples` on a `vtkRenderWindow` at any time, it is only used when the thing is actually initialized.

This explains why we can't seem to change the value in the loop, but only the first value chosen is used.  It would also mean that there is probably not a bug in the

[2018-05-08 17:07] danlipsa commented on #267
Maybe its a bug in VTK and you need to call Modified so that it can re-set the proper OpenGL functions?
I wonder if OpenGL2 works correctly. If that's the case we can focus on the OpenGL2 conversion.

[2018-05-08 17:58] scottwittenburg commented on #267
Here's a vanilla `vtkpython` script to reproduce the issue outside of `vcs` with a plot that looks similar to the reproduction scripts listed in comments above:

[code]

I have run this with both OpenGL and OpenGL2 builds and got the same results.  That is, the first value of multisamples is the only one used in all three `Render()` calls. So that `Modified()` call upstream of the rendering pipeli

[2018-05-10 17:07] scottwittenburg commented on #299
I think this could be closed now, as the fix is in master.

[2018-05-11 21:55] lee1043 opened #339 "Tick label size adjustment"
Is there any simple way to adjust font size for the tick labels, such as something like `iso.xticklabels1.fontsize=10`? I am struggling with too small font size for x,y tick labels and legend labels, couldn't find option to control the font size. Thanks!

<img width="703" alt="screen shot 2018-05-11 at 2 55 01 pm" src="https://user-images.githubusercontent.com/17091564/39948542-51f990dc-552b-11e8-

[2018-05-11 22:06] doutriaux1 commented on #339
@lee1043 this is controlled via the template. I really need to do the notebook for template!

[code]

[2018-05-11 22:10] lee1043 commented on #339
@doutriaux1 thanks, what about tick label over the color bar?

[2018-05-11 22:10] doutriaux1 commented on #339
[code]

[2018-05-11 22:17] lee1043 commented on #339
![screen shot 2018-05-11 at 3 16 06 pm](https://user-images.githubusercontent.com/17091564/39949200-405a0ec6-552e-11e8-8f17-5d52dbfc55a8.png)

@doutriaux1 thanks, it is helpful. Do you have something similar for xticlabel1 location adjustment? On left side labels are overlapping with line.

[2018-05-11 22:27] lee1043 commented on #339
@doutriaux1 one more question, can I move colarbar labels upward, so give some distance between numbers and colorbar?

[2018-05-11 22:28] doutriaux1 commented on #339
@lee1043
[code]

[2018-05-11 22:30] doutriaux1 commented on #339
@lee1043 sorry what you want is:
[code]

[2018-05-11 22:30] lee1043 commented on #339
@doutriaux1 but that moves colorbar itself. I want to fix colorbar but only move legend numbers above colorbar to upward, so bottom of numbers don't meet the upper line of colorbar

[2018-05-11 22:30] lee1043 commented on #339
@doutriaux1 yes, thanks!

[2018-05-11 22:32] lee1043 commented on #339
`templ.legend.offset += .01` works as I wanted. Thanks!

<img width="701" alt="screen shot 2018-05-11 at 3 32 16 pm" src="https://user-images.githubusercontent.com/17091564/39949585-821bdda6-5530-11e8-8ab0-dcd3fd46e81e.png">

[2018-05-11 22:32] #339 closed

[2018-05-14 08:34] jypeter opened #340 "Alternating above/below colorbar labels"
@doutriaux1 Watching the colorbar of #339 has reminded me of a question I got a few years back. Is there a way to ask vcs to draw the labels alternatively above and below the colorbar? It means that the colorbar will need some more vertical space, but it can help when the labels collide (because they use many digits/characters, or the text size is big, or there are many labels)

In the example abo

[2018-05-14 12:03] doutriaux1 commented on #340
@jypeter not at the moment. But it's a good idea. I'm marking this as enhancement.

[2018-05-14 18:53] doutriaux1 opened #341 "vector legend depends on aspect ratio of canvas/png"
[code]
gives:
![bug_600](https://user-images.githubusercontent.com/2781425/40017167-7014ef00-576d-11e8-8c49-3e170faf7b30.png)
![bug_700](https://user-images.githubusercontent.com/2781425/40017168-70412b1a-576d-11e8-914a-e5a3e1cf4a6a.png)
![bug_800](https://user-images.githubusercontent.com/2781425/40017170-705c6970-576d-11e8-837f-90b0c26b671c.png)

[2018-05-21 13:38] doutriaux1 opened #343 "vcs .addfont seems broken"
[code]

error:
[code]
[FFF-Tusj.zip](https://github.com/CDAT/vcs/files/2022721/FFF-Tusj.zip)

[2018-05-21 13:45] doutriaux1 opened #344 "text objects with prjection are broken"
[code]
error:
[code]

[2018-05-25 16:54] doutriaux1 opened #345 "cannot replace the default font"

[2018-06-04 23:19] #343 closed

[2018-06-04 23:19] #344 closed

[2018-06-04 23:19] #345 closed

[2018-06-05 15:48] jypeter opened #347 "x.png questions : black background, docstring for draw_white_background"
I have just tried the CDAT 8.0 they have installed on our new supercomputer and found out that I never get an interactive window, regardless of the options I use. I suspect they have installed the headless _mesa_ option... I see what their hotline tell me
[code]
So I have decided to save my test plot to a png and check what I got, but the picture had a black background...
![v_white](https://user-i

[2018-06-19 19:02] lee1043 opened #350 "Map with polar stereographic has empty gap"
https://github.com/CDAT/cdat/issues/2122#issuecomment-248680075

[2018-06-26 14:17] jypeter commented on #211
@doutriaux1 FYI have just tried this script in cdat 8.0 on a remote server, after my X server had crashed (so DISPLAY is set, but no working X server), and I got a similar error
[code]
Well, I'm not sure you can do something about this (i.e. displaying an error message rather than crashing python)...

I have also cleared the DISPLAY variable, and in that cas I indeed get your error message and sta

[2018-06-26 16:46] doutriaux1 opened #351 "vcs p[rojection cannot be changed after initial type is set"
[code]

[2018-07-02 23:16] scottwittenburg opened #354 "Canvas plot with `ratio="autot"` results in interaction errors"
When doing `canvas.plot()` using `ratio="autot"` and `canvas.interact()`, the longitude values given by the interaction popups are increasingly erroneous as you move away from center (longitude = 0) of the plot.

This was recently raised as an issue on `vcs-js`, see [here](https://github.com/CDAT/vcs-js/issues/58).  It can be reproduced as follows:

[code]

See the issue linked above for more deta

[2018-07-03 06:49] jypeter commented on #354
This sounds a lot like https://github.com/CDAT/vcs/issues/251, but the issue was closed

[2018-07-18 23:24] doutriaux1 opened #355 "get rid of old-and-unmanageable"
https://setuptools.readthedocs.io/en/latest/pkg_resources.html

[2018-07-26 23:33] doutriaux1 opened #357 "vector not projected (at robinson at least)"
[code]

gives (all vector are straight up, they should be curved a bit)

![crp](https://user-images.githubusercontent.com/2781425/43293888-6f36bdbc-90f1-11e8-8073-d440f3119b01.png)

and for `polar` projection we get :+1:
![crp](https://user-images.githubusercontent.com/2781425/43293918-94fdfd94-90f1-11e8-9e5e-f06946eac68c.png)

[2018-07-26 23:34] doutriaux1 commented on #357
@scottwittenburg @aashish24 at your convenience pull the commit from the ***good*** branch

[2018-08-16 16:26] muryanto1 opened #358 "vcs/utils.py -- No module named vtkIOFFMPEGPython"
vcs, vcsaddons, dv3d, thermo, wk testcases failed with "No module named vtkIOFFMPEGPython"
Details:

`=======================================================================
macos_nightly_py2 -- https://circleci.com/gh/CDAT/cdat/5209
=======================================================================
VCS, vcsaddons, dv3d, thermo, wk tests FAILED

/Users/distiller/project/workdir/miniconda/envs

[2018-08-20 15:29] muryanto1 commented on #358
Closing this...going to open the issue for cdat repo instead.

[2018-08-20 15:29] #358 closed

[2018-08-20 16:32] muryanto1 opened #359 "vcs test_vcs_configurator_resize is failing"
linux_nightly_py2 -- https://circleci.com/gh/CDAT/cdat/5311

Test file  : tests_png/test_vcs_configurator_resize.png
Source file: uvcdat-testdata/baselines/vcs/test_vcs_configurator_resize.png
Found Baselines:
- uvcdat-testdata/baselines/vcs/test_vcs_configurator_resize.png
Comparing tests_png/test_vcs_configurator_resize.png uvcdat-testdata/baselines/vcs/test_vcs_configurator_resize.png ... ERROR

[2018-08-20 16:34] doutriaux1 commented on #359
@muryanto1 looks like we just need to update the baseline. Still curious why it suddenly changed...

[2018-09-18 16:37] doutriaux1 commented on #359
create braqnch both on vcs and uvcdat-testdata with the same name, run the test suite, copy the new baseline generated by the test suite in uvcdat-data repo , rerun test suite until it passes.
commit and push uvcdat-testdata, commit and push vcs branch, test suite will be exectued and run online.

[2018-09-26 18:54] lee1043 opened #363 "VCS document bookmark does not work"
Not sure this is the right place to report VCS document issue, but in the document I found bookmark capability is not working.

For example at https://cdat-vcs.readthedocs.io/en/latest/Jupyter/1D_Multi_line_Plots.html, when you click 'Scatter Plots' in the contents section, it suppose to move to scatter plot at the bottom of the html page, but it does not.

Not sure who is working on this. @doutri

[2018-09-26 21:31] lee1043 opened #364 "decimal point control for mean max min values over top of plot"
Sometime it needs to control length of digit below decimal point for those mean and max values on the top of the plot, because they are overlapping to others when increase font size is needed.

![access1-0_allm_wang-monsoon png](https://user-images.githubusercontent.com/17091564/46110529-c4751f80-c198-11e8-892e-c2b023d15450.png)

@doutriaux1 says:

member =  mean
     priority = 1
     x = 0.05000

[2018-09-26 21:55] doutriaux1 commented on #364
Thanks @lee1043 hopefully I can fix this by the end of the week

[2018-09-28 18:05] doutriaux1 commented on #364
@lee1043 @durack @taylor13 @gleckler1 @chengzhuzhang I'm close from wrapping this up. I need suggestions though for some default formats to ship with vcs. example "float3dig" for 3 digit float (same as old %.3f) name/format (explanation) would be nice.
so far I only have:
"float3dig" (3digit after comma float)
"float2dig"
"0padded2digint" (0 padded 2 digits int)
"0padded3digint"
"0padded4digint"
"

[2018-09-28 21:29] lee1043 commented on #364
@doutriaux1 thank you for your work. Is there any chance to make it consistent to what Python already has such as `.2f`? And for default I think it is okay to show full precision.

[2018-10-01 12:41] doutriaux1 commented on #364
@lee1043 `.2f` seems a bit weird for a key, but I can add them if you want.

[2018-10-01 16:37] lee1043 commented on #364
@doutriaux1 should it be a key instead of flexible formatting?

[2018-10-01 16:39] doutriaux1 commented on #364
@lee1043 keys are for convenience. If it's not a key in the existing list of formats, then it is assuming is a python string format. As in link above (http://pyformat.io). I'm trying to give keys some relatively intuitive names. If the key is going to be exactly the same as the format it is defeating its purpose. (Although some actually are here 😉 )

[2018-10-01 16:44] lee1043 commented on #364
@doutriaux1 I see, sounds fine. Thanks!

[2018-10-05 18:49] lee1043 opened #368 "portrait plot does not work with python 3 env"
Python code: [pp.py.txt](https://github.com/CDAT/vcs/files/2451798/pp.py.txt)

Input JSON: [monsoon-wang_CMIP5_historical-regrid2_regrid2_2018-07-19-10-58-22.json.txt](https://github.com/CDAT/vcs/files/2451797/monsoon-wang_CMIP5_historical-regrid2_regrid2_2018-07-19-10-58-22.json.txt)

Error message:
[code]

The final Type Error is coming from `cols = MV2.reshape(cols, (len(cols) / 3, 3))` part in

[2018-10-09 12:42] doutriaux1 commented on #368
@lee1043 you got one of the few that escaped us! Fixing right away in pmp

[2018-10-09 16:17] lee1043 commented on #368
@doutriaux1 good to know. Yay, gotcha! :)

[2018-11-07 14:53] sterlingbaldwin opened #374 "Hard crash on fresh install "No module named 'vtkIOFFMPEGPython'""
On a fresh install using py3, vcs crashes due to the "No module named 'vtkIOFFMPEGPython'" issue.

Command run: ```conda create -n vcs -c conda-forge -c cdat vcs "python>3"```

Here's the output from running 'conda list'
[code]

[2018-11-07 15:01] sterlingbaldwin commented on #374
After running ```conda install -c conda-forge "ffmpeg>4"``` I get

[code]

[2018-11-07 15:08] doutriaux1 commented on #374
Sterling.

Looks like your are running from the vcs source directory (egg based now)

Try to either run outside of it or create the symlinks so it finds the pcakge
on my mac I had to so:
cd Share
ln -s . vcs

C.

From: Sterling Baldwin <notifications@github.com>
Reply-To: CDAT/vcs <reply@reply.github.com>
Date: Wednesday, November 7, 2018 at 7:02 AM
To: CDAT/vcs <vcs@noreply.github.com>
Cc: Subscr

[2018-11-07 15:08] doutriaux1 commented on #374
@sterlingbaldwin you're on a mac, right?

[2018-11-07 15:10] doutriaux1 commented on #374
An you're running from the vcs source directory

2 things

1. The install line should be: `conda create -n cdat8 -c cdat/label/v80 -c conda-forge -c cdat python=2.7 vcs python=3`
2. If running from source directory on mac I had to do
[code]

[2018-12-18 22:34] danlipsa commented on #129
@scottwittenburg @doutriaux1 This happens with master after the context2d merge as well (on linux)

[2018-12-19 14:45] danlipsa commented on #129
@doutriaux1 @scottwittenburg @aashish24 VTK has support for saving images with a certain magnification. That means that the window on the screen and the high resolution image should have the same ratio. The image will have higher resolution. I can add another parameter to the png function: magnification and deprecate width and height for png (issue a warning if they are used) and compute the magni

[2018-12-19 14:47] doutriaux1 commented on #129
@danlipsa I'm not sure I follow this. @scottwittenburg has a fix at: https://github.com/CDAT/vcs/pull/376/files if @scottwittenburg thinks your idea is better then let's update @scottwittenburg branch with it.

[2018-12-19 14:47] danlipsa commented on #129
I think it makes sense for the window and the png to have the same ratio - otherwise you could get something very different in the png

[2018-12-19 14:49] doutriaux1 commented on #129
@danlipsa, again I'm not sure exactly about what you're suggesting (link to examples?) but for the logo, I think that the idea was that the user's png would NOT be stretched in any away, but fit into the width/height box defined. We could add an option to make the log fit exactly that user-defined box and stretch the image. Is that what you're suggesting?

[2018-12-19 15:10] danlipsa commented on #129
No. That's not for the logo, but for saving a plot as a png with higher resolution.

[2018-12-19 15:14] danlipsa commented on #129
Take a look at the example at the beginning of the issue

[2018-12-19 15:22] doutriaux1 commented on #129
@danlipsa ok it makes more sense now... Ok according to @aashish24 comments above now that we have the new opengl "actually since we are hoping to move to opengl2, this won't br an issue since if you have a vtkRenderer and you pass it to a new vtkRenderWindow it should destroy the current context objects and create new ones (typically OpenGL stuff) but i will double check on it."

@danlipsa I trus

[2019-01-07 07:12] zshaheen commented on #374
@doutriaux1 I'm getting this same error. It was fine on macOS, but when using both the Python 2 and Python 3 versions of cdat, I get the `ImportError: No module named vtkIOFFMPEGPython` error.

Any advice?

[2019-01-07 13:44] doutriaux1 commented on #374
I think you need to force ffmpeg to be >=4

[2019-01-07 13:45] doutriaux1 commented on #374
Did you try: `conda create -n cdat8 -c cdat/label/v80 -c conda-forge -c cdat python=2.7 cdat`

C.

[2019-01-07 21:53] zshaheen commented on #374
Thanks @doutriaux1, the command you suggested worked.  Strangely enough, just installing vcs and cdms still gave that error, but installing cdat completely worked fine.

[2019-01-07 22:30] zshaheen commented on #374
Yes, that's the confusing part. Same command as the above, except I had `cdms2 vcs` instead of `cdat`.

[2019-01-23 00:09] doutriaux1 opened #379 "template x/ymintics1 seems to be using line property of x/ytic1 for last label"
see template object notebook I'm writing

[2019-01-23 17:30] doutriaux1 opened #380 "template.tunits seems to be disabled"

[2019-01-24 22:34] doutriaux1 opened #381 "vector linewidth not working"
[code]

same line width

[2019-01-24 22:35] doutriaux1 commented on #381
THanks to @yyplanton for mentioning this

[2019-01-28 22:24] downiec opened #383 "When running plot() function in a Jupyter Notebook, a greyed out window appears."
If vcs.init() is run in a Jupyter notebook, it should automatically detect and have bg=true to avoid the greyed out window when sidecar is used in a Jupyter Notebook.

[2019-01-28 23:33] doutriaux1 commented on #383
no default needs to be bg=False as now. Look for the bit of code I added to detect notebook, for sidecar

[2019-01-28 23:34] doutriaux1 commented on #383
Actually the code should already be in place (I thought I did code this): https://github.com/CDAT/vcs/blob/master/vcs/Canvas.py#L931-L935

I wo der why it's not picking it up

[2019-01-28 23:35] doutriaux1 commented on #383
@scottwittenburg is it related to the new vtk-cdat ?

[2019-01-28 23:35] doutriaux1 commented on #383
I remember seeing a window even with mesalib, maybe it's a similar issue?

[2019-01-28 23:40] scottwittenburg commented on #383
I think I'll need some instructions on how to reproduce this if I'm to be of any help.

[2019-01-28 23:50] doutriaux1 commented on #383
according to @downiec when in a jupyternotebook with the non-mesa env (py3) `x=vcs.init();x.plot([1,2,3])` make a window appear

[2019-01-28 23:51] doutriaux1 commented on #383
we do not want the window appear, hence bg=True

[2019-01-28 23:52] downiec commented on #383
Could it be because my conda environment? I just remembered I'm using the old one because that's the one that's currently working.

[2019-01-29 00:00] scottwittenburg commented on #383
Sounds good, thanks @downiec.

[2019-01-29 00:06] downiec commented on #383
What vcs version do I need? I tried pulling from master and then running python setup.py install, but now I'm getting an error and it won't plot anything.
AttributeError: module 'vtkmodules.all' has no attribute 'vtkRenderingOpenGLPython'

[2019-01-29 00:36] downiec commented on #383
One last comment. In the JupyterLab Notebook, first time I run the cell, I get:
`AttributeError: module 'vtkmodules.all' has no attribute 'vtkRenderingOpenGLPython'`
Second time  I run the cell (same exact code, I just run the cell again):
`ZeroDivisionError: float division by zero`
Third time I run it, it plots without an error.

[2019-01-29 19:04] downiec commented on #383
@scottwittenburg Thanks for the response, I went ahead and removed the vcs egg files like you said, and then I ran python setup.py install. That all fixed the error, thanks! Unfortunately it doesn't resolve the greyed out window issue. Basically, if I run the following in a Jupyter Lab Notebook:
canvas.plot(clt,"default","default")
The plot is made, no problem. But then there's also a separate gre

[2019-01-29 19:13] scottwittenburg commented on #383
@downiec Can you run the following in the same environment you just cleaned up, and see if the window pops up?

[code]

Let me know what happens, thanks.

[2019-01-29 19:19] downiec commented on #383
Yeah the window pops up both in a JupyterLab environment and also in the console.

[2019-01-30 23:40] #380 closed

[2019-02-11 15:34] doutriaux1 opened #386 "vector plot magnitude broken?"
I am using CDAT 8.0 to create plots using vcs. I'm facing two major problems while plotting.

1).On plotting a vector plot using vcs, I am not able to set the reference value of the vector in the plot.
I am using the following steps to create vector.
myvec                       = x.createvector('myvec')
myvec.scale              = 1
myvec.reference       = 300
The plot does not show the reference v

[2019-02-11 15:42] scottwittenburg commented on #386
Thanks @doutriaux1, I'll take a look.

ping @danlipsa @aashish24

[2019-02-12 03:43] scottwittenburg commented on #386
@doutriaux1 Maybe I'm just missing them?  I don't see any attachments.

[2019-02-12 04:05] scottwittenburg opened #387 "Texts do not seem to respect viewport"
The following script should result in a plot where the text labels, as well as the line segments, are cropped to be within the viewport.

[code]

However, the lines are cropped within the viewport but texts are not, as can be seen in this image:

![texts-viewport-issue](https://user-images.githubusercontent.com/6527504/52610864-1e247080-2e40-11e9-86b6-6819e7b0f0a3.png)

I do not think this issue w

[2019-02-12 07:12] roshni1991 commented on #386
Hi @scottwittenburg ,
Im attaching the plot here. There are extra lines on the plot and the vector values are different for each plot.
![faulty](https://user-images.githubusercontent.com/19797581/52617936-6b95f180-2ec3-11e9-885f-839e6d9dbe52.png)

[2019-02-12 14:19] doutriaux1 commented on #386
@aashish24 I think you introduced option on magnitude a while back, can you comment on this?

https://github.com/CDAT/vcs/blob/master/vcs/vector.py#L63

[2019-02-12 14:25] doutriaux1 commented on #386
@aashish24 I meant these options: https://github.com/CDAT/vcs/blob/master/vcs/vector.py#L342

[2019-02-12 14:27] doutriaux1 commented on #386
@aashish24 and somewhere there: https://github.com/CDAT/vcs/blob/master/vcs/vcsvtk/vectorpipeline.py#L123-L126

@aashish24 we need to add these to the doc string i think.

[2019-02-12 21:30] scottwittenburg commented on #386
In order to reproduce the issue with vector export taking so long, will it be possible for you to share the `vcs` script and associated data with us, @roshni1991?  Otherwise, it may require more time just to get to where we can see the same problem you are seeing.  Have you experienced this problem @doutriaux1?  Do you know a reliable reproducer for the long export time?

[2019-02-13 00:03] scottwittenburg commented on #386
And @roshni1991 I just want to be clear about the purpose of the `reference` attribute.  If you set it, for example, to 300, then you expect the number 300 to be printed in the legend, and the arrow to be as long as required to make that true?

[2019-02-13 12:02] roshni1991 commented on #386
Hi @scottwittenburg, as per my understanding the `reference` attribute is used for the purpose you have mentioned but it is not true when I use it to plot. I want the number 300 for example to be printed in the legend. I tried changing the vector scaleoption @aashish24. The value is still not 300.
Also, to understand the problem I have attached a folder with test.py file and related figures.
[test

[2019-02-13 13:49] doutriaux1 commented on #386
@roshni1991 thx for the feedback, you are right the behaviour is indeed broken, we just needed to confirm with you that it was the expected behaviour.

[2019-02-13 13:57] doutriaux1 commented on #386
@roshni1991 we expect to fix this shortly, thx for spotting it.

[2019-02-14 19:05] scottwittenburg commented on #387
ping @danlipsa

[2019-02-14 20:08] scottwittenburg commented on #386
Thanks for the pdf/ps reproduction script @roshni1991, however, I'm currently unable to reproduce the issue you're having.  I am running into some other problem though, so I'm curious what version of `vcs` you're using when you have the export problems?  If you're in a terminal where the conda environment is activated, run the command below.  If you can report back the results, I think that would

[2019-02-15 08:45] roshni1991 commented on #386
@scottwittenburg Im using the following version of vcs:
vtk-cdat                  8.0.1.8.0        py27_mesalib_1  [mesalib]  cdat
Hope this helps!

[2019-02-19 00:31] scottwittenburg commented on #386
Thanks for that version information @roshni1991.

@danlipsa @doutriaux1 Do either of you recognize the version numbers well enough to know whether that `vtk-cdat` listed above is from before the Context2D merge or after?  Either way, it looks to be several versions back from whatever was installed in my environment.

Anyway, I finally figured out what was happening on my system locally when I trie

[2019-02-19 16:51] scottwittenburg commented on #386
@roshni1991 it seems the version of `vtk-cdat` you are using is the previous release, and your issues may be resolved by trying a more recent version.  To create a test environment to try that out, you could try this:

[code]

Once that is installed, activate that environment and try your pdf export example again.

[2019-02-19 17:04] doutriaux1 commented on #386
@scottwittenburg it lloks like it's a pre context2d version.

[2019-02-19 17:06] scottwittenburg commented on #386
@doutriaux1 Yes I think so.  I'll be curious to see if installing the latest nightly solves the pdf/ps export issue.

[2019-02-21 11:46] roshni1991 commented on #386
@scottwittenburg I think you are right. I changed the font for the text `text.font = 1`
The plotting of pdf and postscript is taking a few seconds now(as compared to few minutes) and there are no strange lines over the text.
I tried the test environment but the plots are different for postscript and pdf. Saving took even lesser time in the test environment. Also, if you look at the size of the plo

[2019-03-12 13:58] jypeter opened #392 "vcs.download_sample_data_files() keeps on downloading th_yr.nc"
@doutriaux1 I wonder if there is a problem with a) `vcs.download_sample_data_files()` or with b) `th_yr.nc`

When I execute a) in a CDAT version where it has already been executed, it apparently sees that the files are already here, except for b) that it downloads 3 times. Same thing if I re-execute a)

[code]

[2019-03-12 16:33] doutriaux1 commented on #392
You're right looks like these files are either corrupted or missing, I'll take a look. Thanks for reporting.

From: Jean-Yves Peterschmitt <notifications@github.com>
Reply-To: CDAT/vcs <reply@reply.github.com>
Date: Tuesday, March 12, 2019 at 6:59 AM
To: CDAT/vcs <vcs@noreply.github.com>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.gov>, Mention <mention@noreply.github.com>
Subject: [CDAT/vcs] vcs.do

[2019-03-13 16:46] jypeter opened #393 "x.plot crashes with OpenGL2 error (X server in XDMCP mode)"
@doutriaux1 First test of vcs in 8.1 and I get a crash

### My setup
Windows 7 machine, running VcXsrv X server in XDMCP mode

I have unselected "Native opengl" because otherwise my X server crashes if I try to execute "glxgears" (event with LIBGL_ALWAYS_INDIRECT=1)

`glxinfo` in a terminal on my server (when running VcXsrv+XDMCP) gives me the following output

[code]

### My test

Now, I get the

[2019-03-13 17:09] jypeter commented on #393
Now, from the same VcXsrv+XDMCP, if I ssh to a remote server where I have also installed CDAT 8.1, I get a slightly different error

glxinfo gives me the following output
[code]
And when I run the same vcs test as above, I end up with a LOT of error output (I have just pasted part of the end below, anyway I can't scroll to the beginning, there is too much output), and a blank/empty canvas. I'm bac

[2019-03-13 17:54] doutriaux1 commented on #393
@scottwittenburg @danlipsa looks like yet another case of older X server. @jypeter I think the switch to OenGL2 essentially made it incompatible with older X server... I think you will have to use the mesalib version here and ask users to first dump to a png. Other options are to upgrade your X server. Is that correct @danlipsa @scottwittenburg

[2019-03-13 17:57] jypeter commented on #393
I have tried in a remote notebook (on the remote server mentioned just above), and it's not working either, but I have to go
[code]

[2019-03-13 18:43] danlipsa commented on #393
The Mesa library seems new enough but for some reason it does not provide OpenGL 3.2 which is needed for this version of VTK. One path to address this kind of problems in the future is to ship our own mesalib even with the on-screen version of vcs and use an option to switch between using the system driver (which in this case does not work) and using the mesa OpenGL that we ship with our software.

[2019-03-13 18:45] danlipsa commented on #393
@doutriaux1 Indeed for now the workaround is to use the offscreen version of vcs.

[2019-03-14 12:58] jypeter opened #394 "Adding mesalib does not make my vcs headless-compatible"
Following @danlipsa https://github.com/CDAT/vcs/issues/393#issuecomment-472554819, I have added mesalib to my installation with `conda install -n cdatm18_py2 -c conda-forge mesalib`

[code]
Unfortunately, this does not seem to solve my problem!

If **DISPLAY is set** , I still get _OpenGL2_ related errors when executing x.plot

[code]

If **DISPLAY is not set**, vcs gives me the helpful message (_

[2019-03-14 13:03] jypeter commented on #392
The file I got seems valid enough. You can compare my md5sum below with the one of the source file

[code]

[2019-03-14 13:21] jypeter commented on #394
Just to be sure, I have also added mesalib to the remote server I mentioned in https://github.com/CDAT/vcs/issues/393#issuecomment-472517215, and I get the same kind of errors

[code]
mesalib is installed!
[code]

[2019-03-14 13:48] doutriaux1 commented on #392
@jypeter it's possible the `md5` is wrong in our check list, I'll double check

[2019-03-14 13:48] doutriaux1 commented on #394
@jypeter please send em the output of:
`conda list vtk`

Thx

[2019-03-14 13:53] jypeter commented on #394
On both servers, I get
[code]
I have not tried the headless test in the python 3 version, but I get
[code]

[2019-03-14 13:56] doutriaux1 commented on #394
yes conda did not bring vtk-cdat to use mesalib
try:
[code]

[2019-03-14 14:53] jypeter commented on #394
OK, I have used your install command
[code]
And now it works indeed! I have even cleared the canvas and plotted something else
[code]
Works also fine when DISPLAY is not set

I see that I was using the out-of-date steps of https://github.com/CDAT/cdat/wiki/install. The page is OK now (I have refreshed it), but the page already opened in my browser was unfortunately out-of-date

[2019-03-14 15:24] doutriaux1 commented on #394
@jypeter thans. Indeed the msalib version does NOT need a DISPALY. Glad it helps you moving forward.

[2019-03-27 14:14] doutriaux1 opened #396 "transparency does not work for text"
[code]

[2019-03-27 14:14] doutriaux1 commented on #396
![transp_text](https://user-images.githubusercontent.com/2781425/55083029-00ae0d80-5060-11e9-80ff-21e419a03855.png)

[2019-03-27 14:17] doutriaux1 commented on #381
@scottwittenburg didn't we fix this?

[2019-03-27 14:18] doutriaux1 commented on #357
@scottwittenburg we should check if this is still true.

[2019-03-27 14:28] #308 closed

[2019-03-27 15:25] scottwittenburg commented on #381
That PR (#382) isn't merged yet.  Looks like we were waiting for confirmation that it solved the issue.  And it also looks like the osx py3 tests failed.  But that might be solved now if we re-try?

[2019-03-27 15:26] scottwittenburg commented on #357
Will do.  I suspect it is still true, since I haven't addressed it myself yet.  Thanks for the reminder.

[2019-03-27 15:33] doutriaux1 commented on #381
ok will merge master in and push again.

[2019-03-28 23:24] doutriaux1 opened #397 "an update triggers continents back on"
[code]

[2019-03-29 16:28] doutriaux1 opened #399 "svg do not show isoline (at least in multi plots)"
[code]

[2019-03-29 16:29] doutriaux1 commented on #399
png works

[2019-03-29 16:32] scottwittenburg commented on #399
I'll take a look, but svg support on the VTK side is not great in general.  I did think svg export of a basic isoline worked though.

[2019-03-29 16:34] doutriaux1 commented on #399
actually no 😭

[2019-03-29 20:44] scottwittenburg commented on #396
@doutriaux1  I must be missing something here.  Which property on the `txt` is supposed to set the transparency?

[2019-03-29 20:47] doutriaux1 commented on #396
the color

[2019-03-29 20:47] scottwittenburg commented on #396
But then how does setting the color to "blue" do that?

[2019-03-29 20:50] doutriaux1 commented on #396
oh sorry probably was a bad copy/paste job 😆
use
[code]

[2019-03-29 20:52] doutriaux1 commented on #396
BTW
[code]

Does make it go away

[2019-03-29 21:00] scottwittenburg commented on #396
Ah, gotcha.

I've played with it now, and it seems that VTK expects a floating point number between 0 and 1.  If you try with 0.5, you'll see it's working.  So it's just a matter of knowing what the user is expected to input and mapping that into [0.0, 1.0] properly.

Looks like the rest of the color components are expected to be given by the user in the range [0, 100]?

[2019-03-29 21:01] doutriaux1 commented on #396
in isofill test double check but i'm pretty sure the opacity is sent from user in the 0-100 range as well

[2019-03-29 21:09] doutriaux1 commented on #396
let's ,make it uniform

[2019-03-29 21:28] scottwittenburg commented on #396
I'll put together a PR for it.

[2019-03-29 21:30] scottwittenburg commented on #399
I was wrong.  On the VTK side we don't support polydata cells of type POLYLINE when exporting to SVG, and that's the kind of cell we have for isoline.  It might not be too bad to add this support it to VTK, but it will require some experimentation, development, debugging over there first.  If we're lucky it could be a day's effort or so, unless we hit a snag.

[2019-03-29 22:03] doutriaux1 commented on #396
thx

[2019-03-29 22:04] scottwittenburg commented on #399
Actually, it might be a pretty easy fix on the VTK side.  I just created an MR which seems to work for me in some simple testing, let's see how it does on the VTK dashboards.

https://open.cdash.org/index.php?compare1=61&filtercount=1&field1=revision&project=VTK&showfilters=0&limit=100&value1=ca4268b890529186b3e4128f875685eedd7905db&showfeed=0

[2019-03-29 22:35] scottwittenburg commented on #399
It's looking good so far.  There are a few test failures but they seem unrelated, and at least one machine tested the svg export functionality, and those tests passed on that machine.

So I could update one of those VTK tests to exercise this new functionality, and then that topic would be pretty easy to get reviewed and merged I think.  We will still face the problem that we can't take VTK master

[2019-04-01 13:48] #397 closed

[2019-04-09 20:46] doutriaux1 commented on #18
@scottwittenburg I just tried it and it seems to produce a blank screen these days.
![bug](https://user-images.githubusercontent.com/2781425/55834033-d469a680-5acd-11e9-8ed2-b0ce6e5b9cd4.png)

[2019-04-09 20:46] scottwittenburg commented on #18
Hmmm, I thought we had a test for that, but I guess not?

[2019-04-09 20:51] doutriaux1 commented on #21
@scottwittenburg it appears `x.close()` does not actually close the window at all.

[2019-04-09 20:55] doutriaux1 commented on #22
First one is fixed second one is still true, even weirder when plotting the data is first REALLY weird but x.png fixes it

[2019-04-09 20:57] doutriaux1 commented on #29
No idea what this is but there's  a very in depth test for this in test suite, assuming it works.

[2019-04-09 20:57] #29 closed

[2019-04-09 20:58] doutriaux1 commented on #31
works for me in 8.1

[2019-04-09 20:58] #31 closed

[2019-04-09 20:59] doutriaux1 commented on #32
At the moment readthedoc is broken, we need to figure out a way to uplaod manually

[2019-04-09 20:59] #34 closed

[2019-04-09 21:00] #35 closed

[2019-04-09 21:01] doutriaux1 commented on #37
@scottwittenburg I think we might be able to close this I'll let you decide

[2019-04-09 21:02] #39 closed

[2019-04-09 21:06] doutriaux1 commented on #41
when creating a graphic method, we could see if another one as exactly the same attributes and in this case simplky create a pointer to it. The downside is that everytime we edit an attribute we need to look at all existing graphic methods and see if the newly changed method is a duplicate of another one...

[2019-04-09 21:07] doutriaux1 commented on #43
duplicate of #41

[2019-04-09 21:07] #43 closed

[2019-04-09 21:10] doutriaux1 commented on #44
@scottwittenburg @danlipsa

I get:
[code]

Nothing to do about it except nox version, correct?

[2019-04-09 21:12] #45 closed

[2019-04-09 21:16] doutriaux1 commented on #48
now we are using matplotlib/tex syntax see: https://cdat.llnl.gov/Jupyter-notebooks/vcs/Mathematical_Expressions_and_Symbols/Mathematical_Expressions_and_Symbols.html

[2019-04-09 21:16] #48 closed

[2019-04-09 21:17] #49 closed

[2019-04-09 21:19] #51 closed

[2019-04-09 21:19] doutriaux1 commented on #52
@scottwittenburg I believe we can close this right?

[2019-04-09 21:20] #53 closed

[2019-04-09 21:23] doutriaux1 commented on #54
some seem to be edge caes in the first example using:
[code]

works

[2019-04-09 21:24] doutriaux1 commented on #54
The box plot isn't just the line anymore, that might an error too

[2019-04-09 21:25] #55 closed

[2019-04-09 21:27] doutriaux1 commented on #56
line is gone.

[2019-04-09 21:27] #56 closed

[2019-04-09 21:34] scottwittenburg commented on #52
Yes, I think it can be closed unless you're aware of some case where we still have a problem.

[2019-04-09 22:32] doutriaux1 commented on #58
now exists

[2019-04-09 22:32] #58 closed

[2019-04-09 22:33] #59 closed

[2019-04-09 22:36] doutriaux1 commented on #61
works in 8.1

[2019-04-09 22:36] #61 closed

[2019-04-09 22:49] doutriaux1 commented on #62
@danlipsa @scottwittenburg so using the code I do get an image but it does not seem to be centered properly. Using `x.interact()` does trigger an update and seems to rotate partially the globe. Manually turning the globe to the corrrect angle does show the same mage (more or less vtk changes)

[2019-04-09 23:17] doutriaux1 commented on #65
duplicate of #63

[2019-04-09 23:17] #65 closed

[2019-04-09 23:20] doutriaux1 commented on #67
thermo test suite is up and running

[2019-04-09 23:20] #67 closed

[2019-04-10 18:25] #52 closed

[2019-04-10 18:26] doutriaux1 commented on #57
@scottwittenburg the test is now if failed, but the behaviour described above (seg fault) is still true.

[2019-04-10 18:30] #68 closed

[2019-04-10 18:32] doutriaux1 commented on #69
@scottwittenburg looked carefully at these issues when switching to context2D

[2019-04-10 18:32] #69 closed

[2019-04-10 18:37] doutriaux1 commented on #71
@scottwittenburg would it be as easy as creating a new renwin and stick on it all the actors? Or is it more involved?

[2019-04-10 18:39] doutriaux1 commented on #72
yes that makes sense, i think it's a user error really here.

[2019-04-10 18:39] #72 closed

[2019-04-10 18:44] doutriaux1 commented on #73
@scottwittenburg @danlipsa it would be nice to be able to plot unstructured grids in isofill, since we have the cell points.

[2019-04-10 18:53] scottwittenburg commented on #71
My first guess is it's probably more involved, but then, you know me: always looking on the gloomy side of things ;-)

I would have to spend some time looking a little deeper to know for sure.  And since there are some questions about how the bg mode is working anyway, we'll probably have to see about that first.

Maybe @danlipsa would have a better idea, but I wonder if just setting the onscreen

[2019-04-10 18:55] doutriaux1 commented on #74
potential data: http://aims3.llnl.gov/thredds/fileServer/cmip5_css01_data/cmip5/output1/BCC/bcc-csm1-1-m/piControl/fx/ocean/fx/r0i0p0/v20130307/areacello/areacello_fx_bcc-csm1-1-m_piControl_r0i0p0.nc

[2019-04-10 19:01] doutriaux1 commented on #77
@scottwittenburg @danlipsa that would be really nice.

[2019-04-10 19:01] scottwittenburg commented on #69
That old CDash link from years ago doesn't exist anymore, so it's hard to know what this was about.  I guess it makes sense to close it now, and if it comes up again, we'll create a new issue with more details.

[2019-04-10 19:02] #78 closed

[2019-04-10 19:06] doutriaux1 commented on #71
@scottwittenburg yes you're right `context items`. Let's not worry about it for now

[2019-04-10 19:09] doutriaux1 commented on #79
code looks like it's been updated. closing.

[2019-04-10 19:09] #79 closed

[2019-04-10 19:14] #80 closed

[2019-04-15 16:17] #396 closed

[2019-04-16 19:32] #84 closed

[2019-04-16 19:34] #91 closed

[2019-04-16 19:45] #100 closed

[2019-04-16 19:45] doutriaux1 commented on #100
now we have streamlines, not needed really.

[2019-04-16 19:46] #101 closed

[2019-04-16 19:47] #151 closed

[2019-04-16 19:47] #165 closed

[2019-04-17 21:22] doutriaux1 commented on #81
on nightly i get:

[code]

[2019-04-17 21:47] doutriaux1 commented on #82
[code]

Notice the circle isn't very smooth

![marker](https://user-images.githubusercontent.com/2781425/56323104-b3cdcc00-611f-11e9-9e2d-1d6e5db0b4c9.png)

[2019-04-17 22:00] doutriaux1 commented on #82
[marker.pdf](https://github.com/CDAT/vcs/files/3091725/marker.pdf)

[2019-04-17 22:02] scottwittenburg opened #402 "Cannot clear canvas after canvas.interact()"
The interaction buttons remain on the screen after calling `x.clear()`.

[code]

No go interact, or don't.  Either way, type `q` when you're ready to go back to the terminal and do:

[code]

The plot will be cleared except for the buttons.

[2019-04-17 22:11] doutriaux1 commented on #82
to make things worse, changing the viewport makes thing terrible

[code]
![thin](https://user-images.githubusercontent.com/2781425/56324173-05c42100-6123-11e9-9168-3cbabf0a0175.png)

[2019-04-17 22:14] doutriaux1 commented on #82
[code]
![less_thick](https://user-images.githubusercontent.com/2781425/56324356-79fec480-6123-11e9-9f3d-b351d91092e6.png)

[2019-04-18 15:11] doutriaux1 commented on #83
This has been cleared years ago.

[2019-04-18 15:11] #83 closed

[2019-04-18 15:17] doutriaux1 opened #403 "Zombie Windows"
[code]
leads to x and y zombie windows opened forever and ever after.

[2019-04-18 15:20] doutriaux1 commented on #86
duplicate of https://github.com/CDAT/dv3d/issues/4

[2019-04-18 15:20] #86 closed

[2019-04-18 15:23] doutriaux1 commented on #87
duplicate of https://github.com/CDAT/dv3d/issues/8

[2019-04-18 15:23] #87 closed

[2019-04-18 15:24] doutriaux1 commented on #88
uvcdat GUI is long dead.

[2019-04-18 15:24] #88 closed

[2019-04-18 15:26] doutriaux1 commented on #89
uvcdat gui is long dead

[2019-04-18 15:26] #89 closed

[2019-04-18 15:28] doutriaux1 commented on #90
duplicate of: https://github.com/CDAT/vcs/issues/60

[2019-04-18 15:28] #90 closed

[2019-04-18 15:32] scottwittenburg commented on #60
Seems like we want something like this:

https://blog.mapbox.com/mapping-wind-barbs-to-show-speed-and-direction-4d3078add03d

[2019-04-18 15:34] doutriaux1 commented on #60
small bar: 1 unit
long bar: 2 units
trinagle: 10 units

Should we ave attribute to control:
* what is 1 units value
* what are the thresholds to switch (default: 1,2,10, but could possibly become 1,10,100 or 1,5,10, etc...)

[2019-04-18 15:35] doutriaux1 commented on #92
GUI is long dead and we are using selenium on vcdat project.

[2019-04-18 15:35] #92 closed

[2019-04-18 15:42] doutriaux1 commented on #93
not sure what this is about, closing @aashish24 please chime and re-open with more details if important.

[2019-04-18 15:42] #93 closed

[2019-04-18 16:23] doutriaux1 commented on #95
marker sizes changed again, but it was agreed upon. closing snceI don't think the issue is relevant anymore

[2019-04-18 16:23] #95 closed

[2019-04-18 16:27] doutriaux1 commented on #96
fixed.

[2019-04-18 16:27] #96 closed

[2019-04-18 16:32] #97 closed

[2019-04-18 16:38] doutriaux1 commented on #98
we added a matplotlib importer a while back. see tutorial: https://cdat.llnl.gov/Jupyter-notebooks/vcs/Colormap_Create/Color_map_create_own.html

[2019-04-18 16:38] #98 closed

[2019-04-18 17:04] doutriaux1 commented on #99
not sure it is still valid since switched to context2D

[2019-04-18 17:04] #99 closed

[2019-04-18 17:05] doutriaux1 commented on #102
works now

[2019-04-18 17:05] #102 closed

[2019-04-18 17:10] doutriaux1 opened #404 "ffmpeg still uses .uvcat directory"
[code]

we should use dotdir stuff rather than .uvcdat

[2019-04-18 17:10] doutriaux1 commented on #404
/1TB/git/vcs/vcs/Canvas.py in ffmpeg(self, movie, files, bitrate, rate, options)

[2019-04-18 17:26] doutriaux1 commented on #106
fixed in master

[2019-04-18 17:26] #106 closed

[2019-04-18 17:27] doutriaux1 commented on #107
make doctest works these days, closing

[2019-04-18 17:27] #107 closed

[2019-04-18 17:28] doutriaux1 commented on #108
VCDAT 2.0 fixes this, kitware wants to bring back interaction in vcdat.

[2019-04-18 17:28] #108 closed

[2019-04-18 17:33] doutriaux1 commented on #110
I think this should be deprecated.

[2019-04-18 17:33] doutriaux1 commented on #110
i don't think people use cgm anymore and @scottwittenburg mentions most of context2d would likely fail.

[2019-04-18 17:46] doutriaux1 commented on #117
https://github.com/CDAT/cdat/wiki/Remote-server-setup-for-VNC @scottwittenburg please review and let me know if it helps.

[2019-04-18 17:47] scottwittenburg commented on #117
Btw the link @danlipsa provided from the paraviewweb documention (high above), is broken now, but that documentation has moved here:

https://kitware.github.io/paraviewweb/docs/virtualgl_turbovnc_howto.html

[2019-04-18 17:52] doutriaux1 commented on #119
tested on mac and linux with 8.1 it works for me.

[2019-04-18 17:52] #119 closed

[2019-04-18 17:56] #122 closed

[2019-04-18 18:10] #124 closed

[2019-04-18 18:15] #125 closed

[2019-04-18 18:29] doutriaux1 commented on #126
@scottwittenburg please add this as test in your marker PR.
[deep_ocean_plot_standalone_v2.py.txt](https://github.com/CDAT/vcs/files/3095722/deep_ocean_plot_standalone_v2.py.txt)

[2019-04-18 18:29] doutriaux1 commented on #126
goes with #82

[2019-04-18 18:43] doutriaux1 commented on #129
after context2d when running (edited) script above, width of png is 8000 but height gets stuck at 1876.

When running with bg=1 I DO get a png that is 8000x4000 but the picture is cramped in the corner.

[2019-04-18 18:44] doutriaux1 commented on #129
![bad](https://user-images.githubusercontent.com/2781425/56383678-46797400-61cf-11e9-9270-4590a0c2e5ca.png)

[2019-04-18 19:44] danlipsa commented on #129
I did some work on this in December: VTK did not report the new dimensions correctly after resizing. It does now. I did not get a change to look in vcs to completely fix this.

[2019-04-18 19:49] doutriaux1 commented on #130
circleci works these days. Closing.

[2019-04-18 19:49] #130 closed

[2019-04-18 19:49] doutriaux1 commented on #132
done

[2019-04-18 19:49] #132 closed

[2019-04-18 19:56] doutriaux1 commented on #133
duplicate of #187

[2019-04-18 19:56] #133 closed

[2019-04-18 22:27] #134 closed

[2019-04-18 22:27] doutriaux1 commented on #140
this will be part of VCDAT 2 and can be done in VCDAT 1.0

[2019-04-18 22:27] #140 closed

[2019-04-18 22:29] doutriaux1 commented on #142
@doutriaux1 fixed that when wrting templates notebook

[2019-04-18 22:29] #142 closed

[2019-04-18 22:32] doutriaux1 commented on #144
@davis278 where do you think this should go? It's got a nice doc string so should appear in readthedocs.

[2019-04-18 22:37] scottwittenburg commented on #149
I have a few questions on this one @danlipsa:

1.  It's not obvious to me why the bounding box for vectors would be smaller than the bounding box for the dataset?  Can you provide a brief explanation?

2. When you created this issue, diid you have some plot that you could see was wrong?

3. Or was is just that you saw the code and recognized an error?

4. Is the code you pasted in `vectorpipeline.

[2019-05-01 05:57] lee1043 commented on #41
I am revisiting this issue. @doutriaux1 so do you recommend to create a canvas and a graphic method only one time at the beginning and reuse them over and over when generating multiple images?

[2019-05-01 06:10] lee1043 commented on #41
Slow down appears when I re-create identical gm for new canvas, even after using `removeobject(gm)`. Revised my code to create canvas and gm only at the beginning and reuse it for the production of multiple images, which solved the slow down issue.

[2019-05-01 12:49] doutriaux1 commented on #41
@lee1043 yes you should create only one gm and reuse as much as possible. I have a test with `removeobject(gm)` for each gm, could you send me a copy of the script you used that was leading to a slow down. I would like to inspect it. This issue makes me think we should create a `VCS best practices`  notebook.

[2019-05-01 17:54] scottwittenburg commented on #381
Fixed by #382

[2019-05-01 17:54] #381 closed

[2019-05-01 18:11] scottwittenburg commented on #73
This is about generating a mesh (using triangulation) when we only have points.

[2019-05-01 18:19] scottwittenburg commented on #57
@danlipsa Do you recall whether we're supposed to be able to call `setbgoutputdimensions` anymore, or whether that has been deprecated?

[2019-05-01 18:24] scottwittenburg commented on #54
I think we may not be `data` having priority 0 in our pipelines, which is why the box plot isn't just the line anymore.

[2019-05-01 18:33] scottwittenburg commented on #22
This can be fixed where we draw the legend.

[2019-05-01 18:35] scottwittenburg commented on #21
Possible duplicated of (or at least related to) #403.

[2019-05-01 18:39] scottwittenburg commented on #18
The original code was supposed to be an hourglass, I guess.

[2019-05-01 19:39] danlipsa commented on #57
I have a branch for fixing
https://github.com/CDAT/vcs/issues/129
In my branch I deprecate this function and advise the user to use a magnification parameter for the png() function.  It definitely looks like we should deprecate this.

[2019-05-01 21:43] lee1043 commented on #41
@doutriaux1 thanks for information. I revised my code accordingly, so it is not showing slowdown issue anymore. I was thinking to make my code as toy version for your investigation, but as it was already revised to work properly, I am not sure we really want to spend time on that code. My script has complex dependencies though, so if you really want to dive in I may able to try to make it simpler.

[2019-05-01 21:46] doutriaux1 commented on #41
thx @lee1043 I'm just curious about what you meant by *still slowing down even after using removeobject*

[2019-05-01 21:50] lee1043 commented on #41
@doutriaux1 so when you see one of my attached marked as "Old", you will see there is the part I was using `canvas.removeobject(gm)` in hope that would prevent slowing down.  But it didn't solve it.

So the way I solved was like in the other attached marked as "Revised", which creates canvas and gm before start looping for individual plots and re-use them in the loop, following your advice.

[2019-05-01 21:51] doutriaux1 commented on #41
ok thanks @lee1043

[2019-05-17 16:35] arulalant opened #407 "Degree Symbol does not plot"
Hai,

In previous versions of cdat, we used to plot degree symbol by !Uo!D.
But in cdat8.1 version, it is not plotting degree symbol instead it just displaying text as !Uo!D.

Is there any way to plot degree Celsius or degree symbol. ?

[2019-05-18 07:29] indseelan commented on #407
you can plot using the following syntax in cdat8
unit_name = r"$\ ^oC$"

On Fri, 17 May 2019 at 22:05, Arulalan.T <notifications@github.com> wrote:

--

****************************************************************************************
Sathiyaseelan R
Research Scholar
Center for Atmospheric Sciences
Indian Institute of Technology - Delhi
HauzKhas
NewDelhi - 110016
indseelan@cas.iitd.ac.in
Ph

[2019-05-18 11:33] arulalant commented on #407
Hai,

Thanks. Using the command ($^{\circ}$C) I am able to plot degree Celsius symbol in cdat8.1. When I am storing the vcs canvas as png, it works perfectly. But when I am saving canvas as pdf, a red colored rectangular border seems to appear over the text (after inserted $^{\circ}$C).

See the attached screenshot taken on pdf file.
![vcs-degree-symbol](https://user-images.githubusercontent.com/1

[2019-05-20 18:14] doutriaux1 commented on #407
@scottwittenburg can you investigate please?

@arulalant for more on text object please review:

https://cdat.llnl.gov/Jupyter-notebooks/vcs/Mathematical_Expressions_and_Symbols/Mathematical_Expressions_and_Symbols.html

and

https://cdat.llnl.gov/Jupyter-notebooks/vcs/VCS_Text_Objects/VCS_Text_Objects.html

[2019-05-20 18:40] scottwittenburg commented on #407
ping @danlipsa

[2019-05-21 05:47] arulalant commented on #407
@doutriaux1 Thanks. Meanwhile is that possible to increase png dpi resolution while saving x.png(filename)?.  I couldn't control the dpi in the argument. If I am able to save high definition png image, then also my problem will solve as of now (for plotting degree symbol).

[2019-05-21 14:52] doutriaux1 commented on #407
@arulalant you can pass `width=` and `heigth=` to the `png` function. Or create big canvas at init time:
[code]

or

[code]

[2019-05-30 19:22] davis278 opened #409 "vcs 3D rotating globe animation not working properly"
While running the example code on the VCS 3D Animation Tutorial (https://cdat.llnl.gov/Jupyter-notebooks/vcs/Animations/Animations.html), Example 3: Rotating Globe, the animation that is created is not right.  A red square in the attached screenshot highlights what seems to be a portion of the globe in the lower left corner of the window. Previously, the globe was centered in the middle of the vie

[2019-05-30 19:25] doutriaux1 commented on #409
@danlipsa this is actually a super high priority, please focus on this first.

[2019-05-30 20:09] danlipsa commented on #409
@doutriaux1 Sounds good. I'll take a look at it tomorrow.

[2019-06-03 21:39] danlipsa commented on #409
@doutriaux1 It is the projection that causes the problem. boxfill works correctly.

[2019-06-03 21:59] doutriaux1 commented on #409
@danlipsa you mean the same proj on boxfill works? So it's proj+isofill?

[2019-06-04 13:59] danlipsa commented on #409
Yes, that is correct.

On Mon, Jun 3, 2019 at 5:59 PM Charles Doutriaux <notifications@github.com>
wrote:

[2019-06-04 14:01] doutriaux1 commented on #409
Thx. Sounds like a vtk issue then. @scottwittenburg I don't think you did anything special for isofill right?

[2019-06-04 15:10] danlipsa commented on #409
getProjectedBoundsForWorldCoords in vcs returns infinity for one of the coordinates for this projection. I should have a fix today.

[2019-06-04 15:17] scottwittenburg commented on #409
@doutriaux1 I don't think I did anything special there.  However, there were always some special cases I didn't quite understand for various pieces of work (getting plotting bounds, wrapping the grid, etc...) which I just had to leave the way they were, because trying to change them broke everything.

[2019-06-04 18:12] danlipsa commented on #409
https://github.com/CDAT/vcs/pull/410

[2019-06-05 13:00] danlipsa commented on #409
Fix has been merged in master.

[2019-06-05 13:00] #409 closed

[2019-06-11 15:24] doutriaux1 opened #412 "colorbar"
Hi Folks:

   Please address the following colorbar issue in vcdat2.0: The colorbar has the range -0.5 to 0.5 (with arrows for more extreme values) and should be symmetrical about 0.0, using an increment of 0.1, but there at two incorrect labels indicating  -0.0 and 0.0.
   I also suggest that as part of gui there should be a button to select a new color table. I have many color table in my initia

[2019-06-11 17:57] danlipsa commented on #357
@doutriaux1 @scottwittenburg I'll start looking at this.

[2019-06-11 19:08] danlipsa commented on #357
@doutriaux1 Why are you saying that the vectors should be curved? In the code, one of the vector components is 0 (you are doing u - u) so it is correct that the vectors are straight up.

[2019-06-11 19:12] doutriaux1 commented on #357
straight up means toward the north pole. In robinson, at the "north" the arrow should not be staright up be slightly tilted. does this makes sense?

[2019-06-11 19:20] danlipsa commented on #357
At the moment, there is no transform applied to the vector as far as I know. So I guess, you are expecting to to transform the points of the arrow using the same transform as for the points of the mesh.

[2019-06-11 19:21] doutriaux1 commented on #357
yes exactly

[2019-06-11 19:22] danlipsa commented on #357
Sounds good, I'll look into doing this.

[2019-06-13 16:42] doutriaux1 commented on #357
@danlipsa i think so, but for the legend, let's use the length at the equator (or mid lat/lon of the plot)

[2019-06-17 16:01] danlipsa commented on #149
@scottwittenburg I think this is solved isn't it? We solved this by sampling the dataset, first along boundary and how on the whole dataset. I don't see inside vectorpipline or anywhere else this code.

[2019-06-17 16:09] danlipsa opened #413 "vector needs clamping scaletype"
Besides the list of options already available for scaletype, we need to add clamping.
So instead of mapping [minnorm, maxnorm] to a range of colors we map a user specified
[scalerange[0], scalerange[1]].

This will give us the ability to ignore possible outliers in the vector data.

[2019-06-17 16:09] danlipsa commented on #413
@scottwittenburg @doutriaux1 @aashish24 Please comment.

[2019-06-17 16:10] danlipsa commented on #413
See the comment in vector.py scaletype for the available scaling options.

[2019-06-17 16:14] scottwittenburg commented on #149
@danlipsa You could be right about that.  When I added those questions, it was because I couldn't find the code you pasted in the original issue.

[2019-06-17 16:29] danlipsa commented on #149
@scottwittenburg Sorry, I did not see those at the time. Lets close this then. @doutriaux1 Any objections?

[2019-06-17 16:51] doutriaux1 commented on #413
@danlipsa sounds good, what is it doing currently?

[2019-06-17 16:54] danlipsa commented on #413
This is the help for scaletype. The default is constantNNormalize.
`
      off - No scaling is performed on the vector values
      constant: vector value *  self.scale
      normalize: vector value /  max_norm
      constantNNormalize: vector value * self.scale / max_norm
      linear: map [min_norm, max_norm] to self.scalerange
      constantNLinear - map [min_norm, max_norm] to self.scalerange

[2019-06-17 16:54] doutriaux1 commented on #149
I think you're right.

[2019-06-17 16:54] #149 closed

[2019-06-17 17:30] sterlingbaldwin opened #414 "ipy widget for axis slider"
The vcs plot ipython widget should have a slider allowing the user to move through a selected axis (e.g. time).

[2019-06-25 20:32] #374 closed

[2019-06-26 18:34] doutriaux1 opened #415 "1D plot do not seem to show time/level if available"
because they're squeezed

[2019-07-01 17:02] doutriaux1 opened #416 "axisconvert seems to force datawc to be in converted units"
[code]

but should be 1000

[2019-07-11 13:58] #415 closed

[2019-07-12 13:08] jypeter commented on #394
I guess I can close this one

[2019-07-12 13:08] #394 closed

[2019-07-18 15:27] danlipsa commented on #357
Points in the dataset are in lat lon, and vectors are in meters per second (I will assume that this will always be the case). This means that I will have to convert points from lat lon to UTM, compute the vector heads in UTM and than convert back to lat lon. Each point is potentially in a different UTM zone that means that I will do a different conversion for each point which may be slow.

I think

[2019-07-19 16:03] scottwittenburg commented on #357
To me it seems to be incorrect not to project the vectors if the rest of the plot is in some projection, so I would think if it's an option, it should default to  `ON`.  But maybe I'm missing something?

[2019-07-19 16:08] doutriaux1 commented on #357
I agree with @scottwittenburg

[2019-07-19 16:09] doutriaux1 commented on #357
@danlipsa i get your point about units. But how do we do it in the "normal" case. I mean would the vector length change if the values are the same but units switch from "m/s" to "km/s" ?

[2019-07-19 17:02] danlipsa commented on #357
Let's do it for m/s and then it would be easy to look at the unit and make adjustments if we need to. The problem is that likely the vector size and direction will change differently depending where on where the vector is on the map. So the fact that we scale the vectors anyway to show them won't help.
I agree, projection will be ON by default.

[2019-10-21 23:10] muryanto1 opened #421 "drawlogooff() does not always work"
I ran this in 'jupyter notebook'
`[1]: # Sample data
import requests
r = requests.get("https://cdat.llnl.gov/cdat/sample_data/clt.nc",stream=True)
with open("clt.nc","wb") as f:
    for chunk in r.iter_content(chunk_size=1024):
        if chunk:  # filter local_filename keep-alive new chunks
            f.write(chunk)

[2]: import cdms2, vcs
f = cdms2.open('clt.nc')
d = f('clt')
x = vcs.init()
x.p

[2019-11-01 14:26] danlipsa commented on #357
Here are some images with the fix. I'll need to upgrade VTK.
for polar projection
![test](https://user-images.githubusercontent.com/6180727/68031321-d07fba80-fc91-11e9-8508-a24cf77d0561.png)
for robinson projection with gm.datawc_x2 = -50 and plot (ratio="autot")
![test](https://user-images.githubusercontent.com/6180727/68031462-13da2900-fc92-11e9-9460-40dbdc5f4633.png)

[2019-11-01 20:14] aashish24 commented on #357
Looking great @danlipsa

[2019-11-08 18:26] arulalant commented on #407
Hai,

When I try to change the default font and save plot as pdf, then I am getting error.

v = vcs.init()
v.addfont(helvetica_font, 'helvetica')
vcs.setdefaultfont('helvetica')
...
v.pdf('out.pdf')

ERROR: In ../IO/ExportPDF/vtkPDFExporter.cxx, line 113
vtkPDFExporter (0x7fd3223c24c0): LibHaru failed during PDF export. Error=0x105d detail=0

I am getting the above error while saving as pdf only,

[2019-11-18 14:57] danlipsa commented on #357
A consequence of the projection is that the vector range changes, for robinson especially at the pole.
The this the projected vector: range 0, 150
![vector](https://user-images.githubusercontent.com/6180727/69062919-96c8e680-09e9-11ea-8bb7-959e0d7d8abf.png)
and the original vector: range 0, 70
![original_vector](https://user-images.githubusercontent.com/6180727/69062923-99c3d700-09e9-11ea-826d-216

[2019-11-25 19:02] durack1 commented on #242
@downiec @jasonb5 @gabdulla this is the bug that I was talking about this morning

[2019-11-25 19:11] downiec commented on #242
Hi Paul,

I hadn’t been able to check out the VCS issues lately because I have been working to get vCDAT set up on jupyterhub. However I will take a look at the issue and do my best to figure out how to resolve it. If you’d like to meet in person to show me your screen and discuss this issue further, I’ll be onsite tomorrow and should be available by around 1pm or so. Let me know if you have time

[2019-11-25 19:15] durack1 commented on #242
@downiec sounds good, I am also onsite tomorrow and this would certainly benefit from a screen showing. The script that really diagnoses the issue really well (plot timing starts at 3s and blows out to ~900+s after ~1000 loop steps) so it should be relatively easy to ascertain what the issue is and squash this long-standing bug once and for all

[2019-11-25 19:19] downiec commented on #242
Great! I’ll stop by your office tomorrow then. Does 1pm work for you? I’m flexible, so you can propose another time that works better for you.

From: "Paul J. Durack" <notifications@github.com>
Reply-To: CDAT/vcs <reply@reply.github.com>
Date: Monday, November 25, 2019 at 11:15 AM
To: CDAT/vcs <vcs@noreply.github.com>
Cc: "Downie, Carlos Alberto" <downie4@llnl.gov>, Mention <mention@noreply.github

[2019-11-26 21:42] durack1 commented on #242
@downiec that demo file for testing is at https://github.com/PCMDI/amipbcs/pull/22/files

[2019-12-03 00:35] muryanto1 opened #424 "downloading a jupyter notebook has html does not have the image/plot included"
@davis278 found the issue.

To reproduce the problem:
conda create -n just_vcs -c cdat/label/nightly -c conda-forge vcs jupyter "libnetcdf=4.6.2" "python=3.7"
source activate just_vcs
jupyter notebook

open a notebook for the kernel for this env, and run the following in the notebook cells:
[code]

you should see a plot.
click on 'File' tab, and hover over to 'Download as', and select 'HTML', it s

[2019-12-03 23:52] durack1 commented on #242
@forsyth2 @muryanto1 this was the VCS issue that I was having problems with

@downiec ping

[2019-12-05 18:19] forsyth2 commented on #424
`git bisect` shows us that this bug is introduced in https://github.com/CDAT/vcs/commit/ff4041433a6b3048450c25e3dac7cfa5a5333d3c.

Using the IPythonDisplay class instead of VBox (as was done before the above commit), Jupyter's "Download as [html]" button does produce a plot in the html.

See https://github.com/CDAT/vcs/commit/ff4041433a6b3048450c25e3dac7cfa5a5333d3c#diff-02aa09a23b993d556845f5e24e

[2019-12-06 02:25] danlipsa commented on #242
@durack1 Did you tried your test with vcs nightly?

[2019-12-06 05:46] durack1 commented on #242
@danlipsa the test was with cdat/label/v82 which pulled down
[code]
Are there other versions that have some changes I should be looking for?

[2019-12-06 05:52] durack1 commented on #242
@danlipsa I just left my code running for weeks and on the 1858 loop, it's now taking 2027 seconds to plot and save a 500Kb PNG.

[2019-12-06 16:25] danlipsa commented on #242
Wow! How long does it take for the first loop? Does the memory increase as well? How much?

[2019-12-06 16:40] durack1 commented on #242
@danlipsa 3 secs, the memory footprint goes from 1.3 -> 2.3Gb, so that is a bug that is solved, but there is still a MAJOR issue. If you take a peek at https://github.com/CDAT/vcs/issues/242#issue-254061774 and the issues linked in this issue, you'll see some of the logs.

The latest run looks like (only have a couple of timesteps, I didn't pipe the terminal output to a file):
[code]

The file tha

[2019-12-06 17:04] durack1 commented on #242
@danlipsa if you don’t have access, I can hang the two (or four) input netcdf files off the ftp LLNL server

[2019-12-06 17:07] durack1 commented on #242
@danlipsa my guesswork here is the VCS-VTK implementation needs a tweak, as python objects created just continue to accumulate and their handles remain intact as `go.collect()` doesn’t flush these and the continuing growth of objects leads to a larger and larger overhead and HUGE slowdown

[2019-12-06 18:49] danlipsa commented on #242
@durack1 If you could put the netcdf files on an ftp server that would be great. Thanks.

[2019-12-06 20:46] durack1 commented on #242
@danlipsa there should be a `bz2` archive at ftp://ftp.llnl.gov/incoming/191206_VCS82Bug/ that contains everything you need to reproduce the bug. Let me know if you have any trouble accessing this.

ping @downiec @muryanto1 @gabdulla @forsyth2

[2019-12-06 21:34] danlipsa commented on #242
@durack1 I get that
[code]

[2019-12-06 21:48] durack1 commented on #242
it's a bit fiddly, rather try browsing to ftp://ftp.llnl.gov/incoming and then see where you can go next. It works for me in firefox

[2019-12-06 22:02] danlipsa commented on #242
I don't think is that, maybe I cannot access this from outside.

[2019-12-06 22:15] durack1 commented on #242
@danlipsa I am outside, try connecting to ftp.llnl.gov first (user: anonymous; password: email address), then `cd incoming` and then `cd 191206_VCS82Bug` and then `get 191206_durack1_VCS82Bug.bz2`.

The configuration of the system is pretty weird.

[2019-12-06 23:04] durack1 commented on #242
@danlipsa any more luck?

[2019-12-07 19:37] danlipsa commented on #242
OK, I am getting it right now. I am using a ftp client (filezilla) to be able to get this. Maybe the issue is that the setup does not allow to list a directory only to cd and get a file.

[2019-12-07 19:40] durack1 commented on #242
@danlipsa yeah I have raised queries about the config a number of times, they claim it's setup for heightened security, but in reality it rather limits the utility of having such a service when standard commands etc are blocked.

Let me know if you have any problem running the example script, I **think** the demo should work as simply as extracting the archive to an empty directory, loading up a C

[2019-12-07 20:08] durack1 commented on #242
@danlipsa any luck?

[2019-12-07 20:50] danlipsa commented on #242
@durack1 Yes, I got the data. Thanks! I'll look at this as soon as I can. It may not be before the end of the year though as I am busy with two other projects.

[2019-12-07 23:40] durack1 commented on #242
@danlipsa no problem, just to make sure that you can reproduce this issue (as in a couple of months I will likely have forgotten details), can you reproduce my experience over the first 1 to 100 steps of the loop, the time increases from ~1.3 to 7.4s and the python object counts increase from 178534 to 197982:
[code]

[2019-12-09 18:19] forsyth2 commented on #424
Added
Running `jupyter nbconvert --execute --to html <notebook>` on the example with cleared output

[2019-12-09 18:23] forsyth2 commented on #424
Added the following two lines to the example notebook above.
[code]
Running `jupyter nbconvert --execute --to html <notebook>` on this with cleared output prints `5.6.1` and also displays the plot in html. Running the notebook on the web server and clicking "Download as" also prints `5.6.1` yet it does _not_ display the plot in the html.

[2019-12-09 19:06] forsyth2 commented on #424
Running the Jupyter notebook and then `jupyter nbconvert --execute --to html <notebook>` (no `--execute`) appears to be equivalent to clicking "Download as" > "HTML". That is, no plot is displayed. This implies that if `nbconvert` executes, then the plot is displayed properly, but if the Jupyter Notebooks executes, then the plot is _not_ displayed properly.

Since the static plot did display prope

[2019-12-09 23:36] forsyth2 opened #427 "Implement sliders properly"
Issue #424 (plots not displaying when downloaded as html) will be resolved by Pull Request #426 (disabling sliders). Another bug is that sliders replicate after each use.

Since we are disabling sliders, we would like to eventually enable them again once we have fixed their associated bugs.

We know that using `VBox` instead of `IPythonDisplay` caused the bug in #424. A couple questions arise from

[2019-12-16 20:47] durack1 commented on #242
@danlipsa this is great, I've just managed to break the 3000s limit, next stop 1hr to generate a ~500Kb png:
[code]

[2019-12-17 17:29] danlipsa commented on #242
@durack1 Attached is a your script modified so that it does not seem to leak memory and also the time to save a PNG stays constant. I only tried the first 100 steps. The rule I followed is: every time there is a  x.createXXX there should be a corresponding removeobject. EzTemplate is different: you have to remove all created templates as well as the template passed as parameter. You were already d

[2019-12-17 17:32] doutriaux1 commented on #242
user error 🤣

[2019-12-17 19:05] durack1 commented on #242
@doutriaux1 I’d suggest that if such issues cause a reasonably advanced user problems, then it’s a problem with the software and documentation, rather than user error. Defaults should be far cleaner, and self clearing, than accumulating at the rate they do

[2019-12-17 19:07] durack1 commented on #242
@danlipsa thanks for this, I’ll test it out today and get back to you.

Is there a way we can clean up the default behavior of EzTemplate so such issues don’t recur, I.e it cleans up after itself?

[2019-12-17 21:12] danlipsa commented on #242
@durack1 I think the issue is that createXXX as well as EzTemplate store the created graphics methods and templates in the global map vcs.elements. Never understood fully why that is the case. Is it only to access those graphics methods later on using their name? This does not seem to me that compelling. @doutriaux1 ? So I think we can change this behavior but it is not a backward compatible chang

[2019-12-17 21:13] doutriaux1 commented on #242
@danlipsa yes it is so that you can refer these object by name (and save them in init attribute json file)

[2019-12-17 21:15] doutriaux1 commented on #242
@danlipsa if my fading memory doesn't betray me, I think thre's a vcs function to remove all object not used on any canvas (search for something like `removeallobject` or something like that. maybe `cleanall`, not quite sure.

[2019-12-17 21:16] doutriaux1 commented on #242
@danlipsa one should probably implement `__del__` on objects to clean the vcs register wen ser delete objects. I don't think my `cleanall` function dared removing objects created by user. You can't assume they will not be re-used by user later.

[2019-12-17 21:33] danlipsa commented on #242
@doutriaux1 Yes, that is a good idea.

[2019-12-17 21:33] durack1 commented on #242
@danlipsa @doutriaux1 I would vote for more logical rather than maintaining backward compatibility, it seems to me that if there are default behaviors that trip a user up, then these should be changed for ease of use and logic, rather than preserved.

On this subject, I was curious about the object use, it seems 180k objects is extreme to me, the below example shows how many (redundant?) objects a

[2019-12-17 21:37] durack1 commented on #242
For comparison, I was curious about `cdms2` and `cdutil` (which likely imports `cdms2` as one of its defaults), while 59/65k seems a little large, it's far better than the 183k of `vcs`:
[code]

[2019-12-17 21:40] durack1 commented on #242
@danlipsa I also note that there is still the active line
`x.backend.renWin = None ; # @danlipsa fix UV-CDAT/vcs#237` and I wonder if this behavior is also something that should be considered, I haven't tested what object/resource counts do when this line is commented

[2019-12-17 21:44] durack1 commented on #242
@danlipsa I just tried your script and can report that it solves the problem, so here is the first 10 and last 10 timesteps over the first loop:
[code]
It weirds me out a little the step jumps in objects that occur now and then

[2019-12-17 22:59] durack1 commented on #242
@danlipsa @doutriaux1 to be a little clearer. I personally find it confusing that we have `vcs.clean_auto_generated_objects()`, `vcs.clear()`, `vcs.close()`, `vcs.destroy()`, `vcs.flush()`, `vcs.onclosing()`, `vcs.removeP()` and `vcs.removeobject()`, it's really not intuitive to me what each of these functions do, and how they overlap. It may be obvious to someone else, but it certainly isn't to m

[2019-12-18 14:17] danlipsa opened #429 "confusing close / cleanup functions."
from @durack1

 I personally find it confusing that we have vcs.clean_auto_generated_objects(), vcs.clear(), vcs.close(), vcs.destroy(), vcs.flush(), vcs.onclosing(), vcs.removeP() and vcs.removeobject(), it's really not intuitive to me what each of these functions do, and how they overlap. It may be obvious to someone else, but it certainly isn't to me without considerable guidance.

[2019-12-18 14:18] danlipsa commented on #242
Some of them should be removed: clean_auto_generated_objects, some of them should be private: removeP, onclosing
Not sure if flush() is needed. Seems like a very low lever operation. It should probably be private as well.
Not sure what the difference between destroy and close is. Even after briefly looking at the code.
I agree, those should be cleaned up. I filed a different issue with this: https

[2019-12-18 14:26] danlipsa commented on #242
@durack1 Seems like x.backend.renWin = None is not needed. I think the issue and workaround were needed only for the old OpenGL1 backend. Now we ported everything to the new OpenGL 3.2 backend.

[2019-12-18 14:28] danlipsa commented on #242
I think the reason for this are the default graphics methods and templates that are loaded from a json file at initialization.

[2019-12-18 14:30] danlipsa commented on #242
@durack1 Can you close this issue then?

[2019-12-18 17:54] durack1 commented on #242
@danlipsa yeah thanks, this issue can be closed, and the code improvement can be focused in #429

[2019-12-18 17:54] #242 closed

[2019-12-19 19:12] durack1 opened #430 "New vtkXOpenGLRenderWindow error unable to find valid OpenGL 3.2 or later implementation"
I am hitting a new error that has stopped me in my tracks using `vcs8.2`. Below is the error text (truncated):
[code]
Complete error output:
[cdat82py3_vcsBug-vtkOpenGLRenderWindow.txt](https://github.com/CDAT/vcs/files/3985243/cdat82py3_vcsBug-vtkOpenGLRenderWindow.txt)

conda list output:
[cdat82py3_conda_list.txt](https://github.com/CDAT/vcs/files/3985245/cdat82py3_conda_list.txt)

@downiec @fo

[2019-12-19 19:12] durack1 commented on #430
@danlipsa ping

[2019-12-19 20:35] durack1 commented on #430
@danlipsa this is on a RHEL7 machine, using VNC. I'm almost certain that I have hit a very similar issue before (RHEL6 and a much older version of CDAT). Do you remember what the fix required?

[2019-12-19 21:03] durack1 commented on #44
@scottwittenburg @danlipsa @doutriaux1 @downiec @forsyth2 @muryanto1 I am hunting around for a solution to #430 and it seems that the only "solution" is to use the mesa build, which defeats the purpose of what I am trying to use `vcs` for, interactive plotting of in memory objects whilst debugging a script. It really would be great if a solution is available for interactive plotting. The environme

[2019-12-19 21:09] danlipsa commented on #430
@durack1 You should be able to use osmesa fine. if you want to see a window on the screen through vnc you need to follow the instructions in:
https://github.com/CDAT/cdat/wiki/Remote-server-setup-for-VNC
@sankhesh wrote them and both me and him were able to set this up on our recent ubuntu machines.

Indeed, those did not work for rhel6 as the software there was too old. Before you go through this

[2019-12-19 21:09] doutriaux1 commented on #44
jupyter-notebook are not the best, but a great way around when using mesa. They will show you the picture.

[2019-12-19 21:18] durack1 commented on #430
@danlipsa thanks for the reply, I had recalled some interaction on this a while back and the URL above is exactly what I remembered, just very poorly, thanks for providing a review.

A problem that we have at LLNL is that the only approved software is VNC provided by RealVNC, or for RHEL7 TigerVNC 1.8.0 or above (which ships with RHEL7). TurboVNC is not approved, and I will have to check on the st

[2019-12-19 21:26] durack1 commented on #430
@danlipsa I have just requested approval for VirtualGL (2.6.3) and TurboVNC (2.2.3), but I am not holding my breath as they already have TigerVNC (1.9.0) approved

[2019-12-19 21:31] durack1 commented on #44
@doutriaux1 thanks, I am trying to debug a script which is not implemented in a jupyter notebook, rather I am just running this (with pdb) in the terminal. It would be preferable to me if I can just enable VCS interactively, however it that's not possible I'll just have to forget about vcs altogether and go to matplotlib or equivalent. It's a pity though, as VCS deals with CMIP5/6/ ocean grids far

[2019-12-19 21:34] doutriaux1 commented on #44
you do know you can copy/paste your script into a new notebook? Then use split cell to run only the buggy section of your script. It's actually faster than regular prompt debugging.

[2019-12-19 22:01] durack1 commented on #430
@cdatrobot (who are you BTW) yeah, I recalled this too, which was the reason why the solution went nowhere.

[2019-12-19 22:05] durack1 commented on #44
@doutriaux1 I know this exists somewhere, but how do I initialize a jupyter notebook on one of our workstations?

Is there a better way than:
[code]

[2019-12-19 22:10] doutriaux1 commented on #44
@downiec has it setup . It's our vcdat. You can specify any kernel you want once you're at the url. @downiec what's the URL for jupyter-vcdat on Paul's machines

[2019-12-19 22:19] downiec commented on #44
@doutriaux1 Are you talking about jupyter-vcdat setup in Jupyterhub which is hosted on nimbus?

[2019-12-19 22:21] downiec commented on #44
I don't have vcdat setup/installed on other machines right now, but if the machine has docker available, there's a docker image that can be run which has it jupyterlab and notebooks setup in it.

[2019-12-19 22:28] doutriaux1 commented on #44
nimbus should work for @durack1 he wants to be able to connect to a jupyterlab running on a remote machine from his local machine.

[2019-12-19 22:31] danlipsa commented on #430
That was me, responding directly through email instead of responding from github. That's disapointing that it could not figure out that's the same person - I have the same email address in my profile.

[2019-12-19 22:34] downiec commented on #44
@doutriaux1  Yes, in that I can add him to the group on github so he can access it. @durack1 I set you an invitation to the group and will email you how to access it.

[2019-12-19 22:50] durack1 commented on #430
@danlipsa thanks, it seems there is already a request in for nomachine (6.8.1.1) for linux (RHEL7) so hopefully this is approved, is the configuration trivial?

[2019-12-19 22:53] danlipsa commented on #430
Yes, it is. You just install it and connect. But only one user can use the machine at a time. Not sure what happens if several users connect. They either fight for mouse / keyboard, or they get an error.

[2019-12-19 23:11] durack1 commented on #430
@danlipsa, although the docs are a little hard to read, it would seem that the licensed version enables multiple concurrent connections, see https://www.nomachine.com/DT03O00136, so either 4 (Workstation) or 10 (Small Business Server) which I think would work perfectly for our needs

[code]

[2019-12-19 23:20] durack1 commented on #44
@doutriaux1 is this what you'd expect with a cdat82py3 instance that has not enabled mesa on env creation:
![Screen Shot 2019-12-19 at 3 20 12 PM](https://user-images.githubusercontent.com/3229632/71217565-11985200-2273-11ea-9241-bb1ec204a3d8.png)

[2019-12-19 23:21] durack1 commented on #44
@doutriaux1 it seems that there is a vcs graphics object created, but I just can't see it, no matter how I try and go about using it..

[2019-12-19 23:30] doutriaux1 commented on #44
try this
[code]

[2019-12-19 23:31] doutriaux1 commented on #44
of course with pdb, you're interupting before anything is drawn so you can't see an image yet.

[2019-12-19 23:32] doutriaux1 commented on #44
but the `dispaly` will force ipython to dispaly the object, otherwise it only disaplys it if it's the last thing in the cell, which it is not here since pdb is asking you a question

[2019-12-19 23:46] durack1 commented on #44
@doutriaux1 I was hoping this would work, but no cigar:
![Screen Shot 2019-12-19 at 3 45 42 PM](https://user-images.githubusercontent.com/3229632/71218529-a81a4280-2276-11ea-9c1a-72fa979e26ea.png)

[2019-12-19 23:50] doutriaux1 commented on #44
maybe display is used by pdb. try
[code]

[2019-12-20 14:46] danlipsa commented on #430
Yes, indeed that seems to be the case. That is cool! Then all you guys have to do is pay the licence. :smile:

[2020-01-09 19:52] davis278 opened #431 "Text object priority does not work"
In the VCS Text Objects Jupyter notebook (https://cdat.llnl.gov/Jupyter-notebooks/vcs/VCS_Text_Objects/VCS_Text_Objects.html or https://github.com/CDAT/Jupyter-notebooks/tree/master/vcs/VCS_Text_Objects), in cell 22 I had to change the order of plotting to get the text for the names of the cities to plot on top of the map.

The original notebook (which I updated on 1/9/20) had the following code f

[2020-01-09 20:21] davis278 opened #432 "Alpha channel for color of Text Objects does not work; RGB values non-standard"
Though the documentation and the VCS Text Objects notebook (https://github.com/CDAT/Jupyter-notebooks/tree/master/vcs/VCS_Text_Objects or https://cdat.llnl.gov/Jupyter-notebooks/vcs/VCS_Text_Objects/VCS_Text_Objects.html) state that a color can be specified with RGB[a] values, the alpha channel [a] does not work and the RGB "values" are non-standard - they appear to be percentages between 0 and 10

[2020-01-13 18:08] doutriaux1 commented on #399
@muryanto1 the issue was with svg files. You sent me png files. So I can't confirm it's fixed.

[2020-01-30 23:21] #424 closed

[2020-02-01 13:24] arulalant opened #436 "Problem in continents lines"
Dear CDAT Team,

I am plotting world continents using cdat8.1, but there seems to be a problem. Please see attached sample plot, in which can be seen four straight lines connecting different regions. This kind of problem is not seen when I plot using uvcdat1.5.1 (and cdat5.2) version (by using same shape file). Could you please guide me to fix it ?
![test](https://user-images.githubusercontent.com

[2020-02-01 23:01] jypeter commented on #436
Do you need the country boundaries? Have you tried plotting only the continents?

If it works (no extra straight lines), it will only be a temporary workaround anyway

[2020-02-02 10:21] arulalant commented on #436
Yes, I want the country boundaries, I made custom data_contienent_other12 by converting shape file into text file. I am plotting this via v.plot(data, boxfill, continents=12) where data is fully zero and zero is filled with white color, and legend is off.

Please let me know if I want to plot custom continents via shapefile, I can give a try.

Thanks.

[2020-02-03 06:46] arulalant commented on #436
I am getting the following warnings while plotting the above continents.

Warning: In ../Common/DataModel/vtkPolyData.cxx, line 993
vtkPolyData (0x560bc13051a0): Building VTK_LINE 210 with only one point, but VTK_LINE needs at least two points. Check the input.

Warning: In ../Common/DataModel/vtkPolyData.cxx, line 993
vtkPolyData (0x560bc13051a0): Building VTK_LINE 2200 with only one point, but V

[2020-02-03 07:58] arulalant commented on #436
I fixed the problem.

There are many single point (lat, lon) in my data_continents_other12, say for example below is single lat,lon point in it.

2 1 21.539445 24.855263 85.832496 89.096366
22.167308 88.863479

The using vim edition version 7.4.326 (not working in version 8.1.1312), I find it by pattern matching "/\<2 1\>" then delete that line and next one line. Similarly, find all matches by pre

[2020-02-03 07:58] #436 closed

[2020-02-03 08:00] jypeter commented on #436
Great!

[2020-03-03 17:02] sterlingbaldwin opened #438 "The README.md is empty"
Why is the README.md for this repo completely empty? At the very least it should point to the documentation.

[2020-04-08 19:34] arulalant commented on #386
Hai,
Is there any update on this issue, particularly saving as pdf / eps with a custom font ?. If I am using Helvetica local path font, then I am unable to save as pdf or postscript. How to resolve this issue.

$ conda list | grep vtk-cdat
vtk-cdat                  8.2.0rc2.8.1     py27h258435d_0    cdat/label/v81

Thanks.

[2020-04-08 19:54] scottwittenburg commented on #386
I don't think there has been any work done to resolve the issue, we were hoping that using the latest version (from after the context2d work was merged) would resolve it.

Perhaps if you share more details about what you're trying (the vcs code) and the specific problem you're seeing (error output), someone may recognize the problem or know of a workaround.

Hope this helps.

[2020-04-08 20:13] arulalant commented on #386
I am loading Helvetica font as follows,

helvetica_font = os.path.join(fontdir, 'helvetica.ttf')
v = vcs.init()
v.addfont(helvetica_font, 'helvetica')

tt = v.createtexttable()
tt.font = 'helvetica'

tlp = v.createtemplate()
tlp.title.texttable = tt

v.plot(...)
v.pdf('out.pdf')

I am getting the following error

ERROR: In ../IO/ExportPDF/vtkPDFContextDevice2D.cxx, line 1324
vtkPDFContextDevice2D

[2020-04-08 20:26] scottwittenburg commented on #386
Thanks for providing the details @arulalant.  Based on that, it seems like exporting to PDF with custom fonts is broken.

By the way, somehow this issue got pretty far afield from the topic/title.  Maybe it deserves to be it's own issue so it can be tracked more easily.  Just my `$0.02`.

[2020-04-24 21:51] jasonb5 opened #443 "Antialiasing tests fail with vtk >=9.0.0"
Antiasliasing unittest is failing (https://circleci.com/gh/CDAT/vcs/3293).

https://github.com/CDAT/vcs/blob/master/tests/test_vcs_antialiasing.py

[code]

[2020-04-24 22:12] jasonb5 commented on #443
I created two environments with the following:

Mesalib 17.3.9
[code]

Mesalib 18.3.1
[code]
Next I ran this script to generate the following images; baseline (1), aa=0 (2), aa=8 (3), difference of (1, 2) and (1, 3). I would expect the (1, 3) to appear black since there should be no difference and (1, 2) not show black since there should be a difference.

`python vcs-test.py 17.3.9` and `python vc

[2020-04-24 23:54] jasonb5 commented on #443
Created environment using:

[code]
Conda list `conda list "vcs|vtk|mesalib"` should produce the following:

[code]

[2020-04-25 00:14] jasonb5 commented on #443
I ran the following script that generates a baseline image and then attempts to set antialiasing to 8.

Source file: [clt.nc](https://cdat.llnl.gov/cdat/sample_data/clt.nc)

`python vcs-test.py 18.3.1`

[code]
Generated the following plots:
![vcs-aa-mesa_18 3 1-8-0](https://user-images.githubusercontent.com/2191036/80265902-11a7c480-864e-11ea-99c7-56398d6623d0.png)
![vcs-aa-mesa_18 3 1-baseline-0]

[2020-04-27 15:14] jasonb5 commented on #443
Installing the following creates a working environment:

[code]
AA set to 0.
![vcs-aa-mesa_18 3 1-0-0](https://user-images.githubusercontent.com/2191036/80388395-b26cce80-885e-11ea-84ad-c8dbc3346bea.png)
AA defaulting to 8 for the baseline.
![vcs-aa-mesa_18 3 1-baseline-8](https://user-images.githubusercontent.com/2191036/80388403-b4369200-885e-11ea-9f34-dabd65bc620b.png)
Shows the difference.
![v

[2020-05-05 19:30] jasonb5 commented on #443
@muryanto1 Here's the condensed info, in the broken environment we cannot set antialiasing through the `SetMultiSamples` call but this does work in the working environment. Only difference is the VTK version. The `aa_diff.png` is blank in the broken environment and shows a difference in the working one.

Broken environment:
[code]

Working environment:
[code]

Scripts:
[code]

[2020-05-06 02:34] jasonb5 commented on #443
Here's the topic on VTK's discourse https://discourse.vtk.org/t/vtk-9-0-0rc3-python-cant-set-multisamples/3223. Will move to a bug once I clarify the usage.

[2020-05-12 15:26] jasonb5 commented on #443
Opened a bug on VTK's gitlab https://gitlab.kitware.com/vtk/vtk/-/issues/17891

[2020-05-19 18:10] jasonb5 commented on #443
When `setantialiasing` is called, vcs is calling `SetMultiSamples` on a `RenderWindow`.

We had three issues:
1. Plotting data using the default antialiasing value on linux and osx was causing thicker outlines as compared to a [reference image](https://cdat-vcs.readthedocs.io/en/latest/notebooks/boxfill_notebook.html)
2. Setting antialiasing in VTK 8.2.0 and 9.0.0 environments created different re

[2020-05-20 16:41] jasonb5 commented on #443
Forgot to mention according to my conversation with the VTK developer antialiasing does not work on headless machines, the behavior should be the same as setting antialiasing to 0 on machines with graphics hardware.

[2020-05-21 18:43] jasonb5 commented on #443
Fixes the unittest in e78fed342e8f5648a2e6ed403f8f69c64af2f217.

[2020-05-21 18:43] #443 closed

[2020-05-21 19:17] jasonb5 opened #444 "Moving from vtk-cdat to conda-forge vtk."
This issue is to track the progress of moving from vtk-cdat and conda-forge vtk. This will start with vtk 9.0.0.

Tasks:
- [x] Build packages against conda-forge/vtk 9.0.0
- [ ] Test vtk 9.0.0 against test matrix.

Testing matrix:
|os|mesalib|nomesalib|
|-|-|-|
|linux|||
|osx|||

Related issues:
- https://github.com/CDAT/vcs/issues/443

[2020-08-17 23:14] muryanto1 opened #451 "vcs with vtk 9.0.0.rc3 shows antialiasing issue."
vcs with vtk 9.0.0.rc3 shows antialiasing issue. Jason narrowed it down to a maybe issue with vtk - calling GetMultiSample() after Render() is returning 0, different from what was returned from GetMultiSample() before Render(), submitted:  https://gitlab.kitware.com/vtk/vtk/-/issues/17910

[2020-08-18 20:12] wagmanbe opened #452 "Create 3d plots in loop, noninteractive"
Hi,
I'm trying to loop over time, making 3d_scalar plots and exporting them. This works in 2D ([see simple 2d data animation](https://cdat-vcs.readthedocs.io/en/latest/Jupyter/Animations.html)). But in 3d, the plots are identical and never advance in time, even though the data is different. I have tried to get creative about not reusing canvas names, and clearing everything I can, to no avail. Her

[2020-08-18 20:23] leiduan4320 opened #453 ""VCS" module produces missing values?"
Dear all,

I am using cdat8 "VCS" module to plot a map. My data has a horizontal resolution of 192 latitude by
288 longitude;

I only want to show part of the may, so I wrote in my script:

v=vcs.init(); v.setcolormap('rainbow_no_grn')
color_map=v.getisofill('quick')
print color_map.list()
color_map.projection = 'linear'
color_map.datawc_x1= -20
color_map.datawc_x2= 50
color_map.datawc_y1= -50
col

[2020-08-19 16:28] jaigsingla opened #454 "Places annotations over globe"
Hello ,

How can I place annotations or vectors layers over globe in this canvas?

thanks
Jai

[2020-08-19 16:33] angshuiisc opened #455 "change y axis to log y axis"
Hello,

How do I convert linear y axis to logY axis in UVCDAT 2.4.1?
yaxisconvert ='log10' is not working.

Thanks

[2021-02-06 08:06] JiveshDixit opened #456 "Error while importing cdms2 (CDAT)"
`` python3 -c "import cdms2"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/uvcdat/2.4.0/lib/python2.7/site-packages/cdms2/__init__.py", line 4, in <module>
    import cdat_info
  File "/usr/local/uvcdat/2.4.0/lib/python2.7/site-packages/cdat_info.py", line 93
    except Exception,err:
                    ^

[2021-02-06 11:14] jypeter commented on #456
Are you trying to use python3 to import a very old (pre-conda) python version of cdms2 ? There is no reason this should work!

You have to install a new version: https://github.com/CDAT/cdat/wiki/install

[2021-02-17 13:13] JiveshDixit commented on #456
Thank you jypeter.

[2021-02-17 13:13] #456 closed

[2021-05-17 15:14] jypeter commented on #392
@downiec @jasonb5 I have just noticed the problem again and almost created a new issue !

I'm using the latest stable vcs (and cdms)
[code]
I have downloaded the full sample data to a new installation

[code]
But each time I execute `vcs.download_sample_data_files()`, **it downloads again `th_yr.nc`**, three times!

[code]

The file has not changed (according to md5sum), or course
[code]

Well, yo

[2021-12-18 23:58] tlvu opened #457 "Unable to install vcs conda package: package vcs-8.1-py_0 requires vtk-cdat >8.1, but none of the providers can be installed"
[code]

Later I found out  the reason is
[code]

It means there are no `vtk-cdat` package for `py39`.  Is it possible to make one?  Latest python is `3.10.1` at the moment of this writing.

Thanks.

[2021-12-20 13:50] jypeter commented on #457
I have successfully installed CDAT earlier this year, using the following options

`conda create -n cdat-8.2.1_nompi_py3 -c conda-forge -c cdat/label/v8.2.1 cdat "libnetcdf=*=nompi_*" "mesalib=18.3.1" "python=3"`

and I got the [following packages](https://wiki.lsce.ipsl.fr/pmip3/lib/exe/fetch.php/other:uvcdat:cdat_conda:cdat_8.2.1_nompi_21-03-05.txt)

I have also switched from `conda` to `mamba`

[2021-12-21 21:56] tlvu commented on #457
@jypeter you've got `vtk-cdat                  8.2.0.8.2.1     py38_mesalibh0be9106_0 ` which is the `py38` flavor (your python is `python                    3.8.8           hffdb5ce_0_cpython`)

The root cause of my problem is it's missing a `py39` flavor for `vtk-cdat`.