[2016-09-19 20:31] doutriaux1 opened #2 "vcs.Gfb.rename() seems to destroy the object that it's renaming"
submitted by @embrown at:
https://github.com/UV-CDAT/uvcdat/issues/2116

[2016-09-19 22:43] embrown commented on #2
@doutriaux1 I think I solved this problem. Want me to make a test and submit the new rename() code with a PR?

[2016-09-21 15:59] embrown commented on #2
@doutriaux1 PR submitted. Let me know if there's anything I need to change.

[2016-09-21 16:18] doutriaux1 opened #5 "isofill broken"
@danlipsa I think your PR broke vcs

using commit: 507d2bc0c3fd3e8b42974f9ffce34833139ea4bd the uvcmetrics test 04 works, any commit after that I get the wrong colors for an isofill on test 04
[code]
leads to bad plots, look for example at: https://open.cdash.org/testDetails.php?test=484915834&build=4560808

Notice that we now have a level that shows values greater than 300 when the max is at: 294

[2016-09-21 16:21] doutriaux1 commented on #5
@danlipsa also I now get these warnings:

[code]

[2016-09-21 16:48] doutriaux1 commented on #5
`git revert -n 5680cc3be6afd00ee7ab06363df7a574a29acd6e`

fixes the issue

[2016-09-21 16:53] danlipsa commented on #5
@doutriaux1 I'll take a look. How to you build/install cdat with the split vcs?

[2016-09-21 16:57] doutriaux1 commented on #5
you can use the uvcdat branch `split_repos`

[2016-09-21 16:57] doutriaux1 commented on #5
or simply install directly from the vcs repo.

[2016-09-21 16:58] doutriaux1 commented on #5
don't forget to use: `--old-and-unmanageable` when building vcs

[2016-09-21 17:02] danlipsa commented on #5
@doutriaux1 Sounds good. I'll take a look.

[2016-09-21 17:17] doutriaux1 commented on #5
@danlipsa after reverting your commit i get these failures
https://open.cdash.org/viewTest.php?onlyfailed&buildid=4560938

Shouldn't I get more?

[2016-09-21 17:36] danlipsa commented on #5
@doutriaux1 You should not get any failure - assuming I started from a repo with no failures.

[2016-09-21 17:48] doutriaux1 commented on #5
@danlipsa didn't you add test to check what you fixed in that branch?

[2016-09-21 17:52] danlipsa commented on #5
@doutriaux1 Everything I changed was in one commit, including the tests - this is the benefit of using just one commit :smile:

[2016-09-21 18:07] doutriaux1 commented on #5
https://open.cdash.org/viewTest.php?onlyfailed&buildid=4560986

actually looks like the baselines are more wrong

[2016-09-21 18:31] aashish24 commented on #5
@danlipsa will look into it as the priority. Looks like the labels are wrong in this test "https://open.cdash.org/testDetails.php?test=484965777&build=4560986". All other tests looks reasonable to me but please post message here if we are mistaken.

[2016-09-21 19:00] danlipsa commented on #5
@aashish24 Why do you say the labels are wrong?

[2016-09-21 20:31] doutriaux1 commented on #5
@danlipsa on the baseline of the test pointed to by @aashish24 the labels are on the right, they should be o the left, no?

[2016-09-27 14:56] durack1 opened #11 "Multiple parallel coordinates (y-axis) on single plot"
As mentioned by @jservonnat the following plot would certainly be a useful template to have handy when calculating and presenting metrics across a number of models or single model simulations - this will be useful for https://github.com/PCMDI/pcmdi_metrics/issues/421
![parallel_coordinates_with_r](https://cloud.githubusercontent.com/assets/3229632/18878814/e4ab76e2-8486-11e6-849d-a2d398d63f8c.png)

[2016-09-27 16:37] danlipsa commented on #11
@durack1 @doutriaux1 @aashish24 VTK has a parallel coordinates plot:

http://www.vtk.org/Wiki/VTK/Examples/Python/Infovis/ParallelCoordinatesExtraction

[2016-09-27 21:12] durack1 commented on #11
@danlipsa perfect - thanks for pointing this out!

[2016-09-28 22:28] doutriaux1 opened #13 "put_png_on_canvas disappears if call to canvas.update()"
We need to expose this function properly via the Logo class and make images a proper vcs object just like fillareas and text objects.

[2016-09-30 14:02] doutriaux1 opened #15 "gettextextent broken?"
[code]

[2016-09-30 14:06] doutriaux1 commented on #15
works if you set t.x and t.y my bad.

[2016-09-30 14:06] #15 closed

[2016-10-03 19:53] durack1 commented on #11
@doutriaux1 transcribing your work here:
[code]
Yields:
![pcoords](https://cloud.githubusercontent.com/assets/3229632/19051571/4c87ade0-8968-11e6-8f7a-d419adbb66a4.png)

@jservonnat is there anything that should be tweaked in the default output here before this issue is closed?

[2016-10-03 21:18] doutriaux1 commented on #11
@durack1 I spoke with @jservonnat this morning we added capability to print units in between parenthesis next to variables, if the variable has a `units` attribute which happen to be a list of the units.
Everything else seems to be working as @jservonnat expects it to.

[2016-10-05 14:34] aashish24 commented on #5
@doutriaux1 @danlipsa should we close this now?

[2016-10-05 14:45] #5 closed

[2016-10-05 18:36] doutriaux1 opened #18 "fillarea concave objects not plotting right"
[code]
produces:

![bad](https://cloud.githubusercontent.com/assets/2781425/19126452/dd00e82c-8aef-11e6-8482-53576dbfc534.png)

[2016-10-05 18:39] aashish24 opened #19 "Move vcs issues from UV-CDAT/uvcdat to UV-CDAT/vcs"

[2016-10-07 16:48] danlipsa opened #21 "Closing a canvas does not work properly if more than one canvas is open."
The following script opens 2 canvases, plots the same fillarea and closes both canvases.
This shows two problems:

1. The second plot opens a window but does not show anything in it.
2. Closing X, clears x's window, closing y closes x's window. y's window is never closed.

import vcs
import sys
f=vcs.createfillarea()
x=vcs.init()
f.x=[.2,.5,.8]
f.y=[.2,.8,.2]
f.color=["red"]
x.plot(f)

y=vcs.init(

[2016-10-07 16:49] danlipsa commented on #21
@doutriaux1 @aashish24 Do you have any ideas on this? I've seen this while working on vcs.js.

[2016-10-07 20:48] danlipsa commented on #21
Related issues I think:
https://github.com/UV-CDAT/uvcdat/pull/2049
https://github.com/UV-CDAT/uvcdat/issues/2016
I think the problem here is that someone keeps a reference to a pipeline object, which in turn keeps a reference to the render window. This prevents the render window from being deleted.

[2016-10-12 20:51] chaosphere2112 opened #22 "VCS Legend issues"
Looks like there are a couple of issues with the legend (at least when using boxfill).

[This notebook illustrates most of the issues I found](https://github.com/chaosphere2112/uvcdat-site/blob/93a5649b0d64e8f324fc1289b218b6fa0e2a92a8/iPython/boxfill/boxfill.ipynb), but I'll break it down individually as well.

### boxfill.legend label placement is wrong

When you assign values to it, it should us

[2016-10-26 17:40] danlipsa opened #26 "If masking reduces the bounds of a dataset, plots look incomplete."
The following script creates a plot that looks incomplete:

import vcs
import cdms2
x = vcs.init()
f = cdms2.open("/home/danlipsa/src/uvcdat-examples/isofill-robinson/coads_climatology.nc")
v = f["SST"]
iso = vcs.getisofill('a_robinson_isofill')
x.plot(v, iso, bg=1)
x.png("isofill-robinson.png")

![isofill-robinson-bad](https://cloud.githubusercontent.com/assets/6180727/19737504/b42adece-9b81-11e6

[2016-10-27 19:26] aashish24 opened #29 "Improve text alignment further based on @doutriaux findings"

[2016-10-30 20:16] #2 closed

[2016-11-02 15:45] danlipsa commented on #21
@doutriaux1 @aashish24 @chaosphere2112 This is related to the interactor attached to the render window. Without this, windows close fine. There is a way to make this work - @chaosphere2112 might already have the code.

[2016-11-02 16:37] aashish24 commented on #21
that would be in vcs-js. I think for the pure vcs, we may still have this issue. Is that correct?

[2016-11-02 16:39] danlipsa commented on #21
@aashish24 pure vcs still creates an interactor if we run in foreground mode. So the problem affects both vcs.js and vcs.

[2016-11-02 20:42] danlipsa commented on #21
@chaosphere2112 @doutriaux1 @aashish24 The problem is in configurator.py
    def interact(self, *args, **kargs):
        self.configure()
        self.backend.interact(*args, **kargs)
Commenting out self.configure() makes the windows to be closed properly.
Do we still want to keep this interface - this means I have to debug this or is it safe to strip it - which means I'll spend the time removing

[2016-11-02 22:31] chaosphere2112 commented on #21
Ah! My code doesn't put it in Interact mode, which is why it closes correctly (I just proxy events manually to the vtkRenderWindowInteractor)

[2016-11-02 22:38] chaosphere2112 commented on #21
@danlipsa Actually, looks like it works regardless on my mac. Tried:

[code]

and everything closed properly.

[2016-11-03 14:05] danlipsa commented on #21
@chaosphere2112 Does the following work? So, the first window has to close, then the second window has to close.

import vcs
x = vcs.init()
y = vcs.init()
x.open()
y.open()
x.interact()
x.close()

y.interact()
y.close()

[2016-11-03 14:27] durack1 commented on #21
@danlipsa @chaosphere2112 I do recall an instance in the distant past (and admittedly on a devel version) that the handles got tangled, so that I had two canvases open, but when I closed the first one opened, the second one locked, or some similar situation.. It would be great to augment any existing tests to make sure similar issues aren't happening as shared objects are "locking" the ability to

[2016-11-03 15:00] chaosphere2112 commented on #21
Seems to work (though the second call to interact() doesn’t actually Start() the interactor as far as I can tell, the widgets do show up from the call to configure())

From: Dan Lipsa <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/vcs <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, November 3, 2016 at 7:05 AM
To: UV-CDAT/vcs <vcs@noreply.githu

[2016-11-03 18:11] danlipsa commented on #21
@chaosphere2112 @doutriaux1 @aashish24 Indeed this works on mac. I have to press "Open Configure" first to get the interactor to receive the key Q I press but it does close one window at a time. So this seems to be a difference between vtkXOpenGLRenderWindow and vtkCocoaRenderWindow. I have not been able to reproduce it using a VTK only example.

[2016-11-03 20:14] danlipsa commented on #21
@chaosphere2112 @aashish24 @doutriaux1 In this case, I'll stop working on this. The reason why I wanted to get this working is because of vcs.js. The question remains: Should we keep the "configure" interface or should we strip it? I would vote to strip it - it provides very limited functionality, and creates maintenance problems like this one. The following image is a reminder of what this interf

[2016-11-03 20:35] danlipsa commented on #21
I can see this is used in the 3D plots. We can still keep it there.

[2016-11-09 19:56] #26 closed

[2016-11-09 20:05] aashish24 commented on #22
@chaosphere2112 okay if @danlipsa look into this?

[2016-11-10 00:38] chaosphere2112 commented on #22
@aashish24 Yup, that's fine with me. I don't really work on VCS proper anymore, besides miscellaneous bug fixes I need in a hurry.

[2016-11-10 22:43] chaosphere2112 opened #31 "UV-CDAT logo does not show up in PDF/is invalid in Acrobat Reader"
[code]

Open the PDF in Preview on a mac, and you get an image without the logo. Open the PDF in acrobat and apparently you get a scary error message.

[2016-11-11 17:41] aashish24 commented on #31
Thanks for the bug report @chaosphere2112 we will push a fix asap @williams13

[2016-11-14 14:54] danlipsa commented on #31
@aashish24 I'll take a look at this.

[2016-11-14 14:57] williams13 commented on #31
Thanks Dan!

Best regards,
Dean

From: Dan Lipsa <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/vcs <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, November 14, 2016 at 6:54 AM
To: UV-CDAT/vcs <vcs@noreply.github.com<mailto:vcs@noreply.github.com>>
Cc: Dean Williams <williams13@llnl.gov<mailto:williams13@llnl.gov>>, Mention <mention@noreply.gith

[2016-11-14 22:06] embrown opened #32 "Updating readthedocs.org"
We need to update the [uvcdat entry on readthedocs](http://readthedocs.org/projects/uvcdat/) so it pulls documentation from the VCS repo.
@aashish24 it looks like you own the RTD page; would you be able to do this, or would you know how I could go about doing it?

[2016-11-15 20:38] aashish24 commented on #32
+1 I was about to ping you on this. @embrown I am thinking that we should have RTD separate for VCS so instead: http://readthedocs.org/projects/uvcdat/ we can have http://readthedocs.org/projects/vcs?

Thoughts?

[2016-11-15 20:39] aashish24 opened #33 "VCS PDF filesize is much larger than what you would get from MPL"

[2016-11-15 20:39] embrown commented on #32
As it happens, @chaosphere2112 is working on that right now.

[2016-11-15 20:43] aashish24 commented on #32
Ah, I see. I see this: http://cdat-vcs.readthedocs.io/en/latest/user-guide.html

Is this the location @chaosphere2112 created?

[2016-11-15 20:43] aashish24 commented on #32
How about we @embrown @chaosphere2112 sync up tomorrow on this?

[2016-11-15 20:46] embrown commented on #32
:+1:

[2016-11-15 20:49] aashish24 opened #34 "Fix vcs conda install"
Ref: https://github.com/UV-CDAT/uvcdat/issues/2140

[2016-11-15 21:37] durack1 commented on #33
@aashish24 this is likely due to the characters as glyphs issue that we discussed at depth in UV-CDAT/uvcdat#1992, UV-CDAT/uvcdat#1537 and [UV-CDAT/uvcdat#1527](https://github.com/UV-CDAT/uvcdat/issues/1527#issuecomment-139002911)

[2016-11-16 18:51] danlipsa commented on #31
This seems to be a bug in VTK:
https://gitlab.kitware.com/vtk/vtk/issues/16909

[2016-11-17 02:01] aashish24 opened #35 "Ubuntu 14.04 require a older version of conda to build vcs and other packages"
https://github.com/conda/conda/issues/2778

For me switching to 4.0.8 worked. I am curious if others are facing the same issue.

[2016-11-17 02:33] aashish24 opened #36 "Reduce dependencies of VCS on other packages and making it a standalone product"
* VCS conda has lot many dependencies
* VCS has hard dependency on CDMS

@williams13 @doutriaux1

[2016-11-17 06:34] aashish24 opened #37 "pdf from vcs looks different on OSX and Linux and or clients"
@doutriaux1 I found one issue is that the PDF generated seems to be bad.

The good news is that I found the source of the bad PDF problem and I am hoping that if we fix that, we could potentially fix the bad rendering of the pdf as well. The source of the problem is:

1. Text rendering: Somehow the labels are causing this issue as they inject something in PDF which is bad.

2. A pure VTK and GL2PS

[2016-11-17 21:13] aashish24 commented on #37
@doutriaux1 can you post a screenshot of how they looked different? It will help me a lot.

[2016-11-17 21:14] aashish24 commented on #37
Also, what SHA of VTK you were using?

[2016-11-17 21:35] doutriaux1 commented on #37
vtk from uvccdat channel 7.1.0.2.6 build uvcdat_master so I'm guessing the sha is v2.6 or 2.6

[2016-11-18 17:08] aashish24 commented on #37
thanks @doutriaux1

Good news: I found one problem and I am wondering if that's what causing the PDF to looked different.

Few questions:

1. Did the text (labels) look different or the data as well? or both?

2. Can you post screenshots if possible?

[2016-11-18 17:11] aashish24 commented on #37
[test.pdf](https://github.com/UV-CDAT/vcs/files/600503/test.pdf)

@doutriaux1 @danlipsa could you guys download this PDF and visualize it in acroread and other pdf viewers and tell me if you still get the 1) error 2) look different?

[2016-11-18 18:16] aashish24 commented on #37
waiting for @doutriaux1

[2016-11-18 18:23] aashish24 commented on #37
Also, text as paths seems to be broken (which is the default right now).

[2016-11-19 05:01] aashish24 commented on #37
I have a partial fix but need to work with @dlonie (probably on Monday) to push a VTK branch.

[2016-11-21 17:43] aashish24 commented on #37
@doutriaux1 sorry to bother but could you read my previous messages?

[2016-11-22 01:56] aashish24 commented on #37
@doutriaux1 ping!

[2016-11-22 01:57] aashish24 opened #39 "Plot does not look right when using vnc or x-forwarding"
@danlipsa @doutriaux1

[2016-11-22 02:28] durack1 commented on #39
@aashish24 I use VNC, so would be happy to provide feedback if there was something to provide feedback on.. the issue above doesn't have much (if any) detail to respond to..

[2016-11-22 03:31] aashish24 commented on #37
@doutriaux1 could you please try this branch:

https://github.com/UV-CDAT/VTK/pull/16 (http://www.geuz.org/gl2ps)

If it works for you, I can clean it up and get it merged into UV-CDAT/vtk. I would have to get approval from GL2PS folks before I can merge it into proper GL2PS/VTK

[2016-11-22 03:54] aashish24 commented on #39
thanks @durack1 what was reported that:

1. Using VNC on certain systems (Mac) the rendering looks distorted or broken somehow

2. Using X forwarding on some systems, the bg=0 produces blank black plot

Accoring to @danlipsa the issue is with GL on the server end and he recommended using VirtualGL on the server in these cases. He sent a rough instructions to @doutriaux1.

@danlipsa could  you post

[2016-11-22 03:55] aashish24 commented on #37
So far, I am seeing consistent results but at the same time, i am drawing very simple plots; I will try to create some more realistic plots and see if I can re-create the issue.

[2016-11-22 15:15] doutriaux1 commented on #37
@aashish24 trying now.

[2016-11-22 15:16] doutriaux1 commented on #37
@aashish24 this vtk branch along with @sankhesh PR?

[2016-11-22 15:33] sankhesh commented on #37
@doutriaux1 I just posted the link to the VTK merge request on my PR.

[2016-11-22 16:05] doutriaux1 commented on #37
@sankhesh soI use yours instead of this @aashish24 VTK branch?

[2016-11-22 19:22] aashish24 commented on #37
@doutriaux1 you probably want to try my branch separately but you/I could merge my branch with Sankhesh branch...

[2016-11-22 19:32] aashish24 commented on #37
thanks for trying it out @doutriaux1 if you can send me your script, I can try it out and push a fix for the indexing error.

- aashish

[2016-11-22 23:37] chaosphere2112 opened #41 "performance crashes with multiple calls of createisofill"
I am repeatedly (17 times) calling a function which generates a set of four plots with VCS.  They should all take about the same time.  With normal use of VCS, they don't.  Each is slower than the one before, and you get an overall slowdown of well over an order of magnitude - enough to make VCS almost unusable.

I narrowed the problem down to vcs.elements['isofill'].   Each time my function is ca

[2016-11-23 00:11] embrown opened #42 "deprecated functions in Canvas.py"
Canvas has a few functions that I've marked in the documentation as deprecated:

![screen shot 2016-11-22 at 4 09 18 pm](https://cloud.githubusercontent.com/assets/5880275/20547016/23804924-b0ce-11e6-84aa-a2a9da365228.png)
![screen shot 2016-11-22 at 4 09 06 pm](https://cloud.githubusercontent.com/assets/5880275/20547014/237e7266-b0ce-11e6-8648-9cedc7e6755c.png)
![screen shot 2016-11-22 at 4 08 44

[2016-11-23 01:23] durack1 commented on #39
@aashish24 I can confirm that in the case of VNC I have had problems writing to png files in foreground mode, as it appears a screen scrape occurs rather than some backing store version of the graphic being written to the file. The `bg=1` also seemed to have a nasty memory leak that rendered batch usage impossible for me - see UV-CDAT/uvcdat#1424 and some of the other linked issues

[2016-11-23 15:41] chaosphere2112 opened #43 "performance crashes with multiple calls of createisofill"
I am repeatedly (17 times) calling a function which generates a set of four plots with VCS.  They should all take about the same time.  With normal use of VCS, they don't.  Each is slower than the one before, and you get an overall slowdown of well over an order of magnitude - enough to make VCS almost unusable.

I narrowed the problem down to vcs.elements['isofill'].   Each time my function is ca

[2016-11-23 15:41] chaosphere2112 opened #44 "XQuartz version and numpy?"
1. VCS not opening xwindow for Mac terminal when XQuartz 2.7.9 or higher version.
2. Loading variable returns error message which I've not seen before.

[code]

**/export_backup/lee1043/anaconda2/lib/python2.7/site-packages/numpy/ma/core.py:2761: DeprecationWarning: Non-string object detected for the array ordering. Please pass in 'C', 'F', 'A', or 'K' instead
  order=order, subok=True, ndmin=ndmi

[2016-11-23 15:41] chaosphere2112 opened #45 "vcs.getxyvsy() doesn't get the default object"
![screen shot 2016-08-30 at 4 18 38 pm](https://cloud.githubusercontent.com/assets/5880275/18110583/b7dd2a6c-6ecd-11e6-8e61-967a89b7ff8a.png)
In manageElements.py, the get functions for 1d objects don't work because they assume the default objects are called 'default_xyvsy' (or 'default_yxvsx, etc.).

When I do a Canvas.show(), the default names for the 1d objects have an extra _ at the end of the

[2016-11-23 15:41] chaosphere2112 opened #46 "vcs.Canvas.isinfile return value consistency"
![isinfile implementation](https://cloud.githubusercontent.com/assets/5880275/17971790/249b5af2-6a91-11e6-9e83-6b96b4bcc141.png)

@doutriaux1 @chaosphere2112 Should we make this thing return 0 when it doesn't find what it's looking for?
I would think that we should do that to be consistent.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/2109

[2016-11-23 15:41] chaosphere2112 opened #47 "text alignment seems a bit off"
One would expect the `cross` to be drawn exactly in the center of the middle `H` it is instead a bit off to the left and down

[code]

![blah](https://cloud.githubusercontent.com/assets/2781425/17537385/004adef8-5e51-11e6-8d10-a731f6024955.png)

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/2082

[2016-11-23 15:41] chaosphere2112 opened #48 "vcs cannot do sub and superscript anymore"
in 1.5.1 the follwoing used to work:

[code]

![mc2](https://cloud.githubusercontent.com/assets/2781425/17413165/ef62db38-5a34-11e6-9790-686c4f23550f.png)

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/2073

[2016-11-23 15:41] chaosphere2112 opened #49 "lambert azimuthal proj seem to ignore user custom parameters"
reported by @lee1043

[code]

gives:
![lambert](https://cloud.githubusercontent.com/assets/2781425/16821298/453017a6-490a-11e6-8f34-07d3065cdb43.png)

manipulating the parameters on projection do not seem to change anything:

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/2059

[2016-11-23 15:41] chaosphere2112 opened #50 "vcs should rember the original value stored by the user"
example

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/2010

[2016-11-23 15:41] chaosphere2112 opened #51 "Discuss usefulness of outlines in plots"
I am open for suggestion but to me the outlines are more problem than useful. They don't show any new information and often are drawn incorrectly in projected plots.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1996

[2016-11-23 15:41] chaosphere2112 opened #52 "Markers are poorly scaled"
Working on the gui, decided to try generating pngs of all of the marker types, and re-re-discovered that our marker scaling is just awful.

Here's a good "baseline" marker (`circle`) at size 100:

![circle](https://cloud.githubusercontent.com/assets/718512/15403826/9ac482a0-1daf-11e6-8ce6-296fe868f450.png)

Most of the "normal" markers are roughly the same size.

Here's `dot`, the default, at the

[2016-11-23 15:41] chaosphere2112 opened #53 "vector plot do not have a legend"
Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1975

[2016-11-23 15:41] chaosphere2112 opened #54 "Projections and Secondaries don't get along"
I'm playing with a technique to do a polar 1D plot in VCS, and I ran into some issues along the way. The biggest issue is that attempting to use a projection on a secondary object (which is something the API supports) doesn't really work, at all.

A simple test case:

[code]

which gives you a blank canvas.

This seemed odd to me, since we do essentially that _exact_ line when plotting a polar plo

[2016-11-23 15:41] chaosphere2112 opened #55 "canvas.gs() should be removed"
Currently, the `gs()` method on canvas raises an `AttributeError`; we should remove it from the codebase.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1955

[2016-11-23 15:41] chaosphere2112 opened #56 "Isoline line, linecolors, and linewidths behave oddly"
So, there's some weirdness in the way we set up isoline objects.

[code]

If we do a .list(), we see our attributes:

[code]

If we set `.line` to the names of some line objects, some odd, but understandable behavior occurs:

[code]

It harvests the `type` attribute from the `blue` and `red` line objects, and sets those in `line`. It grabs the `color` attribute from each of them and sets `linecolo

[2016-11-23 15:41] chaosphere2112 opened #57 "running autot_title with setbgoutputdimensions leads to seg fault"
[code]

running script:

[code]

apple bug  report:

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1931

[2016-11-23 15:41] chaosphere2112 opened #58 "Streamlines Graphics Method"
We need a graphics method for creating a streamlines plot

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1925

[2016-11-23 15:41] chaosphere2112 opened #59 "Vector Legend"
We need to make sure there's a legend for vector plots

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1924

[2016-11-23 15:41] chaosphere2112 opened #60 "Windbarbs for Vectors"
We'd like to get windbarbs for vector plots

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1923

[2016-11-23 15:41] chaosphere2112 opened #61 "x.plot(s, xrev=True) doesn't work"
When you plot a variable with the xrev=True keyword argument, the plot comes out garbled.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1922

[2016-11-23 15:41] chaosphere2112 opened #62 "DV3D/VCS plot error"
The demo at http://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html returns the following error:

[code]

Following version info:

[code]

@chaosphere2112 @mattben pinging you gentlemen here

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1867

[2016-11-23 15:42] chaosphere2112 opened #63 "Can't set colormap index using color name"
[code]

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1860

[2016-11-23 15:42] chaosphere2112 opened #64 "Plotting CCSM4 areacello data fails"
The offending file is:
`/cmip5_css02/scratch/cmip5/output1/NCAR/CCSM4/1pctCO2/fx/ocean/fx/r0i0p0/v20130312/areacello/areacello_fx_CCSM4_1pctCO2_r0i0p0.nc`

[code]

The equivalent plot in ferret looks like:
![cmip5 ccsm4 1pctco2 r0i0p0 fx ocn fx areacello ver-v20130312](https://cloud.githubusercontent.com/assets/3229632/13095083/05e4ca70-d4c4-11e5-8528-e34d3768f0de.gif)

Migrated from: https://gith

[2016-11-23 15:42] chaosphere2112 opened #65 "Ocean data masks not displaying correctly (VCS)"
The ocean land/sea masks are not displaying properly in VCS - contrast the attached VCS output (first) and the same data plotted using ferret (second).

The file used is: `/cmip5_css02/data/cmip5/output1/CSIRO-BOM/ACCESS1-0/1pctCO2/fx/ocean/fx/r0i0p0/areacello/1/areacello_fx_ACCESS1-0_1pctCO2_r0i0p0.nc`
![cmip5 access1-0 1pctco2 r0i0p0 fx ocn fx areacello ver-1](https://cloud.githubusercontent.com

[2016-11-23 15:42] chaosphere2112 opened #66 "Update default templates/graphics methods"
SEe:
http://bokeh.pydata.org/en/latest/

and
http://matplotlib.org/1.2.1/gallery.html

For inspiration

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1818

[2016-11-23 15:42] chaosphere2112 opened #67 "Thermo test suite needs to be moved to test suite"
voila

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1783

[2016-11-23 15:42] chaosphere2112 opened #68 "Meshfill leaves extra display plots lying around"
When you plot a meshfill, it generates a bunch of display plots that need to be cleaned up. The offending code is [here](https://github.com/UV-CDAT/uvcdat/blob/c4efa19f5b1d6c5d60da7f7a8994743d4d3d4b7d/Packages/vcs/Lib/vcsvtk/meshfillpipeline.py#L223-L232); in the rest of the pipelines, rather than directly calling `template.plot`, we call `context().render_template`, which does this cleanup for us

[2016-11-23 15:42] chaosphere2112 opened #69 ""box" lines seem to be sometimes on sometimes off in vcs"
see:
https://open.cdash.org/testDetails.php?test=407803864&build=4178109

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1762

[2016-11-23 15:42] chaosphere2112 opened #70 "canvas.png writes a PNG with labels off if bg=0"
Running this test
[test2.txt](https://github.com/UV-CDAT/uvcdat/files/65625/test2.txt)
produces
![bad](https://cloud.githubusercontent.com/assets/6180727/11874925/0eff8468-a4b0-11e5-959e-5c3d8b778f14.png)
Uncommenting the line that sets bg to 1 fixes the problem.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1740

[2016-11-23 15:42] chaosphere2112 opened #71 "x.showbg() not implemented"
we used to be able to plot in bg mode and at the end bring the canvas to the front.

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1598

[2016-11-23 15:43] doutriaux1 commented on #42
@embrown I think we really want to actually re-implement these I wouldn't mark them as deprecated, maybe something like **`disabled in this version`** ?

[2016-11-23 15:43] doutriaux1 commented on #42
or **`not implemented yet`**

[2016-11-23 15:45] doutriaux1 commented on #39
@durack1 I believe/thought/hoped the `bg=True` memory leak issue was sloved now. @aashish24, @danlipsa ?

[2016-11-23 15:49] danlipsa commented on #39
It should be:
https://github.com/UV-CDAT/uvcdat/issues/1397

[2016-11-23 16:16] chaosphere2112 opened #72 "after first plot you cannot switch between bg or fg"
[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1597

[2016-11-23 16:17] chaosphere2112 opened #73 "iso plot failure"
@doutriaux1 as discussed:

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1594

[2016-11-23 16:17] chaosphere2112 opened #74 "[VCS] x.plot(variable) fails with poorly defined bounds"
This issue is reproducible:

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1590

[2016-11-23 16:17] chaosphere2112 opened #75 "issue warning if setting non active attributes on boxfill methods"
`fillareacolors` and such are only if used in custom boxfill type, a warning should be used if they are set and the type does not match.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1584

[2016-11-23 16:17] chaosphere2112 opened #76 "VCS/VTK warnings and UV-CDAT logo missing in pdf/ps output files"
The following code yields warnings (as below) and additionally the `*.pdf` and `*.ps` output files are missing the UV-CDAT logo, the `*.png` includes the logo..

[code]

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1583

[2016-11-23 16:17] chaosphere2112 opened #77 "link mouse event to custom user functions"
@chaosphere2112 @aashish24 let's talk about this.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1530

[2016-11-23 16:17] chaosphere2112 opened #78 "Enable exporting plot directly into PPT"
- research if this is possible

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1527

[2016-11-23 16:17] chaosphere2112 opened #79 "update should try not to clear"
in VTKPlot.py the update function clears all display and redraws everything.

Now we have the update_input function that in most case (no change to template or graphic method) would be faster and would prevent a clear.

@dlonie I believe with your refactoring this update function should eventually be able to take advantage of the new pipeline even if a graphic method changed, right?

Migrated from

[2016-11-23 16:17] chaosphere2112 opened #80 "Bad rendering of aeqd projection"
The following image is one of the baselines in the vcs testing suite (for `test_vcs_basic_boxfill_aeqd_proj`)

![test_vcs_basic_boxfill_aeqd_proj](https://cloud.githubusercontent.com/assets/936354/8802994/6a0ae9a8-2f92-11e5-9251-e521ef2bd5d2.png)

There is a visible seam in the center of the image. The blob over Sahara in Africa is just half shown purple.

Migrated from: https://github.com/UV-CDAT

[2016-11-23 16:17] chaosphere2112 opened #81 "Vector animation implementation needs finishing"
#1450 removes the VTK pipeline rebuilding code from VTKPlots.py, and with it goes a partial implementation for vector plots. I've ported this bit into unmerged commit 1ffc97a6e029d3988be8b26df3b4713ffa083181 (branch https://github.com/UV-CDAT/uvcdat/tree/update_input_vector), made sure a complete pipeline would persist through the animation steps, and added a test.

Migrated from: https://github.c

[2016-11-23 16:17] chaosphere2112 opened #82 "Construct higher-res dots (circles for VCS)"
Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1439

[2016-11-23 16:17] chaosphere2112 opened #83 "vcs.plot(iso) creates text object that are not removed after clear"
Not related to #1397 (bg=1 memory leak)

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1424

[2016-11-23 16:17] chaosphere2112 opened #84 "Prototype context 2d in pure VTK script"
Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1407

[2016-11-23 16:17] chaosphere2112 opened #85 "Add "best match feature" in vcs to complement __slots__ protection"
when user passes a mistyped (or plain invalid) attribute to a vcs object, it currently receives an "AttributeError" stating it isn't valid.

I have a small example here that if put into our vcs classes would provide the user with "best matches" of what the user probably meant.

Similar to what git tells you when you mistype.

sample code (so I don't lose it):

[code]

Migrated from: https://github

[2016-11-23 16:17] chaosphere2112 opened #86 "vcs cannot go back into interact mode"
[code]

At that point resizing the windows hangs the system comletely

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1295

[2016-11-23 16:17] chaosphere2112 opened #87 "dv3d plotting ad changing attributes breaks dv3d"
[code]

fails but

[code]

works

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1286

[2016-11-23 16:17] chaosphere2112 opened #88 "Exception in Scatter Plot: ZeroDivisionError"
1) Load u, v and plot with Scatter plot.
2) Click on Next button (">") for prev variable and following exception comes up. Entire application become unresponsive.

[code]

Before: Click highlighted button after plotting scatter plot with u and v

![screen shot 2015-05-05 at 8 58 20 pm](https://cloud.githubusercontent.com/assets/6840965/7485845/b62f3600-f369-11e4-8ba3-9c528dcbcd5f.png)

After butto

[2016-11-23 16:17] chaosphere2112 opened #89 "Exception while changing Dimensions"
Getting multiple exceptions when dimensions is changed for variable.

1) add variable from file.
2) change drop down to "Get Axis Value"

[code]

Got this on calculator console:

[code]

3) Now relaunch GUI change to "Get Axis Weight Values"

[code]

After this entire application becomes unresponsive.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1277

[2016-11-23 16:17] chaosphere2112 opened #90 "wind barb support"
vector.type= "barbs" should be drawing wind barbs

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1264

[2016-11-23 16:17] chaosphere2112 opened #91 "Template edits not showing up in recorded commands"
If i edit template within gui, then the modifications do not show up in recorded commands.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1222

[2016-11-23 16:17] chaosphere2112 opened #92 "Find / exercise GUI for locating bugs in the code"
Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1214

[2016-11-23 16:17] chaosphere2112 opened #93 "Make VCS 2D chart use VTK 2D charts"
Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1162

[2016-11-23 16:17] chaosphere2112 opened #94 "Add more marker properties"
Spending quite some time testing the vcs markers has reminded me that for now, we can specify the **marker type, size and color**, but it would be quite useful to be able to also specify the following:
- edge color (except for _star_, _cross_ or markers where it does not make sense)
- edge thickness
- more precise size control than in 1.5.1
- support the same marker types (and names) as in matplot

[2016-11-23 16:17] chaosphere2112 opened #95 "Several marker problems/differences in 2.1.0 (compared to 1.5.1)"
I have used test script listed at the end of this issue to test markers in 2.1.0 and see how they differ from 1.5.1. I have found several problems and differences, but @chaosphere2112 can probably use this script in the gallery once the problems are solved

I originally wanted to experiment with projections to see if #672 had been solved but I have found other problems and probably won't have time

[2016-11-23 16:17] chaosphere2112 opened #96 "x/yaxisconvert not respected anymore."
[code]

Not implemented.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1066

[2016-11-23 16:17] chaosphere2112 opened #97 "would be nice to have a "mapper" function"
given a list of intervals and a value,return the index of the interval where the value falls.

I'm sure it already exsits somewhere in numpy.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/1021

[2016-11-23 16:17] chaosphere2112 opened #98 "Make VCS color palettes easier to edit/add"
It seems that the default color palettes are stored in the https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Share/initial.attributes file, which contains color palettes as well as a bunch of other projection and other initialization info.. I wonder if there are also color palettes buried in the VTK installation directories too?

From a user's perspective (me) it would be nice if all the

[2016-11-23 16:17] chaosphere2112 opened #99 "Draw time and level lables into single renderer"
We shouldn't create too many renderers. Should have really two from this point of view:

1) For the overlay info
2) For the data rendering

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/662

[2016-11-23 16:17] chaosphere2112 opened #100 "arrows on isolines"
vcs used to be able to draw arrows on isolines.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/496

[2016-11-23 16:17] chaosphere2112 opened #101 "ghostscript and others not built on mac"
Probably not that important since we are rewriting vcs and it wont use this.

Migrated from: https://github.com/UV-CDAT/uvcdat/issues/426

[2016-11-23 17:23] aashish24 commented on #37
@doutriaux1 I fixed the silly bug on my end 😢 can you try the same branch again?

Thanks,

[2016-11-23 17:36] doutriaux1 commented on #37
building vtk branch as we speak

[2016-11-23 18:09] aashish24 commented on #37
Thanks. Looking at the PDF sankhesh generated, it looks correct on adobe pro but it does have issues on evince and acroread on Linux. The Chrome PDF renders is fast and correct. This PDF has my fixes so no more errors. I am looking into this issue some more and trying to compare it with CDAT 1.5 release.

[2016-11-23 21:21] durack1 commented on #98
@chaosphere2112 @doutriaux1 I have a personal interest in this, so have added myself to be pinged..

[2016-11-23 21:22] durack1 commented on #83
@chaosphere2112 @doutriaux1 this is also an ongoing interest of mine - my batch script seems to be very good at highlighting the issue

[2016-11-23 21:24] durack1 commented on #65
@chaosphere2112 @doutriaux1 pinging myself here too

[2016-11-23 21:24] durack1 commented on #64
@chaosphere2112 @doutriaux1 here too

[2016-11-23 22:08] doutriaux1 commented on #65
@durack1 this is due to the vertices being wrapped.. 365 become 5

[2016-11-29 00:15] ghost opened #102 "createprojection fails if 'polar' template is chosen"
[code]

The exception output is especially confusing because  it lists 'polar' as a valid type.

[2016-11-29 23:15] embrown opened #103 "'.py' extension on script functions not working"
[code]
@doutriaux1 Didn't this used to work?

[2016-11-30 19:51] chaosphere2112 commented on #103
@doutriaux1 Once again the color changeover strikes fear into the hearts and minds of our populace!

[2016-11-30 21:15] danlipsa commented on #47
@aashish24 @doutriaux1 @chaosphere2112 Here are some test files from the latest VTK showing various alignments of labels. I am working to use that VTK into uvcdat.

multiLineText
http://www.vtk.org/files/ExternalData/MD5/63c4f3d5bb1dcfcd0592fa7522316f66

TestScatterPlotMatrixVisible
http://www.vtk.org/files/ExternalData/MD5/fa2c3d87a180352afa623b0be3dff100

[2016-11-30 21:18] danlipsa commented on #47
Here is the test run with that VTK;
![blah](https://cloud.githubusercontent.com/assets/6180727/20771724/9e6e16e8-b718-11e6-86ef-7970053bec0c.png)

[2016-11-30 21:32] durack1 commented on #47
@danlipsa UV-CDAT/uvcdat#1077, UV-CDAT/uvcdat#1079, UV-CDAT/uvcdat#1080 and UV-CDAT/uvcdat#2082 may also provide some user insights/be relevant/duplicates here

[2016-11-30 21:44] doutriaux1 commented on #103
yes I know I sent a patch to @embrown the other day.

[2016-11-30 21:45] doutriaux1 commented on #103
just call me `Attila`

[2016-11-30 23:25] aashish24 commented on #47
@danlipsa the result are looking very good, thanks for the hard-work on tracking this.

[2016-11-30 23:26] aashish24 commented on #47
@durack1 thanks for tracking the issues. @danlipsa can you have a look at them?

[2016-12-01 22:55] danlipsa commented on #47
@durack1 @aashish24 Thanks for tracking these issues. I think there are very nice bits there that we can add to our test suite. Some complain about the text size changing between versions. My latest VTK update resulted in text size change - this was just one pixel difference I think. Big changes should not happen - unless there are bugs that could be fixed.

[2016-12-05 20:30] embrown opened #105 "Error using regex on ffmpeg"
@doutriaux1 @chaosphere2112
Given the following doctest:
[code]
I'm getting the exception:
[code]
I'm not sure if I'm using the regex functionality correctly or if it even works, but it looks like ```test_file``` isn't being declared before its value is checked.

[2016-12-06 16:35] ghost opened #106 "manageElements.py setLineAttributes doesn't work"
This function isn't currently working.
The issue seems to be that it's setting __to__.*linetype*, __to__.*linewidth*, and __to__.*linecolor* when the attributes that __to__ has are *linetypes*, *linewidths*, *linecolors*.
From conversation with @chaosphere2112 it appears __to__ should be a __isoline__, __1d__, or __vector__ object.
I'll work on a patch and submit a PR when I get it working.
[code]

[2016-12-06 16:40] doutriaux1 commented on #106
@embrown what is calling this? I think @danlipsa impletmented this for isoline object, not line object. Is that correct @danlipsa

[2016-12-06 16:57] embrown commented on #106
@doutriaux1 I was trying to call it in a doctest example. It looks like it works for setting the properties of a vector or 1d. It would have to be tweaked just slightly to be able to set the properties of an isoline.
If it's not supposed to set the properties of an isoline, then I won't do it. It's working fine for 1d and vector.

[2016-12-06 16:59] embrown commented on #106
This is the example.
If I change the isoline to a vector, then this works. I had talked to Sam and he thought it should work for an isoline as well, which is why I submitted the issue.
[code]

[2016-12-08 14:17] embrown commented on #106
@doutriaux1 should this function handle the case where __to__ is an isoline?

[2016-12-08 14:49] doutriaux1 commented on #106
I think so because we used to be able to do the following and it's broken now:
[code]

[2016-12-08 14:53] embrown commented on #106
I fixed setLineAttributes to set an isoline's properties from a line, but I still get the ```'Tl' object is not iterable``` error when I try to assign an isoline's ```line``` property to ```vcs.elements["line"]["continents"]```

[2016-12-08 23:27] ghost opened #107 "Developments with documentation"
@chaosphere2112 @charlesdoutriaux @aashish24 @williams13 ,
Tagging you all because you're involved in the documentation process for VCS.
This is more an update than a real issue.
__tl;dr__ I made stuff that removed the pain of doctesting VCS:
[where doctests are needed](https://github.com/embrown/vcs/blob/more_documentation/docs/doctest_info/manageElements.md#missing-doctests) && [which doctests a

[2016-12-09 15:49] chaosphere2112 opened #108 "Solve the remote and exploratory visualization problems"
This is mostly a documentation of some issues that @jypeter expressed to me at the ESGF Face to Face; I'm sticking it here, because this seems like the right place.

A fundamental issue that our users have right now is that X forwarding is slow, VNC is flaky, and there's no really great way to be able to do exploratory analysis on a remote system.

Using VCS from the python console also has some i

[2016-12-09 18:26] durack1 commented on #108
@chaosphere2112 good idea to drop ideas down somewhere.. I really do like the ability to animate/movie view data, as it's kinda amazing what you see when you can scroll around the temporal extension of a gridded dataset.. I'd be happy to chip in on this conversation thread maybev next year when we're all in the building?

[2016-12-12 21:35] embrown opened #110 "Canvas.cgm() doesn't seem to work"
@doutriaux1 looks like this one is either deprecated or not implemented. Let me know which and I will note it in the docs.
[code]

[2016-12-12 22:33] embrown opened #111 "Canvas.copyfontto() calls non-existent method"
@doutriaux1 @chaosphere2112, here's another possible deprecation. Whether we're going to nuke it or implement it later, let me know and I'll update the docs.
[code]

[2016-12-12 23:46] embrown commented on #46
@doutriaux1 @chaosphere2112, on further inspection it looks like this doesn't even work:
[code]
One or both of these should return 1, but neither returns anything.
I think we either have to scrap this or re-write the function.

[2016-12-13 13:50] jypeter commented on #110
I had an old issue about that in https://github.com/UV-CDAT/uvcdat/issues/1065

We used the vector **cgm** output format when vcs was based on **xgks**, but that's not the case any more. We can probably safely assume that people have not used *cgm* for a long long time

[2016-12-13 13:54] embrown commented on #110
@jypeter awesome, thank you! I will flag it with a deprecation for now.

[2016-12-13 16:32] durack1 commented on #110
@embrown I know one person that likely uses `cgm` still, @doutriaux1 knows that Ben is that individual..

[2016-12-15 17:46] doutriaux1 commented on #110
@sankhesh @aashish24 there is a flag and some cgm code in the old VTK @aashish24 and I found it  a while back. It would be awesomeif you could reactivate it.,

[2016-12-20 15:56] embrown opened #113 "template.plot() weirdness"
Given the following code:
[code]
I get a list of displayplots returned:
[code]
but the canvas is blank at the end.
@doutriaux1 @chaosphere2112 , is this a bug? Am I using template.plot() wrong?
It seems like a strange behavior to me.

[2016-12-20 19:18] embrown commented on #113
Closing this one. @chaosphere2112 informed me that template.plot() is for internal use only.

[2016-12-20 19:18] #113 closed

[2017-01-09 17:03] embrown commented on #103
@doutriaux1 @chaosphere2112 I'm pretty sure I got python output working correctly [here](https://github.com/UV-CDAT/vcs/pull/104). Whenever that's merged, we should be good to close this issue.

[2017-01-10 15:32] doutriaux1 opened #115 "template drawLinesAndMarkersLegend misleading doc"
the
[code]
fails
the `bg=True` keyword seems to make it fail (i think it's because was rendered previously)

[2017-01-10 15:44] embrown commented on #115
@doutriaux1 Which version of the docs is this from? My current version, the doc has this example
(The tedious declaration of lists is because the pdf formatting looks bad if those code examples go over 80 characters to a line):
[code]
My [report](https://github.com/embrown/vcs/blob/more_more_documentation/docs/doctest_info/markdown/template.md) doesn't indicate that there was an error with that te

[2017-01-10 15:57] doutriaux1 commented on #115
good. @chaosphere2112 is reviewing this right now.

[2017-01-10 22:42] doutriaux1 opened #116 "vcs seg fault on ubuntu 16.04 using regular not nox vtk"
gdb --args python /export/doutriaux1/git/uvcdat/testing/vcs/test_vcs_basic_gms.py --gm_type=isofill --projection=-3 --lat1=-90 --lat2=0 --lon1=-180 --lon2=180 --range_via_gm --source=/export/doutriaux1/git/build_uvcdat/uvcdat-testdata/baselines/vcs/test_vcs_basic_isofill_-3_proj_SH_-180_180_via_gm.png
[code]

[2017-01-16 19:15] #47 closed

[2017-01-16 19:15] #76 closed

[2017-01-16 19:19] danlipsa commented on #33
The PDF file size difference is small now because PDFs are compressed as they are in matplotlib. For the script patterns.py the pdf file size increases from 2.3 to 3.7 MB. Attached are the python and pdf files.
[patterns_index_10_mpl.pdf](https://github.com/UV-CDAT/vcs/files/709224/patterns_index_10_mpl.pdf)
[patterns_index_10.pdf](https://github.com/UV-CDAT/vcs/files/709225/patterns_index_10.pdf)

[2017-01-16 19:19] #33 closed

[2017-01-19 23:38] durack1 opened #117 "Black png returned when using a vnc session"
@danlipsa @doutriaux1 I just ran the demo script [BlueMarble_huss_satellite_view.html](http://uvcdat.llnl.gov/examples/BlueMarble_huss_satellite_view.html) and received the appropriate graphic on the active VNC screen. What was saved to the png is below, and is certainly not what I was expecting:
![bluemarble_huss_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22129

[2017-01-19 23:48] durack1 commented on #117
@danlipsa @doutriaux1 this is even better, when I change the:
[code]
to
[code]
I then get:
![bluemarble_huss_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22130047/aa3d1a92-de5e-11e6-8066-62e09f59233d.png)

[2017-01-20 15:06] danlipsa commented on #117
@durack1 Do you have the huss_Amon_HadGEM2-AO_historical_r1i1p1_186001-200512.nc file?
@aashish24 @doutriaux1 We should add the examples to the test suite, maybe as a separate section to be able to run them automatically.
I think the black PNG is what we have seen before - VNC is not able to forward the OpenGL calls. Our suggestion was to run VNC through Virtual GL.

[2017-01-20 15:16] doutriaux1 commented on #117
Dan with recent updates my ubunutu seems to seg fault instantly via x forwarding. RH6 has been sending black png for a while now via x forwarding. @durack1 use the nox version, I know it sucks but that one works.

[2017-01-20 19:21] durack1 commented on #117
@danlipsa this file is 187MB, it's got all the timesteps 186101 to 200512. I've pulled out a single timestep in the linked file (102KB) let me know if this isn't suitable:
[huss_Amon_HadGEM2-AO_historical_r1i1p1_186001.nc.zip](https://github.com/UV-CDAT/vcs/files/720294/huss_Amon_HadGEM2-AO_historical_r1i1p1_186001.nc.zip)

How do I run VNC through Virtual GL?

[2017-01-20 19:24] durack1 commented on #117
@doutriaux1 just confirming to install the `*-nox` I need the following conda command right?
[code]
Is that right? How about the `vtk-cdat-nox`?

[2017-01-20 19:35] durack1 commented on #117
@doutriaux1 is it right that both the `vcs` AND the `vcs-nox` versions are being installed? Seems like this is going to cause me a lot of problems..?
[code]

[2017-01-20 19:57] doutriaux1 commented on #117
@durack1 you want: `conda create -n uvcdat280nox -c conda-forge -c uvcdat uvcdat-nox`

[2017-01-20 19:57] durack1 commented on #117
@doutriaux1 perfect, I'll give that a spin

[2017-01-20 20:06] durack1 commented on #117
@doutriaux1 unfortunately no luck, I successfully installed `uvcdat-nox` which only had the appropriate `*-nox` versions and this is still the output:
![bluemarble_huss_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22163713/ca76fc4c-df08-11e6-9532-0100d6dd50cb.png)

[2017-01-20 20:16] doutriaux1 commented on #117
@danlipsa this might be bad then! @durack1 try with a slightly more recent vcs
`conda create -n uvcdat280nox -c conda-forge -c uvcdat/label/nightly -c uvcdat uvcdat-nox `

[2017-01-20 20:20] durack1 commented on #117
@doutriaux1 should the `-c uvcdat/label/nightly` and the `-c uvcdat` both be used? Can I just use the `nightly` channel?

[2017-01-20 20:29] durack1 commented on #117
@doutriaux1 here we go:
[code]

[2017-01-20 20:32] doutriaux1 commented on #117
typo you need a space before `-c uvcdat`

[2017-01-20 20:33] durack1 commented on #117
@doutriaux1 yeah I saw that once I clicked comment.. So deleted, as I will this comment

[2017-01-20 20:34] durack1 commented on #117
@doutriaux1 ok so installed the `nightly` `uvcdat-nox` (after fixing spaces in the command) and now I get:
[code]

[2017-01-20 20:36] doutriaux1 commented on #117
ok... so let's try this one on the bleeding edge:
conda create -n uvcdat280nox -c conda-forge -c uvcdat/label/patterns -c uvcdat uvcdat-nox

[2017-01-20 20:39] durack1 commented on #117
@doutriaux1 the only `patterns` sourced package is `vtk-cdat-nox` should I proceed?

[2017-01-20 20:41] doutriaux1 commented on #117
yes, that's all you need.

[2017-01-20 20:44] durack1 commented on #117
@doutriaux1 no good, basically same output [as above](https://github.com/UV-CDAT/vcs/issues/117#issuecomment-274167095)

[2017-01-20 20:45] doutriaux1 commented on #117
@danlipsa that's a problem. @durack1 ok then you need to set your LD_LIBRARY_PATH unfortunately

[code]
let me know.

[2017-01-20 20:48] durack1 commented on #117
@doutriaux1 doesn't help, same output:
[code]

[2017-01-20 20:55] doutriaux1 commented on #117
hum... can you post:
[code]

[2017-01-20 23:32] durack1 commented on #117
@doutriaux1 and here we go:
[code]

[2017-01-20 23:45] doutriaux1 commented on #117
works for me on oceanonly
[code]

[2017-01-20 23:54] durack1 commented on #117
@doutriaux1 it doesn't work, you don't get
![bluemarble_huss_satellite_view_daytimeview_demo](http://uvcdat.llnl.gov/gallery/fullsize/BlueMarble_huss_satellite_view_daytimeview.png)
Rather you get
![bluemarble_huss_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22163713/ca76fc4c-df08-11e6-9532-0100d6dd50cb.png)

[2017-01-21 00:01] durack1 commented on #117
@doutriaux1 ok, so if I run `uvcdatPatternsNox` with `bg=False` then I get:
![bluemarble_huss_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22169548/bd0e99fe-df29-11e6-84fd-e90b4cdacb32.png)

[2017-01-21 00:10] doutriaux1 commented on #117
ok that makes sense (sort of) @danlipsa we should look into why bg=True freaks out on mesa builds. But we could also always turn bg to True on mesa builds

[2017-01-21 00:10] doutriaux1 commented on #117
thanks @durack1

[2017-01-21 00:10] durack1 commented on #117
@doutriaux1 I can also confirm a similar (but not identically sized output file) is generated with `uvcdat280nox` and `bg=False`

[2017-01-21 00:15] durack1 commented on #117
@danlipsa how do I go about running VNC through Virtual GL? While I can get graphics to work with this `*-nox` builds, I can't see anything interactively and it's a pretty horrible user experience

[2017-01-23 15:00] danlipsa commented on #117
@durack1 Here are the instructions I followed to setup vnc/virtual GL on my ubuntu and connect from my mac. I used the latest version for vnc/Virtual GL rather the version specified in the instructions. I think you'll need root access on the linux machine.

I mostly followed instructions from
http://www.paraview.org/ParaView3/Doc/Nightly/www/js-doc/index.html#!/guide/virtualgl_turbovnc_howto

with

[2017-01-23 15:29] danlipsa opened #119 "bg=True freaks out on OSMesa builds"
See:

https://github.com/UV-CDAT/vcs/issues/117

[2017-01-23 15:33] danlipsa commented on #117
@doutriaux1 Do you install the gcc 4.8.4 package when installing cdat? This should take care of the missing symbol and will remove the need for LD_LIBRARY_PATH.

[2017-01-23 15:35] doutriaux1 commented on #117
@danlipsa I think we're good now, @durack1 was able to run the nox version so I think we do not need the LD_LIBRARY_PATH thing.

[2017-01-23 15:41] danlipsa commented on #117
@durack1 Thanks for the nc file. The example runs fine using direct access to OpenGL (I have cdat installed on my machine). So indeed the issue is accessing cdat remotely. Neither X forwarding or VNC work well with OpenGL. VNC + Virtual GL works best in my experience but requires installing Virtual GL on the server and of course a working OpenGL on the server as well.

[2017-01-23 15:43] danlipsa commented on #117
@doutriaux1 Great!

[2017-01-23 18:00] durack1 commented on #73
@danlipsa @doutriaux1 this is still an issue in `2.8`:
[code]

[2017-01-23 18:02] doutriaux1 commented on #117
actually today I can't run it anymore!
[code]

But I think it's because the nighlty cdms2 is built against another gcc.... I will update cdms to be built using gcc from conda

[2017-01-23 18:06] doutriaux1 commented on #73
@durack1 yes I don't think we ever fixed this. @danlipsa do you have cycles for this?

[2017-01-23 18:07] durack1 commented on #119
@danlipsa @doutriaux1 just for old times sake, this is related to #72, #71, #70, UV-CDAT/uvcdat#1424, and UV-CDAT/uvcdat#1397 (closed)

[2017-01-23 18:23] danlipsa commented on #73
@doutriaux1 I can put it on my list @durack1 Can I have the nc file?

[2017-01-23 19:36] durack1 commented on #73
@danlipsa here's a single timeslice
[AusCOM1-0.Salt.Omon.so.00010702.nc.zip](https://github.com/UV-CDAT/vcs/files/724748/AusCOM1-0.Salt.Omon.so.00010702.nc.zip)

[2017-01-23 23:48] doutriaux1 opened #121 "boxfill missing value does not respect opacity"
[code]

gives:
![crap](https://cloud.githubusercontent.com/assets/2781425/22228040/6e1d55c2-e183-11e6-9095-e1c5e5af22df.png)

[2017-01-23 23:49] doutriaux1 commented on #121
grey should be transparent

[2017-01-23 23:56] durack1 commented on #121
@doutriaux1 happy to test this out in my example case, so for isofill:
![bluemarble_siconc_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22228191/69893110-e184-11e6-946e-f9d5bf517a60.png)
And for `boxfill`:
![bluemarble_siconc_satellite_view_daytimeview_boxfill](https://cloud.githubusercontent.com/assets/3229632/22228186/65d69508-e184-11e6-82e2-84f0b7ffdaca.png)
I'

[2017-01-26 05:59] durack1 commented on #121
@danlipsa it would be great to get your input on this, I was hoping to generate a correct figure (with the masking working correctly) by the end of this week

[2017-01-26 15:12] sankhesh commented on #121
@doutriaux1 @durack1 Looking into this now

[2017-01-26 16:28] danlipsa opened #122 "testing does not work on mac os with retina display"
The test images created are half the size of baselines. I tracked this down to a recent change in VTK. I have a merge request that fixes the problem.

https://gitlab.kitware.com/vtk/vtk/merge_requests/2431

[2017-01-26 16:39] doutriaux1 commented on #122
let me know when it's in. I will trigger a new nightly

[2017-01-26 16:45] durack1 commented on #121
@sankhesh great, let me know when you have a branch to test..

[2017-01-26 21:05] sankhesh commented on #121
@doutriaux1 @durack1

PR #123 fixes the issue

Here is clt with `gm.missing = [50, 50, 50, 0]'

![121_boxfill_mask_opacity](https://cloud.githubusercontent.com/assets/936354/22350249/159ea5ee-e3e1-11e6-9dd6-725acfa24fc5.png)

and with `gm.missing = [50, 50, 50, 50]`

![121_boxfill_mask_opacity_50](https://cloud.githubusercontent.com/assets/936354/22350288/31d50640-e3e1-11e6-89f3-7a09341e37b3.png)

[2017-01-26 21:24] doutriaux1 commented on #121
awesome! thanks @sankhesh

[2017-01-26 21:47] durack1 commented on #121
@doutriaux1 great, once this is merged by @danlipsa will it be magically available through the `nightly` channel? I was hoping to get these figs done this week...

[2017-01-26 22:18] durack1 commented on #121
@danlipsa @doutriaux1 @sankhesh I'm also curious about the northern bound behaviour in the [`isofill` example above](https://github.com/UV-CDAT/vcs/issues/121#issuecomment-274657167). It seems that some boundary effect is impacting the `isofill` so that missing (or lower) values are found along the northern fringe, with `boxfill` this isn't an issue as there is no interpretation/interpolation of t

[2017-01-26 22:24] danlipsa commented on #121
@durack1 I don't really understand what is missing?

[2017-01-26 22:26] danlipsa commented on #121
@durack1 Are these the black values along the northern bound?

[2017-01-26 22:29] durack1 commented on #121
@danlipsa exactly, so identical data yet you get the differences (the black values in `isofill` along the northern boundary) as per the screenshot below:
![isofilltopvsboxfillbottom](https://cloud.githubusercontent.com/assets/3229632/22353116/d05a16c4-e3d3-11e6-81b9-c7e43331dc9b.png)

[2017-01-26 22:29] doutriaux1 commented on #121
@danlipsa yes. It's odd, but I think it's the algorithm, not much we can do about it, high gradient around there

[2017-01-26 22:31] danlipsa commented on #121
@durack1 Are the white values masked?

[2017-01-26 22:31] durack1 commented on #121
@doutriaux1 if you were to pad the boundary with the same value one pixel around the boundary (so obviously here it's 90N+), then you wouldn't get such an artifact.. And that is exactly what `boxfill` faithfully plots, `isofill` is attempting to pad with interpolated values

[2017-01-26 22:32] durack1 commented on #121
@danlipsa nope, the masked values (in `boxfill` lower panel) are the grey colour

[2017-01-26 22:42] danlipsa commented on #121
@durack1 Can we have the nc file?

[2017-01-26 22:47] durack1 commented on #121
@danlipsa here you go, it's a single time slice.. I can provide the plotting script if you want that as well..
[siconc_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn_187001.nc.zip](https://github.com/UV-CDAT/vcs/files/733810/siconc_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn_187001.nc.zip)

[2017-01-27 20:02] sankhesh opened #124 "Plots sometimes render text twice"
See https://github.com/UV-CDAT/uvcdat-testdata/pull/161/files#diff-90f8c8c8ad828e24972e67e49535f65f

and https://github.com/UV-CDAT/uvcdat-testdata/pull/161#issuecomment-275750750

[2017-01-30 16:57] #121 closed

[2017-02-08 22:16] doutriaux1 opened #125 "too many "fillarea" attributes?"
currently isofill/boxfill/meshfills have a *lot* of fillarea attributes, especially if we include @sankhesh new ones coming down soon.
[code]

Should we update this to something more granular as:

[code]

or even simpler:

[code]

[2017-02-08 22:28] sankhesh commented on #125
@doutriaux1 I was just talking to @aashish24 about this today. Not only are there too many fillarea attributes, the code is duplicated all over the place and is inconsistent.

+1 to just using the `fillarea` api.

Can we subclass isofill, boxfill, meshfill from a common object and have these common ivars ported to the superclass?

[2017-02-08 22:35] doutriaux1 commented on #125
@sankhesh that sounds like the way to go. Do you want to take the lead on this?

[2017-02-09 14:57] sankhesh commented on #125
Sure. Let me finalize the patterns work first.

[2017-02-09 17:08] jypeter opened #126 "Potential vcs test script"
Following @durack1 request in #23  , I have tried to write a self-contained script that produces that produces the figure at the top of https://github.com/UV-CDAT/uvcdat/issues/1080

The script needs the **gsw** package to run (https://pypi.python.org/pypi/gsw/). I have just done the following in my old versions of CDAT  (don't know what people should do for that in conda)

The script, png and pdf

[2017-02-09 20:02] sankhesh commented on #126
Thanks for posting the test script @jypeter

@durack1, I don't think this issue is related to the patterns code. We can look at how markers are handled next.

[2017-02-09 21:04] durack1 commented on #126
@jypeter thanks for this! @sankhesh completely agree this is a separate issue, however @jypeter has created some fairly specialised plots in various versions of UV-CDAT and these are perfect "real world" candidates for the test suite. The behavior changes through each version of UV-CDAT is also something useful to be aware of

@sankhesh to make things easier, here's the script
[deep_ocean_plot_sta

[2017-02-10 11:15] durack1 commented on #121
@doutriaux1 it seems this change isn't [available through `nightly` on conda](https://anaconda.org/uvcdat/repo?label=nightly) the latest available build is 21st Jan 2017 (not 27/28th)

[2017-02-21 16:43] jypeter opened #128 "Masked values show data=0 in interact() mode"
@doutriaux1 I have installed 2.8.0 at last, and I'm testing some stuff !

I'm plotting a simple matrix with 0, 1 and masked. When I'm in interact mode, and I click on the masked values, they should data=0 when it should rather be **masked** or something like that

[code]

[2017-02-22 22:28] durack1 commented on #121
@sankhesh @danlipsa @doutriaux1 just to confirm, using the `vcx-nox 2017.2.22-py27_0 uvcdat/label/nightly` and `vtk-cdat-nox 7.1.0.2017.1.20-py27_0 uvcdat/label/nightly` yields the image below, which is exactly what I expected.. Thanks!
![bluemarble_siconc_satellite_view_daytimeview_boxfill](https://cloud.githubusercontent.com/assets/3229632/23235614/fdcec5cc-f90a-11e6-8cce-8f44bbf39129.png)
Compa

[2017-02-23 05:29] doutriaux1 opened #129 "png not respecting user dims if bigger than screen (Mac)"
[code]
![bad](https://cloud.githubusercontent.com/assets/2781425/23246073/eb19f830-f945-11e6-9e88-2f586a28a419.png)

[2017-02-23 16:33] doutriaux1 opened #130 "circleci seg fault in bg mode"
screen info:
[code]
bug code:

[code]
leads to:
[code]

[2017-02-23 16:34] doutriaux1 commented on #130
in order to ssh into machine log in circleci with github credentials, restart a build, and select start ssh for this build
e.g: https://circleci.com/gh/UV-CDAT/vcs/46#ssh-info/containers/0

[2017-02-23 16:39] doutriaux1 commented on #130
even simpler program
[code]
leads to:
[code]

[2017-02-27 15:23] doutriaux1 opened #132 "add test to run doc test"
to fully finish https://github.com/UV-CDAT/vcs/pull/131

[2017-02-27 19:29] danlipsa commented on #130
@doutriaux1 Any way you can build a debug VTK and make circleci pull that instead? Using a release VTK does not help much in debugging the issue.

[2017-02-28 19:33] danlipsa opened #133 "improve appearance for vector plots"
Compare output from vcs
![test_vcs_basic_streamline_transparent](https://cloud.githubusercontent.com/assets/6180727/23436976/6cffe1b4-fdda-11e6-900a-ffc17883c692.png)
to output from ParaView
![vector](https://cloud.githubusercontent.com/assets/6180727/23436951/50de30b2-fdda-11e6-9dda-613e120d15fa.png)

[2017-02-28 20:17] durack1 commented on #133
@danlipsa looks like you pressed save before the uploading had finished..

[2017-02-28 21:02] danlipsa commented on #133
@durack1 github is having troubles uploading pngs. It says: "Something went really wrong, and we can’t process that file." I tried with both chrome and safari. I will try this tomorrow.

[2017-02-28 22:20] danlipsa commented on #133
@durack1 Maybe this is the reason:
http://www.usatoday.com/story/tech/news/2017/02/28/amazons-cloud-service-goes-down-sites-scramble/98530914/

[2017-02-28 22:22] danlipsa commented on #133
@durack1 Now things are back to normal.

[2017-02-28 22:28] aashish24 commented on #133
@danlipsa two things:

1. Spacing
2. Scaling

You can control these two in vcs but I agree that by default we do not do a good job with it. And hence we draw too many and too small. Also, we do not color them.

[2017-02-28 22:35] danlipsa commented on #133
@aashish24 I think the reasons vectors look worst in vcs are:
- the seeds are random in paraview - are uniformly spaced in vcs
- paraview's arrows are 3D so they can use lighting.
With these two improvements we should get similar results with ParaView.

Of course, ParaView also colors the arrows and scales them with the vector magnitude.

[2017-02-28 22:55] durack1 commented on #133
@danlipsa having the ability to plot the second (paraview) image using `VCS` would be pretty cool, I agree that it's a prettier format.. It would also be nice to be able to plot the old versions too.. so a "3d vector (paraview)" along with a "vector (current vcs default)"

[2017-02-28 23:06] chaosphere2112 commented on #133
@danlipsa @durack1 We can already do 3D vectors (by using the cunningly titled "3d_vector" graphics method, courtesy of our friends at NASA). Changing the 2D vectors to be the same as the 3D vectors would be a bit odd.

[2017-02-28 23:08] durack1 commented on #133
@chaosphere2112 are there any examples of these in the gallery? If no, it would be great to add them.. And how do they compare to the paraview version above?

[2017-02-28 23:33] chaosphere2112 commented on #133
![screen shot 2017-02-28 at 3 32 10 pm](https://cloud.githubusercontent.com/assets/718512/23439373/1d36104a-fdcb-11e6-8177-774aff8910bf.png)

This is with a minimal amount of futzing. It allows interactive selection of the vertical level, and a number of other customizations.

There is an example in the gallery: http://uvcdat.llnl.gov/examples/vcs3D_wnd_vector.html

[2017-03-01 00:04] durack1 commented on #133
@chaosphere2112 nice! The page http://uvcdat.llnl.gov/examples/vcs3D_wnd_vector.html doesn't seem to have a valid image to me, a permissions issue maybe?

[2017-03-01 00:16] chaosphere2112 commented on #133
Looks fine to me... permissions shouldn't break across different computers. Try reloading?

[2017-03-01 00:18] durack1 commented on #133
@chaosphere2112 weird, whatever you did it's fine now..

[2017-03-01 08:12] jypeter commented on #133
Guys, remember that for a **2D publication with precise results**, we rather need something like the _old but trusted_ vcs plot, where you can easily have axes, titles, variable name, min/max, etc... If the data is too dense, I usually sub-sample the data with  _x.plot(vect_method, var[::5, ::5])_ and possibly use slightly longer arrows

I don't have that many plots with vectors in store, but the

[2017-03-01 14:38] danlipsa commented on #133
@chaosphere2112 Nice! Can you have axes labels as well? Lighting seems off in that example.

[2017-03-01 15:12] aashish24 opened #134 "Aspect ratio test fails in landscape mode"
I need to investigate if this is a real issue and if yes how long is the feature broken.

[2017-03-01 16:29] danlipsa commented on #133
@jypeter Thanks for the feedback. @aashish24 @doutriaux1 To improve our vector plots compared with basemap seems we need to (besides spacing and scaling):
- Use a triangle for the arrow head instead of two lines
- Smaller vectors keep their arrow head as much as possible (vcs scales the whole arrow and so the arrow head becomes very small)
- The legend in vcs can be improved
- I think the seeds in

[2017-03-01 16:34] danlipsa commented on #133
@aashish24 @doutriaux1 It seems you you need to sub-sample the data to get the right spacing. Is there an option to the vector plot to specify spacing?

[2017-03-01 23:52] doutriaux1 opened #135 "meshfill broken"
@sankhesh your commit 5f393f1958e74db79a8b8c64817382a8f431d3fc introduced the bug.

Please to reproduce run test:
[code]

[2017-03-01 23:54] doutriaux1 commented on #135
I recommend the fix to be implemented in branch: `migrate_test_suite`
the tests that exhibit this bug are in directory: `tests/failing`

[2017-03-01 23:54] doutriaux1 commented on #135
`master` has bugs that have been introduced by @chaosphere2112 PR #131

[2017-03-01 23:58] doutriaux1 opened #136 "doc strings PR introduced bug in test suite"
Among others the following tests have been broken by @chaosphere2112 #131
[code]
latitude labels are gone
![test_vcs_user_passed_date](https://cloud.githubusercontent.com/assets/2781425/23486936/d4d544d8-fe97-11e6-9af3-e82dac0710fc.png)

[2017-03-02 00:26] chaosphere2112 commented on #136
@doutriaux1 What latitude labels are gone?

## 2.8 clean install:
![2 8_raw](https://cloud.githubusercontent.com/assets/718512/23487564/ce4c90b8-fe9b-11e6-824c-b7a013189bae.png)

## 2.8 with master branch of VCS:

![2 8_vcs_master](https://cloud.githubusercontent.com/assets/718512/23487563/cb13d80c-fe9b-11e6-8343-91a0f97f5663.png)

[2017-03-02 00:43] chaosphere2112 commented on #136
Ah, nevermind; looks like `ipython` opened in the old environment. I see now, and will hunt this down.

[2017-03-02 01:11] chaosphere2112 commented on #136
Got it.

[This line](https://github.com/UV-CDAT/vcs/blob/4268809dcd984db1372f79ff1cb6cb170f184653/vcs/utils.py#L2240)  in creategraphicsmethod()

[code]

used to read

[code]

When it is that way, the desired behavior happens. This is almost definitely a bizarre bug internal to VCS, since the rest of the graphics methods all use "Gfm" or their proper graphics method names. I'll dig more into it to

[2017-03-06 19:09] doutriaux1 commented on #135
@sankhesh  any progress on this?

[2017-03-06 19:47] sankhesh commented on #135
@doutriaux1 I haven't had a chance to look into this yet. If its not urgent, mind if I look into it tomorrow? Thanks!

[2017-03-06 22:28] doutriaux1 commented on #135
@sankhesh tomorrw is totally fine.

[2017-03-07 15:45] #136 closed

[2017-03-07 16:25] aashish24 commented on #129
@doutriaux1 do you want to look into this or should someone else?

[2017-03-07 23:21] doutriaux1 commented on #129
@aashish24 apparently there's nothing to do about it, short of re-running the pipeline on the bg=1 canvas when calling png. @chaosphere2112 mentioned we can't just transfer the VTK Actor to the new backend.

[2017-03-07 23:42] aashish24 commented on #129
@doutriaux1 not sure if understand it correctly.

For OpenGL that is true (and I would think that for the rendering as well but may be not SVG). The underlying system would not let the window bigger than the window viewport.

[2017-03-08 00:14] chaosphere2112 commented on #129
@aashish24 This was referencing information that you and David Lonie told me a year or two ago about my animation solution; we can't move the entire `vtkRenderer` stack to a new render window and expect things to function correctly.

[2017-03-08 00:18] aashish24 commented on #129
thanks @chaosphere2112 that makes sense.
actually since we are hoping to move to opengl2, this won't br an issue since if you have a vtkRenderer and you pass it to a new vtkRenderWindow it should destroy the current context objects and create new ones (typically OpenGL stuff) but i will double check on it.

[2017-03-08 13:39] jypeter opened #139 "x.show('crap') could return a sorted list of valid options"
Just a very minor request for improvement. It would be nice the displayed list for _Valid vcs elements_ below was **alphabetically sorted**. Just saying because I thought _colormap_ was not in there and then I discovered it was the next to last element!

Maybe there are other places that could use alphabetical sorting
[code]

[2017-03-08 16:20] jypeter opened #140 "Bring back x.colormapgui() (and add color related resources on the web/wiki)?"
@doutriaux1 I have just spent some time on the web site and wiki looking for some information/documentation about **vcs and colors**. Either I have been very unlucky, or there is no web page on this rather important topic. I have even started _uvcdat_ in case I quickly saw some menu about color.

I vaguely remember discussions about _viridis_, _transparency_ and other color related stuff but I hav

[2017-03-08 18:07] doutriaux1 commented on #139
@jypeter see: https://github.com/UV-CDAT/vcs/pull/141

[2017-03-08 18:33] doutriaux1 commented on #140
@chaosphere2112 @mattben do you think it would be possible to have this function fireup `vcdat` and bring in the colormap editor? That would be awesome!

[2017-03-08 18:39] durack1 commented on #140
@chaosphere2112 @mattben @doutriaux1 @jypeter 👍 from me too.. Having the colormaps (and all the options) exposed would be great.. Documentation would make UV-CDAT great again..

[2017-03-08 18:42] mattben commented on #140
https://uvcdat.llnl.gov/docs/vcs/misc/colormap.html ??

[2017-03-08 18:47] durack1 commented on #140
This relates to some discussion at https://github.com/UV-CDAT/uvcdat/issues/1345#issuecomment-161110687 (and some palette examples) and also https://github.com/UV-CDAT/uvcdat/issues/1345#issuecomment-162099427 further down the same page

[2017-03-08 19:00] chaosphere2112 commented on #140
@jypeter @durack1 @doutriaux1 Not on the timeline for this release. There's no technical reason why we couldn't do this (assuming python's webbrowser module works on your machine). There's technically no reason we couldn't look at going full-bore into the old-school VCS style, where you could launch an editor for anything you're working on. We wouldn't need to launch all of VCDAT, just a small pag

[2017-03-08 22:15] doutriaux1 commented on #140
@chaosphere2112 obviously not for this release (code freeze already happened anyway) but yes for CDAT 1.0 (or a beta before that).

[2017-03-09 07:55] jypeter commented on #139
Thanks!
I'll close this issue then. Though I don't know if it should be you or me closing it, or if you are supposed to wait till some tests pass

[2017-03-09 16:00] doutriaux1 commented on #139
@jypeter it will close when it's in master

[2017-03-09 19:09] doutriaux1 commented on #135
@sankhesh we really need this in soon now!

[2017-03-09 19:38] chaosphere2112 opened #142 "Automatic xticlabels2 and yticlabels2 don't work"
When plotting using the default values for graphics methods' `yticlabels2` and `xticlabels2`, the automatic value (`'*'`) doesn't work (default template hides those labels, so it's been going unnoticed for who knows how long; as a sidenote, we should probably test using a template with every field enabled).

[code]

![bad](https://cloud.githubusercontent.com/assets/718512/23767287/e980846c-04bc-11

[2017-03-09 20:06] sankhesh commented on #135
@doutriaux1 Working on this now.

[2017-03-10 11:02] jypeter opened #143 "Remarks about vcs.download_sample_data_files"
It took me some time to find how to download the traditional test data files and I eventually found **vcs.download_sample_data_files** in one of the tutorials

Some remarks about it:
- is it documented somewhere else than in the tutorials?
- can somebody add a docstring to it? At least add a note that the path to the downloaded data is specified in _vcs.sample_data_
- should there be a similar fun

[2017-03-10 14:12] jypeter opened #144 "Add help to, and document x.interact() on the web?"
x.interact() is quite important if you want to do some interactive work with vcs (in my case resize the canvas, click on the cells to check their values), but:
- there is **no docstring** (we may be able to live with that)
[code]
- there is **no help at all about that on the web site** (or at least none I found after spending my morning checking the web site). A Google search of "uvcdat interact()

[2017-03-13 14:22] doutriaux1 commented on #143
@jypeter you're right it should probably be split between vcs and vcs. Funny thing is that cdms test suite is the one requiring the bigger datasets.
There's no way to have a conda with this. It would suck up all of our data storage.
I will also tweak it to specify where the data is downloaded, to avoid having one copy per conda envirnoment.

[2017-03-13 14:26] doutriaux1 opened #145 "vcs init seems to fail using ${HOME} correctly"
[code]

[2017-03-13 16:28] jypeter commented on #143
It seems there is already an option for specifying a custom path. Except that without a docstring, you can't know for sure what the parameter is for
[code]

It's a good thing to minimize storage, and in that case I suggest you tell people to install vcdat with Miniconda, rather than Anaconda. My figures show a reduction of 1.9G, if you install with Miniconda. Mostly because if you do a full instal

[2017-03-13 16:38] doutriaux1 commented on #143
good point. Although these days I would think most people already have some flavor of conda on their systems already.

[2017-03-13 16:54] jypeter commented on #143
I'm not so sure about most people already having conda. I did not, that's why I spent some time experimenting. The installation instructions on the uvcdat wiki rely a lot on people being already familiar with conda. I have put my own notes on the following page:
https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:uvcdat:conda_notes

[2017-03-13 17:03] durack1 commented on #143
@doutriaux1 @jypeter I would agree with the statement above, `anaconda` is not installed by default on any system that I know about, so I don't think making any assumptions about a user knowledge of conda, or that it's installed is reasonable.. Explicit start to end docs would be the best path forward

[2017-03-13 21:48] durack1 opened #146 "Portrait plot issues"
It seems something in `vcs=2.8` has changed so that the following error occurs:
[code]
@doutriaux1 @danlipsa is this related to #117 and #119 do you think?

[2017-03-13 21:53] durack1 commented on #146
@doutriaux1 what is the over ride for installing `vcs-nox` rather than the default? I was using:
[code]

[2017-03-13 23:04] doutriaux1 opened #147 "vcs does not respect geometry on newer mac XCode 8.3"
bg=1
geometry= {'width': 1200, 'height': 1091}

geometry not respected

[code]

[2017-03-14 00:46] durack1 commented on #146
@doutriaux1 self help:
[code]
I had forgotten that @zshaheen had sorted us out nightlies.. @zshaheen how hard would it be to push a `-nox` for the v1.1.1?

[2017-03-14 03:43] zshaheen commented on #146
@durack1 It's not too bad, I get to it tomorrow.

[2017-03-14 03:48] durack1 commented on #146
Excellent thanks! Some folks at GFDL can't use the non`-nox` version and our test cases for them were all built pre-CDP.. quickest path forward is a v1.1.1-nox..

[2017-03-14 15:22] jypeter commented on #143
My own notes and **install** instructions are available below. Beware, it's pretty detailed (with lotta links)

https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:uvcdat:cdat_conda:cdat_2_8_0

My **end-users** on multiple servers should theoretically mostly have to read

https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:python:starting#uv-cdat

[2017-03-14 16:59] danlipsa commented on #147
We are working on it:
https://gitlab.kitware.com/vtk/vtk/merge_requests/2567#note_237976

[2017-03-14 17:51] durack1 commented on #146
@zshaheen have you had any luck with the `v1.1.1-nox`? Please ping me when you've been able to get to this and I'll pull it back across at GFDL..

[2017-03-14 17:53] zshaheen commented on #146
@durack1 Working on that right now. We're back from the meeting, so swing by whenever.

[2017-03-14 18:01] doutriaux1 commented on #147
great! Because the graphics look really really bad on my new macbook pro! Any ETA on this?

[2017-03-14 18:01] doutriaux1 commented on #147
@danlipsa want me to build this sha on my mac and let you guys know?

[2017-03-14 18:21] danlipsa commented on #147
@doutriaux1 No, as it does not work yet. A VTK contributor works on this, as he knows macs best. I think he tries to make VTK work both in hi res and low res mode with low res being default - that is the default apple behaviour.  We already have a solution to make it work only in hires.

[2017-03-14 20:20] durack1 commented on #146
@doutriaux1 I have just tested this against the PMP-v1.1.1-nox that @zshaheen generated for me and I am still getting the issue, so something has changed in `vcs`:
[code]
Is this a bug, or have the `vcs` options changed? The offending code is:
[code]

[2017-03-14 20:57] durack1 commented on #146
@doutriaux1 FYI, with missing (no data) I am getting the following error:
[code]

[2017-03-14 23:03] doutriaux1 commented on #146
@durack1 i gthought we established you were sending it an array shaped (10,0) hence the bug. Is there anything else? Also portraits plot are not officially in vcs as far as i remember so it really should go to pmp issues

[2017-03-14 23:05] durack1 commented on #146
@doutriaux1 I think you're right, and it's most likely a `user` (or was there another definition that we decided upon) error, the only valid post above is https://github.com/UV-CDAT/vcs/issues/146#issuecomment-286557729 which seems a bit vague and includes the conda-bld path, so is useless for an end user

[2017-03-20 16:01] danlipsa opened #149 "vector plots use wrong scale for geographic projection"
The following code scales the vectors based on the bounding box of the actor if we have geographic projection. This is wrong as the bounding box for vectors is usually smaller than the bounding box for the dataset. See streamlines for the correct way to handle this.

 if self._vtkGeoTransform is None:
            wc = plotting_dataset_bounds
 else:
            xrange = list(act.GetXRange())

[2017-03-20 18:33] doutriaux1 commented on #130
@danlipsa sorry didn't see this, how do I build a debug verison? What's the flag?

[2017-03-20 18:38] danlipsa commented on #130
@doutriaux1 In vtk-cdat/build.sh

-        -DCMAKE_BUILD_TYPE=Release \
+        -DCMAKE_BUILD_TYPE=Debug \

[2017-03-20 20:15] durack1 commented on #130
@danlipsa @doutriaux1 I'm not using the latest master branch (waiting for the conda nightlies to propagate), but have hit some very weird problems with the `bg=True` on fairly recent vcs versions.. It would be great to get weird the behavior fixed

[2017-03-20 23:03] durack1 opened #150 "Text location changes with `textAsPaths` setting"
I have just generated two pdfs, one the default text settings and another with `textAsPaths=False`. The text alignment completely changes, which is not an expected output.

The output is as follows:
default 1.3Mb:
![test_4seasrms](https://cloud.githubusercontent.com/assets/3229632/24155845/26e9acb2-0e12-11e7-9c10-daf25237a11b.png)
`textAsPaths=False` 24.1Kb:
![test_4seasrmstextaspathfalse](https:/

[2017-03-21 00:23] doutriaux1 commented on #130
@danlipsa ok I set it up to use vtk-cdat built as of today (master) in debug mode. on both travis and circleci

[2017-03-21 13:18] danlipsa commented on #150
@durack1 This looks like it did not pick up the correct VTK. @doutriaux1 Can we tell what VTK is this using? Maybe we should include the SHA in the name of the package.

[2017-03-21 13:33] danlipsa commented on #130
@doutriaux1 Thanks, I will take a look after I'll do a fix for the streamlines.

[2017-03-21 15:43] durack1 commented on #150
@danlipsa @doutriaux1 it seems that there are more up-to-date versions available:
https://anaconda.org/uvcdat/vtk-cdat/files
https://anaconda.org/uvcdat/vtk-cdat-nox/files
@danlipsa would you expect these more up-to-date versions will fix the problem?

[2017-03-21 17:47] doutriaux1 commented on #150
@durack1 please create a nightly conda (or use crunchy) and let me know.

[2017-03-21 23:44] doutriaux1 commented on #130
@danlipsa any progress on this?

[2017-03-22 13:24] danlipsa commented on #130
@doutriaux1 Did not look at this yet, hopefully I'll push the fix to streamlines today and I'll look at this.

[2017-03-22 16:11] durack1 commented on #150
@doutriaux1 I think the `nightly` channel needs an update, as I can't seem to get the latest (March) versions of the `vtk` or `vcs` packages:
[code]

[2017-03-22 16:29] durack1 commented on #150
@doutriaux1 I think the `nightly` channel needs an update, as I can't seem to get the latest (March) versions of the `vtk` or `vcs` packages:
[code]
It looks to me like we're missing the `linux-64` variants at [uvcdat/vtk-cdat](https://anaconda.org/uvcdat/vtk-cdat/files) (latest is 7.1.0.2017.2.23) and March updates for [uvcdat/vcs](https://anaconda.org/uvcdat/vcs/files) (latest is 2017.2.22)

@zs

[2017-03-22 17:47] durack1 opened #151 "Problems importing vcs-nox, fails with ImportError: No module named vtkRenderingOpenGLPython"
@doutriaux1 @zshaheen I have just tried to reinstall a version of `vcs-nox` from the nightly channel and have got this error:
[code]
The issue appears to have occurred after 15th March, as I used the same commandline to install an identical environment and that is working fine. It looks like the `vcs-nox` version and the `vcs` versions are getting tangled up (I assume the `OpenGL` references are r

[2017-03-22 17:51] durack1 commented on #151
@danlipsa you might have some insights with this..

[2017-03-22 17:54] durack1 commented on #151
@zshaheen the only difference that I can ascertain between these two environments is that the `CDP` was updated from `1.0.2` (PMP-noxNightly2, which works) to `1.0.3` (PMP-noxNightly2Test, which doesn't work) between these installs:
[code]

[2017-03-22 18:06] zshaheen commented on #151
@durack1 The updated version of cdp couldn't have caused the vtk issues, since there aren't any dependencies. However, you can still `conda remove cdp` and reinstall 1.0.2.

Otherwise, I'm not really sure why the vtk OpenGL module is missing.

[2017-03-22 18:07] durack1 commented on #151
@zshaheen I just attempted to roll back to `1.0.2` to see if this fixes me, and it appears to not solve the issue:
[code]

[2017-03-22 18:08] durack1 commented on #151
@zshaheen this is the `-nox` install, so it's not clear to me that the OpenGL stuff should be included anyway?

[2017-03-22 20:59] danlipsa commented on #130
@doutriaux1 How do I use the debug version of VTK on circle-ci? I tried https://circleci.com/gh/UV-CDAT/vcs/166 but it does not use a debug VTK.

[2017-03-22 21:06] danlipsa commented on #130
@doutriaux1 Note that on the circle-ci system with the URL above I have three versions of libvtkRenderingOpenGL:

(venv-system) distiller-build-22:~ distiller$ find . -name libvtkRenderingOpenGL-7.1.1.dylib -exec ls -l {} \;
-rwxrwxr-x  1 distiller  staff  4196808 Mar 22 13:45 ./miniconda/lib/libvtkRenderingOpenGL-7.1.1.dylib
-rwxrwxr-x  1 distiller  staff  1693400 Nov 15 13:54 ./miniconda/pkgs/vt

[2017-03-22 21:19] danlipsa commented on #130
@doutriaux1 the executable seems to pickup the library from lib which seems to be the correct one. I am trying to see why I don't have debug symbols though.

[2017-03-22 21:42] durack1 commented on #146
@doutriaux1 @zshaheen closing this and will open another issue about the debug info

[2017-03-22 21:42] #146 closed

[2017-03-22 21:44] durack1 opened #152 "Turn off/catch debug statements"
@doutriaux1 @danlipsa FYI, with missing (no data) I am getting the following error:
[code]
For the release it would be great to turn these useless debug statements off (as they are pointing to the conda-bld directory, and have nothing to do with the local conda-installed environment), or even better catch them with a better warning

[2017-03-22 23:21] doutriaux1 commented on #151
@durack1 solution is updated on the website you need:
[code]

[2017-03-22 23:22] doutriaux1 commented on #151
nightlies should  work out of the box:
[code]

[2017-03-22 23:25] durack1 commented on #151
@doutriaux1 with the example:
[code]
It wasn't working this morning..

[2017-03-23 00:15] doutriaux1 commented on #130
@danlipsa there's only one, the other two are the conda pkg that circleci downloaded. 2.8 is the default one and then the test suite overwrite this with the debug from 3.20

[2017-03-23 00:20] doutriaux1 commented on #151
@durack1 yep looks like we need to specifically tell it to use a newer vtk-cdat-nox, odd

[code]

[2017-03-23 00:21] durack1 commented on #151
@doutriaux1 I can confirm that with `vtk-cdat-nox 7.1.0.2017.1.20-py27_0 uvcdat/label/nightly` your line above](https://github.com/UV-CDAT/vcs/issues/151#issuecomment-288570089) fails, so reopening

[2017-03-23 00:32] doutriaux1 commented on #151
@durack1 is my last line working with the `>` ?

[2017-03-23 01:51] danlipsa commented on #152
@durack1 What script are you using to get this?

[2017-03-23 02:01] durack1 commented on #151
@doutriaux1 success!
[code]
and the success part:
[code]

[2017-03-23 02:03] durack1 commented on #151
@doutriaux1 I would purge the `7.1.0.2017.1.20-py27_0` version, that seems to be the issue

[2017-03-23 02:07] durack1 commented on #152
@danlipsa I can wrap this and the data up for you and send through if you like?

[2017-03-23 13:29] danlipsa commented on #152
@durack1 Yes, please do that. If it fits, it would be best to attach the data and the script to this issue. Thanks.

[2017-03-23 13:34] danlipsa commented on #147
@doutriaux1 The fix for this issue has just been merged into master.

[2017-03-23 13:35] danlipsa commented on #147
This is the SHA: dbb7f8cec7c02c896d0d6a617d0f2207e0fd4bf1

[2017-03-23 14:38] danlipsa opened #153 "Add SHA to name of VTK conda package"
It is difficult to figure out what version of VTK a specific cdat installation uses. As sometimes we fix vcs bugs in VTK, it is difficult to say if the bug was fixed, or the fix does not work in certain conditions without VTK version. This simple addition will solve this problem.

@doutriaux1 @aashish24 What do you think?

[2017-03-23 16:16] doutriaux1 commented on #151
@durack1 try again it's purged, I suspect you'll get 2.8 though...

[2017-03-23 16:24] doutriaux1 commented on #147
Awesome! Building it right now, will let you know!

[2017-03-23 16:26] #139 closed

[2017-03-23 16:39] doutriaux1 commented on #153
I like the idea, does VTK have a mechanism for this? Otherwise I can add it to the conda verison after the date.

[2017-03-23 18:01] danlipsa commented on #153
ParaView superbuild has a mechanism to extract the SHA: See
https://gitlab.kitware.com/paraview/common-superbuild/blob/master/cmake/SuperbuildVersionMacros.cmake

[2017-03-23 18:02] durack1 commented on #151
@doutriaux1 with the command-line:
[code]
I get:
[code]
So it's not quite solved.. Is the solution moving everything to `conda-forge` or something else?

[2017-03-23 18:11] doutriaux1 commented on #153
I can gert the sha1 at build time that's not the issue, I was just wondering if VTK already does this and we can access it it at runtime. I'll add it to the conda version.

[2017-03-23 18:13] doutriaux1 commented on #151
yep something in uvcdat forces it to go down to 2.8, I'll upload a uvcdat nightly

[2017-03-23 18:30] danlipsa commented on #153
@doutriaux1 No it does not as far as I know. You'll have to get this at build time.

[2017-03-23 18:30] durack1 commented on #150
@doutriaux1 @danlipsa this looks fixed in the `vtk-cdat-nox-7.1.0.2017.3.14-py27_0`, there are very subtle text placement differences, but nothing that requires changes
`textAsPaths=True` (default) 1.3MB:
![test_4seasrms](https://cloud.githubusercontent.com/assets/3229632/24263932/e7e980c2-0fbb-11e7-8846-de8440108cc0.png)
`textAsPaths=False` 24.1KB:
![test_4seasrmstextaspathfalse](https://cloud.gi

[2017-03-23 18:30] #150 closed

[2017-03-23 18:34] danlipsa commented on #150
@durack1 The changes are because the fonts are different. vcs sets a font that is not a postscript standard font. With a standard font there are smaller differences (not sure why there are differences in that case - we'll have to investigate if we need to).

[2017-03-23 18:48] durack1 commented on #152
@danlipsa the attached (below) should get you the error/warning:
[code]
You'll need to create a PMP install, the conda command-line will generate this:
[code]
[170323_VTK-CWarningNumberOfCellsIsZero.zip](https://github.com/UV-CDAT/vcs/files/865817/170323_VTK-CWarningNumberOfCellsIsZero.zip)

Unwrapping the archive above and executing `portrait-4seas-demo.py` should give you the identical warning..

[2017-03-23 18:50] durack1 commented on #150
@danlipsa as a user, I actually prefer the second (`textAsPaths=False`) option, the spacing between the coloured box and the labels are better, and the file size is **far smaller**. Either way I think this is good, so I don't think there's anything else to look into on the "issue" (and I've closed this)

[2017-03-23 18:54] durack1 commented on #151
@doutriaux1 let me know when it's in, and I'll run a test before letting the GFDL folks have a go..

[2017-03-23 21:40] danlipsa commented on #130
@doutriaux1 Can you tell me the directory where the VTK sources are when you create the conda package that you upload to circle-ci?
I am having troubles learning this from lldb. See
http://stackoverflow.com/questions/12973633/lldb-equivalent-of-gdb-directory-command-for-specifying-source-search-path
for more details.

[2017-03-23 22:37] durack1 commented on #117
@danlipsa @doutriaux1 I just tried this with the `vtk-cdat: 7.1.0.2017.3.23.73fb094d17ccdd594a6abf9ff8732149c88dc2e6-py27_0 uvcdat/label/nightly` and still get the same blank image for an active VNC session.. I suppose this bug is kinda similar to the #119 and #130 issues - maybe they are dupes of one another

[2017-03-23 23:28] doutriaux1 commented on #130
@danlipsa I don't think the sources are being packaged by conda...

[2017-03-23 23:30] doutriaux1 commented on #153
@danlipsa ok so it's manual at the moment but did it for our latest nightlies

[2017-03-23 23:33] doutriaux1 commented on #147
@danlipsa okay this is better, a few things are still borken
[code]
opens the tiniest window ever

[code]
 leads to a picture with a red background
![red](https://cloud.githubusercontent.com/assets/2781425/24274588/79678e20-0fe6-11e7-8bbd-2cd3694fd3f0.png)

[2017-03-24 14:00] danlipsa commented on #130
@doutriaux1 Indeed, they are not, but I can 'git clone' them there myself. The problem is that I can to specify the mapping between the original location and the new location. So I'll need something like:
/home/danlipsa/anaconda2/conda-bld/vtk-cdat_1490363755400/work
(this is the location on my unix machine for the current build)

[2017-03-24 14:15] danlipsa commented on #130
@doutriaux1 This is a lldb thing, for gdb you don't need to know where the original location was.

[2017-03-24 14:33] danlipsa opened #154 "plot() after close() changes the background of the plot"
The following script results in a red background on a mac and a black background on linux.

z=vcs.init()
z.open()
z.plot(s)
z.clear()
z.close()
z.plot(s)

[2017-03-24 14:35] danlipsa commented on #147
@doutriaux1 @aashish24 This sequence where you plot after close() does not work very well on linux either - I end up with a black background. I filed a new issue for it:
https://github.com/UV-CDAT/vcs/issues/154
I can take a look at this if we think is important.

[2017-03-24 14:47] aashish24 commented on #153
+1

@danlipsa @doutriaux1 this is something has to be done by the package manager (conda in our case).

[2017-03-24 16:04] danlipsa commented on #147
@doutriaux1 Your first example with x.plot([1,2,3]) works fine on my mac book pro. Are you sure there isn't a configuration error. It does not make sense why certain windows would be OK and others would not.

[2017-03-24 16:37] doutriaux1 commented on #154
@danlipsa your SHA1 (73fb094d17ccdd594a6abf9ff8732149c88dc2e6) is not building on any of my acs

[2017-03-24 16:40] doutriaux1 commented on #147
@danlipsa this on the newer mac with sierra and xcode 8.3.
@danlipsa I can;t get your sha1 (or master) to compile on any mac Xcode 7 or 8

[2017-03-24 16:41] doutriaux1 commented on #147
example of what i get currently:
[code]

[2017-03-24 16:42] doutriaux1 commented on #147
ooops I see the issue here this  a python3

[2017-03-24 16:42] doutriaux1 commented on #147
back in a few

[2017-03-24 16:47] danlipsa commented on #154
@doutriaux1 What are the errors? I just built that SHA on XCode 8.1. Make sure that you don't do 'source activate ...' before you build. Conda on mac has gcc (which it should not) and that screws up the build.

[2017-03-24 16:51] doutriaux1 commented on #154
I'm home, i was still using anaconda3
back in a few

[2017-03-24 17:00] doutriaux1 commented on #154
@danlipsa no luck this is what i get:
[code]

[2017-03-24 17:00] doutriaux1 commented on #154
doutriaux1@lapetitechipie:[conda-recipes]:[master*]:[8828]> xcodebuild -version
Xcode 8.2.1
Build version 8C1002

[2017-03-24 17:01] doutriaux1 commented on #154
changing target to 10.12 rather than 10.11 back in a bit

[2017-03-24 17:04] doutriaux1 commented on #154
nope... same issue....

[2017-03-24 17:06] danlipsa commented on #154
If you do 'which cc' what do you get?

[2017-03-24 17:14] doutriaux1 commented on #154
hum...
/Users/doutriaux1/miniconda/bin/cc

[2017-03-24 17:15] doutriaux1 commented on #154
removed cc from miniconda, trying again. Thanks for the hint

[2017-03-24 17:18] doutriaux1 commented on #154
yes! seems to be going further!! Thanks @danlipsa

[2017-03-24 17:19] danlipsa commented on #154
Glad to help 😄

[2017-03-24 17:31] doutriaux1 commented on #154
great i will finish porting your test to the new test suite

[2017-03-24 17:32] doutriaux1 commented on #154
any progress on circleci seg faults?

[2017-03-24 17:33] doutriaux1 commented on #154
maybe this build will work better it has the new mac tweaks

[2017-03-24 18:55] danlipsa commented on #154
@doutriaux1 No, I could not make the lldb to show me the source code. The same problem happens on a regular mac with the VTK conda libraries - I cannot see the source code.  I'll spend a little more time on it maybe I can figure something out.

[2017-03-27 14:37] danlipsa commented on #130
@doutriaux1 @aashish24 I'll need the build directory for the VTK conda package installed on circle-ci to move forward on this. It's going to be something similar with:
/Users/danlipsa/anaconda/conda-bld/vtk-cdat_1490387663806/work

[2017-03-27 14:53] danlipsa commented on #147
@doutriaux1 Is this still a bug, now that you built the new VTK?

[2017-03-27 15:32] doutriaux1 commented on #130
@danlipsa I will try to find it and share it with you. I'll look into conda recipe to see if I can package it alongside the code.

[2017-03-27 15:40] danlipsa commented on #130
@doutriaux1 Thanks!  'conda build --dirty vtk-cdat -c conda-forge' does not delete the build and the source directory after the build. Only the source dir is needed though.

[2017-03-27 15:46] doutriaux1 commented on #130
@danlipsa i'm just going to build another DEBUG version with today's master, it will be easier. Back in an hour or so.

[2017-03-27 16:01] danlipsa commented on #130
@doutriaux1 Sounds good. Thanks.

[2017-03-27 23:55] durack1 commented on #64
@danlipsa this issue is still a problem with `2.10-rc2` the latest `master`. @doutriaux1 is this solve-able for `v2.10.0`?
Ferret:
![cmip5 mri-cgcm3 rcp60 r0i0p0 fx ocn fx basin ver-v20111215 latestx warn2](https://cloud.githubusercontent.com/assets/3229632/24382878/1410eece-130e-11e7-8fff-60601986f1ff.gif)
CDAT:
![cmip5 mri-cgcm3 1pctco2 r0i0p0 fx ocn fx basin ver-v20110831 latestx](https://cloud

[2017-03-28 15:08] doutriaux1 commented on #64
@durack1 I don't think we addressed this at all in this version.

[2017-03-28 15:18] doutriaux1 opened #155 "Newest VTK breaks some tests"
vtk_ui test do not show lines anymore
opacity seems broken according to @durack1
will add more as we encounter them

[2017-03-28 15:48] danlipsa commented on #155
@doutriaux1 @aashish24 All vtk_ui tests pass on my machine. @doutriaux1 Can you add a diff off a generated image to the issue to compare it with the baseline. Maybe will give us an idea of what is wrong. Can you give us your machine relevant details (OS, OpenGL, ...)

[2017-03-28 15:54] durack1 commented on #64
@doutriaux1 @williams13 there are a bunch of open issues that really would be nice to get sorted before the `v2.10` release, I know you're pushing hard on getting things locked down before the end of this month, but I think a better product is more important than a faster (buggy) product.. Having said that I suppose `v3.0` is around the corner too

[2017-03-28 16:08] danlipsa commented on #147
@doutriaux1 @aashish24 There is still a problem with high res macs. You cannot have odd window dimensions if you open your app in high res (as all python apps are). Hopefully Sean McBride will fix this soon. See
https://gitlab.kitware.com/vtk/vtk/merge_requests/2567#note_237976

[2017-03-28 19:15] doutriaux1 commented on #155
will do. it's with both mac and linux (nox) using a nightly vtk-cdat. 2.8 vtk-cdat passes the tests

[2017-03-28 19:18] danlipsa commented on #155
I see. It is with mesa (nox). How do I install a nox version of cdat? How do I build a nox version of VTK? I assume that overwriting vcs and VTK should be the same. Thanks!

[2017-03-28 19:19] danlipsa commented on #155
My tests pass with the OpenGL hardware driver not with mesa.

[2017-03-28 19:43] #135 closed

[2017-03-28 19:55] durack1 commented on #64
@doutriaux1 @danlipsa some more examples:
Ferret:
![cmip5 access1-0 1pctco2 r0i0p0 fx ocn fx areacello ver-1](https://cloud.githubusercontent.com/assets/3229632/24424520/bed4a25e-13b5-11e7-8c71-df709db2645c.gif)
and CDAT:
![cmip5 access1-0 1pctco2 r0i0p0 fx ocn fx areacello ver-1](https://cloud.githubusercontent.com/assets/3229632/24424532/c4cc86a4-13b5-11e7-94d0-e9340d6a11cb.png)

[2017-03-28 20:19] doutriaux1 commented on #64
@durack1 if you want the `ferret` version plot `data.filled()` it will lose dim information and will plot a straight numpy array just like `ferret`

[2017-03-28 21:05] durack1 commented on #64
@doutriaux1 my point of the examples above was that ferret appears to plot things correctly, so land (for areacello) is missing or zero, and the ocean points  only have values.. For vcs it doesn't do that..

[2017-03-28 22:32] durack1 commented on #155
@danlipsa this should get you there with my opacity issue (#138), if you drop the infile name into the blank space in line 51 (`infile = ''`) then it should just work.. Let me know..
[make_paperplots.py.txt](https://github.com/UV-CDAT/vcs/files/877260/make_paperplots.py.txt)

[2017-03-29 15:33] danlipsa opened #160 "nose testing: you cannot select individual tests (rather than scripts)"
Many tests share the same python script. Certain scripts contain tens of tests. In our current implementation of the nose testing framework you can only select to run individual scripts rather than individual tests.

For instance, in the ctest framework we used to be able to do 'ctest -R streamlines'.
Or, I could do ctest -R 'opacity|transparency' to quickly see if the transparency tests pass.

Yo

[2017-03-29 15:40] doutriaux1 commented on #160
@danlipsa yes you're right.
1- I don't think nose let you select individual tests within a class
2- Some of our tests run a loop (basic_gms) which anyway make it look like one test to unitttest, this is due to limitation currently on the html/image-compare post processing script. It is possible (although borderline hacky) to generate multiple tests within a loop for udunits.

I'm not sure it's wor

[2017-03-29 16:11] doutriaux1 commented on #155
@danlipsa on the mac i get:
[code]
using vcs master and vtk with your sha1

[2017-03-29 20:19] danlipsa commented on #160
@doutriaux1 As suggested by @aashish24 , you can define several tests inside a script using
<pre>
def test...
</pre>
Then you can run only these tests individually. Unfortunatelly you still have to pass the script name:
nosetests -s tests/test_vcs_vectors_robinson.py -m streamline
It would be cool figure out how you can run this kind of search without passing the script name.
See
https://github.co

[2017-03-29 20:41] danlipsa commented on #155
@durack1 I get the following image. Is it right?
![bluemarble_siconc_satellite_view_daytimeview_boxfill](https://cloud.githubusercontent.com/assets/6180727/24475630/7de91164-149e-11e7-9036-fef8a84a3fc0.png)

[2017-03-29 20:43] danlipsa commented on #155
@doutriaux1 I think you need to set   Blue_marble_download = True so that the image is downloaded.

[2017-03-29 22:02] durack1 commented on #155
@danlipsa yep, that's it.. The figure itself needs some work (need better alignment, clean up axis labels, set overlay to be the same size at the canvas etc etc),  but you've reproduced what I have.. In my understanding both panels should show opacity with low/zero values

[2017-03-29 23:19] doutriaux1 commented on #160
@danlipsa I can add the search bit it's easy enough. I'll let you and @aashish24 split the tests ;)

[2017-03-29 23:20] doutriaux1 commented on #155
@danlipsa I thin k what happens here is that the first (top) plot is done right, then when the second plot is executed (bottom) somehow the priorities get messed up during update by VTK and the png gets back on top. Just a wild guess here.

[2017-03-30 14:56] danlipsa commented on #155
@durack1 @doutriaux1 So what is the correct output here? Both images should look like the bottom one?

[2017-03-30 15:08] danlipsa commented on #155
@durack1 @doutriaux1 Or, rather they should like the top, isn't it? @doutriaux1 You may be right, I'll look into that.

[2017-03-30 15:12] doutriaux1 commented on #155
@danlipsa thre bottom one looks better.

[2017-03-30 15:42] danlipsa commented on #155
@durack1 @doutriaux1 In the first image I removed the background png and changed the colors
The white areas are masked.
![bluemarble_siconc_satellite_view_daytimeview_boxfill-nobg](https://cloud.githubusercontent.com/assets/6180727/24512699/4e957214-153d-11e7-8ffe-c8b36e595a09.png)
In the second image I added back the background.
![bluemarble_siconc_satellite_view_daytimeview_boxfill](https://clou

[2017-03-30 15:48] danlipsa commented on #155
@doutriaux1 @durack1 Maybe I am wrong in the second case, maybe you see things through because of transparency. Anyway, the problem seems to be in the first case that the background image ends up on top of the plot. The background image should always be underneath the plot isn't it?

[2017-03-30 16:28] durack1 commented on #155
@danlipsa the image that we're aiming for here is (the `boxfill` version of the `isofill` image below):
![bluemarble_siconc_satellite_view_daytimeview](https://cloud.githubusercontent.com/assets/3229632/22228191/69893110-e184-11e6-946e-f9d5bf517a60.png)
So transparent where there is no data (land, and warm oceans), with the the sea-ice overplotting in the high latitudes..
This functionality would

[2017-03-30 16:47] doutriaux1 commented on #155
@danlipsa layers are supposed to come from template priority. In case of same priority it's supposed to be last one plotted gets on top (there's a mecanism in vcs to emulate this, I think I take priority*100 + number of plot calls on that layer)
BUT yesterday i tried to plot png first then up layer priority of data to 10 (vs default of 1). Still no luck.

[2017-03-30 16:53] durack1 opened #161 "No boundary data error"
This issue appears was originally created in the `cdms` repo and relates to https://github.com/UV-CDAT/cdms/issues/107 and https://github.com/UV-CDAT/cdms/issues/108. It has been recreated here to ensure that it's fixed within the `vcs` side:
[code]
@doutriaux1 @dnadeau4 pinging you here. @danlipsa let me know if you want a demo file

[2017-03-30 20:39] danlipsa opened #162 "add a better way to attach a png to a map plot"
Currently, put_png is used to put a background image on the canvas. A template is used to scale the png image so that it fits the map plot, so the user has to fidget with the scaling option to get it to fit.

Instead, the scaling can be computed vcs so that the png fits the map plot. It can also be extended to be used in map plots that use geographic projections.

Using the new API a user would on

[2017-03-30 20:43] durack1 commented on #162
@danlipsa this would be unreal! I wonder if the png hard code is optional? Could this also work with tif, jpeg etc inputs and overlays?

[2017-03-30 20:53] danlipsa commented on #162
@durack1 The png file format would not be  required. It should work with any image known to VTK.

[2017-03-30 21:06] doutriaux1 commented on #162
@danlipsa I think that would be perfect! How long do you think it would take?

[2017-03-30 21:18] danlipsa commented on #162
@doutriaux1 A rough estimate: a few days to a week to add to one plot and maybe a few more days to extended to other plots.

[2017-03-30 21:19] danlipsa commented on #162
@durack1 I am nor sure what do you have in mind.

[2017-03-30 21:20] doutriaux1 commented on #162
ok, it's neat but I would vote to fix the test suite first on circleci.

[2017-03-30 21:20] doutriaux1 commented on #162
we can always put it in a nightly after the fact for @durack1

[2017-03-30 21:21] danlipsa commented on #162
@doutriaux1 Yes, definitely, we'll do this after the release - And we cannot release unless we have a working test suit.

[2017-03-30 21:23] durack1 commented on #162
@doutriaux1 @danlipsa `nightly` is fine with me... I could even test out a branch if it was available.. With something like this user feedback could be helpful to round out the edges

[2017-03-30 21:24] durack1 commented on #162
@danlipsa, regarding **other** stuff to expose.. I'm naive as to what VTK can do, so maybe I need to browse the VTK example gallery and see what else is possible

[2017-03-31 14:36] doutriaux1 opened #163 "VTK bugs before release"
beside the failed vtk_ui test i now get this one (mac as well):

[code]

test error log:

[code]

[2017-03-31 14:36] doutriaux1 opened #164 "vtk bug before release part 2: Fix test suite in CIs"
seg faults on mac cicrcleci and travis

[2017-03-31 14:38] doutriaux1 opened #165 "VTK issues before release part 3"
vtk_ui do not show lines maybe due to mesalib being 32bit now.

[2017-03-31 14:42] #11 closed

[2017-03-31 14:44] doutriaux1 opened #166 "bugs to look at before release (at least these)"
- [ ] #116
- [ ] #117
- [ ] #147
- [ ] #129
- [ ] #39
- [ ] #13
- [ ] #115
- [ ] https://github.com/UV-CDAT/uvcdat/issues/2040
- [ ] ...

[2017-04-04 15:05] danlipsa commented on #162
@durack1 @aashish24 @doutriaux1 Unfortunately, we are not as good as we should be in showcasing all visualizations we support. So, if you see something you like bring it up and we'll look into it. It is quite possible that we already support it.
Our gallery is focused on 3D and is not comprehensive.
http://www.vtk.org/gallery/

You can also take a look at
http://www.vtk.org/features/
2D Plots and

[2017-04-04 17:20] danlipsa commented on #155
@doutriaux1 @durack1 @aashish24 The "VTK opacity" bug turned out to be a vcs bug. There were two problems:
1. the computation for put_png was incorrect. So, the first png ended up on the second row.
2. the plot that "did not have opacity" ended up with the png on top because the colorbar had higher priority and that increased it layer.
See the following PR:
https://github.com/UV-CDAT/vcs/pull/167

[2017-04-04 17:45] danlipsa commented on #160
@doutriaux1 @aashish24 Another related drawback of the new testing framework: I had to replace several baselines so I had execute the following operations multiple time: run the script, replace a baseline, run the script, replace the next baseline, ...

In the past, a test run generated all failures and then I could run a for to replace all baselines. After the release, we should make our testing

[2017-04-04 18:29] danlipsa commented on #130
@sankhesh The directory where the debug VTK was built is
/Users/doutriaux1/anaconda2/conda-bld/vtk-cdat_1490631453818/work
Higher in the PR there is a link to a stack overflow answer that tells you how to map the sources in lldb.

[2017-04-04 19:40] durack1 commented on #155
@danlipsa great, thanks for sleuthing this.. I'm looking forward to taking a test drive of the PR for #162 when it's available..

[2017-04-04 19:40] doutriaux1 commented on #155
thanks @danlipsa that is great!

[2017-04-04 19:51] doutriaux1 commented on #160
@danlipsa all failures should be left in the directory `test_pngs` but maybe we should add an option to automatically update baselines.

[2017-04-04 20:05] danlipsa commented on #160
@doutriaux1 The problem is that the script stops at the first failure, isn't it? So you cannot generate all baselines and then copy them over.

[2017-04-04 20:10] durack1 commented on #166
@doutriaux1 I have added a bunch more to your list.. I think a bunch of the open `uvcdat` issues may be replicated to the `vcs` repo.. So many of these may be close-able nearly straight away

[2017-04-04 20:53] doutriaux1 commented on #160
@danlipsa I see your point, yres right now you have to update the baselines one at a time as you fix the trest

[2017-04-04 22:14] durack1 commented on #162
@danlipsa thanks for the links.. I just took a peek and there was nothing there that jumped out at me.. Your suggestion of raising a query with an example (or sketch or similar) will be something I'll consider in the future..

[2017-04-05 18:38] danlipsa commented on #155
@doutriaux1 @durack1 @aashish24 I'll close this as we have all tests pass on both @doutriaux1 and my machines. If there are specific issues with certain platforms lets open more specific issues.

[2017-04-05 18:38] #155 closed

[2017-04-05 21:44] danlipsa commented on #70
@chaosphere2112 @durack1 @doutriaux1 This works with vcs SHA f6a88670f89bcbd476c106c6d5695902581ca565 from Apr 5.

[2017-04-05 21:44] #70 closed

[2017-04-05 23:18] durack1 commented on #155
@doutriaux1 will the following get me what I want?
[code]
I'm guessing I also need the latest `vtk-cdat-nox` which isn't the `v2.8` above. [It should be](https://anaconda.org/uvcdat/vtk-cdat-nox/files), but this doesn't appear to be selected
[code]

[2017-04-05 23:23] durack1 commented on #155
@danlipsa do you have the script that generated the [figure above](https://github.com/UV-CDAT/vcs/issues/155#issuecomment-291570655)? it'd be great if you can drop that here so I can start from where you left off..

[2017-04-06 13:41] danlipsa commented on #155
@durack1 Here you are.

[make_paperplots.zip](https://github.com/UV-CDAT/vcs/files/902709/make_paperplots.zip)

[2017-04-06 15:14] danlipsa commented on #160
@doutriaux1 @aashish24 We can use a generator to create several tests in a for loop (inside the same script)
http://stackoverflow.com/questions/13611658/repeated-single-or-multiple-tests-with-nose

@doutriaux1 Do we need to worry about anything else? We might have one of our colleague work on this.

[2017-04-06 15:56] durack1 commented on #155
@danlipsa great, thanks!

[2017-04-06 18:00] doutriaux1 commented on #160
@danlipsa yes I know about this, I even implemented some of it at first. The only issue is really the html generation and parsing all the mangled error messages to make sure many image comparisons are generated, I think we should break it down by one page per script that then splits it into N pages for each script failed, with each landing page being the current image_compare. If someone at Kitwar

[2017-04-06 18:20] zshaheen opened #169 "Allow scriptrun to take in file objects as arguments"
So we can do something like this:
[code]
instead of:
[code]

It's better for performance when creating a bunch of plots in a loop. This is trivial and requires only changing code around line 614 in vcs/utils.py. I'll hopefully do this soon.

[2017-04-06 18:24] danlipsa commented on #130
@doutriaux1 @aashish24 My understanding is that we can run tests on circleci with bg=False. Is that true? In that case I would argue to lower the priority for this bug. I spend some time on it, and @sankhesh did as well. It is a really tricky problem to track down considering that it might be specific to the circleci virtual machine and we were not able to reproduce it yet on a local machine. Unle

[2017-04-06 18:46] doutriaux1 commented on #169
that's a great idea! Thanks!

[2017-04-06 18:48] doutriaux1 commented on #130
@danlipsa bg=False yes it helps on circleci (maybe travis even) BUT then we have the issue that their screen is smaller than 1200x1090 and all tests fail....

[2017-04-06 19:50] durack1 commented on #155
@danlipsa it seems the updated vcs/vtk also plots the continent outlines.. Was this the case in the previous version or is it something that has changed? I'm also curious as to how easy it is to turn that off (continent outlines)

[2017-04-06 19:59] durack1 opened #170 "JSON decoder timestamp error"
It seems that a `json` package update has triggered the following warning, when `vcs` imports this package it seems to require a global attribute or environment variable set that isn't currently set
[code]

[2017-04-06 20:06] danlipsa commented on #130
@doutriaux1 I see. :frowning_face:

[2017-04-06 20:08] sankhesh commented on #130
Dear @doutriaux1,

I did some testing with a simple OpenGL application and using Apple's native framework libraries (**no VTK**) on CircleCI and was able to reproduce the issues. Along with the crash, I came across errors like:
[code]
Basically, the application was unable to open a valid OpenGL context when rendering to an offscreen pixelbufferobject.

Speaking to @aashish24, it seems like circlec

[2017-04-06 20:59] sankhesh commented on #130
@doutriaux1 Have you tried compiling and testing with OSMesa on the Mac?

[2017-04-06 21:15] durack1 commented on #155
@danlipsa I wonder whether there is another bug in `vcs` as the axis labels (y-axis) appear off the png output.. It wasn't obvious to me that the alignment of the subplots on the canvas are being manipulated by the script.. So just querying this..?

[2017-04-06 22:05] danlipsa commented on #160
@doutriaux1 Is this because we expect only one image failure per script? The output does not change as far as I can see, but I think it won't stop at the first failure.

[2017-04-07 13:33] danlipsa commented on #155
@durack1 What do you mean 'continents outlines'?

Indeed, probably there is something related to templates and the area returned by the EZ-template. If I remember correctly, we do not compute to make sure labels fit. We always fit the plot in the specified area and then draw the labels on the outside - this means the labels can be cut.

[2017-04-07 13:35] danlipsa commented on #155
@durack1 Do you mind if you file another bug report for fixing EZ-template. We might want to reconsider how we draw a plot (see my previous post) but this might be difficult as it will break backward compatibility.

[2017-04-07 15:59] danlipsa commented on #160
@doutriaux1 @aashish24 @sankhesh nosetests seems to test the vcs in the source directory rather than the vcs installed in the coda env. Should we worry about that? (I tested this by adding an print in the sources and run the test without installing the sources into conda)

[2017-04-07 17:19] durack1 commented on #155
@danlipsa good call, I'll generate a new issue for the EzTemplate stuff..

[2017-04-07 18:45] danlipsa commented on #163
@doutriaux1 @aashish24 Not a VTK bug:
The problem is that:
/home/danlipsa/anaconda2/envs/nightly-20170407/share/uvcdat/sample_data/BlueMarble.ppm
is missing
so it needs to be added in
Share/test_data_files.txt

I'll let you @doutriaux1 to do this and close this bug when you are done. Thanks! I am not sure how to do this.

[2017-04-07 18:51] danlipsa commented on #164
@doutriaux1 @aashish24 To report on @sankhesh findings: He was able to run an OpenGL example that did not have VTK at all and got the same crash when creating an off-screen OpenGL buffer. So given that the OpenGL hardware support is broken on circleci is nothing we can do from VTK. Sankhesh is now looking into using Mesa on circleci.

[2017-04-07 18:54] danlipsa commented on #165
@doutriaux1 Can you give use more information on this. What platform, is this using nox variant? Thanks.

[2017-04-07 18:59] sankhesh commented on #164
@doutriaux1 See https://github.com/UV-CDAT/vcs/issues/130#issuecomment-292300850 and https://github.com/UV-CDAT/vcs/issues/130#issuecomment-292318368

[2017-04-08 00:27] durack1 opened #171 "EzTemplate defaults allow axes to be "chopped" when writing to file"
@danlipsa @doutriaux1 the current `EzTemplate` defaults do not prevent the axes being written off the canvas, and so when an output file is written we get the below. I also note that the axes, legend etc overwrite one another:

![eztemplate-broken](https://cloud.githubusercontent.com/assets/3229632/24823767/2a654b50-1bb7-11e7-94d2-755d7c3a5809.png)
[code]
It would be good to revise these templates

[2017-04-08 01:14] aashish24 commented on #163
@doutriaux1 @danlipsa I updated the description.

[2017-04-08 01:14] aashish24 commented on #166
@doutriaux1 this is very useful. Are these added priority wise?

[2017-04-08 01:15] aashish24 commented on #116
@doutriaux1 is this still a problem? I thought we fixed the issues for non-vmc, non-remote rendering setup.

[2017-04-08 01:18] aashish24 commented on #117
@durack1 so if this is specific to VNC setup, did we setup virtual GL option? as described by @danlipsa earlier in this thread?

[2017-04-08 01:20] aashish24 commented on #129
@doutriaux1 I think we can close it?

[2017-04-08 02:05] durack1 commented on #117
@aashish24 I haven't tried to configure the `virtualgl` as described [above](https://github.com/UV-CDAT/vcs/issues/117#issuecomment-274510234) by @danlipsa, rather I've moved to the `*-nox` builds and have given up on the interactive use for now.. I'll have to get back to the `virtualgl` configuration to test it out and see if it works.. I note that `RHEL6` comes pre-installed with `tigervnc`, rat

[2017-04-08 14:55] doutriaux1 commented on #129
@aashish24 let's at least add a warning to the user.

[2017-04-10 14:46] doutriaux1 commented on #130
@sankhesh I have a mesa on mac. but when i try to compile vtk against that mesa on mac it fails because of some headers missing. I will try to reproduce the error. It might be the build.sh that needs some tweaks.

[2017-04-10 14:50] doutriaux1 commented on #160
@danlipsa it's due to setuptools. On the cdms2 version of run_test I have an option to run `out of source` once i unified all the tests under one `core` runtests.py we can use this option for vcs as well.

[2017-04-10 14:52] doutriaux1 commented on #160
@danlipsa the post processing step that parses the output of each `.py` file is only setup to look at the last "diff" so we would need to improve it to look for many of them. Also I'm not 100% sure that each individual test within the `.py` wouldn't have their output mangled together.

[2017-04-10 14:53] aashish24 commented on #130
@doutriaux1 @sankhesh @danlipsa we talked to few folks here at Kitware on how they test Graphics rendering on CircleCi or some similar systems and they told us that it should be possible build OSMESA (NOX) on Mac and use that for testing. @sankhesh can you get some hints from Kitware folks and work with @doutriaux1 to get the OSMESA compiling and running successfully on CircleCI?

[2017-04-10 14:55] doutriaux1 commented on #165
@danlipsa I run all the tests using nox yes. Because that's what the Linux server would run as well.

[2017-04-10 14:57] doutriaux1 commented on #130
@aashish24 @sankhesh there is a mesalib on conda. @sankhesh I think our conda recipe to build against mesa must have hardlinks to Linux. Do you mind tsaking a quick look? Thanks!

[2017-04-10 15:05] doutriaux1 commented on #171
@durack1 I don't understand the issue, all that EzTemplate does is rescaling your original template (or the default one if you do not pass one). So if your original template as axes on they will be drawn. What is the issue here?

[2017-04-10 15:06] doutriaux1 commented on #163
@danlipsa nice catch. Will add it today.

[2017-04-10 15:07] doutriaux1 commented on #166
@aashish24 I'm not sure about all the bugs @durack1 added. We should go through them at the telco today.

[2017-04-10 15:14] aashish24 commented on #166
thanks yes that would be great @doutriaux1

[2017-04-10 15:26] doutriaux1 commented on #116
@aashish24 just installed a fresh nightly i get:
[code]

[2017-04-10 15:40] achutarao opened #172 "Request for enhancement: Taylor Diagram pie"
It would be nice to be able to set the range for correlation on the Taylor Diagram so only a wedge or pie of interest is plotted rather than an entire quadrant (The default 0-1 correlation).
This will allow data to be highlighted and save space.

[2017-04-10 15:55] durack1 commented on #171
@doutriaux1 see the axis labels for the y-axis? They are chopped in half and unreadable.. The labeling is also overwriting other elements in the plots - even though these are defaults.. So the colorbar labels and the x-axis for the lower plot

[2017-04-10 15:57] sankhesh commented on #130
@doutriaux1 @aashish24
Here is my first attempt at compiling VTK with the `mesalib` from conda: https://github.com/UV-CDAT/conda-recipes/commits/vtk_mesa_macOS

However, that fails with some errors within mesa:

[code]

Next, I'm going to try to compile mesa myself and let you know how that goes.

[2017-04-10 16:05] doutriaux1 commented on #130
Awesome! Thanks @sankhesh

[2017-04-10 16:06] doutriaux1 commented on #171
I see. Ok that needs tweaking...

[2017-04-10 16:07] doutriaux1 commented on #171
@durack1 in the case of y-axis. Should we attempt to scale down the font until it fits?

[2017-04-10 16:08] doutriaux1 commented on #171
@durack1 I'm not sure what to do about variable_1 etc.. that end up on top of top plot. Should I add an option `turn_off_unfit_objects` if the end up being chopped or on top of others?

[2017-04-10 16:09] durack1 commented on #171
@doutriaux1 with the example above, I think the font sizes are right.. I just think the plot area needs to be made to fit inside the canvas. So I would recommend making the plot areas smaller so that the overlaps no longer occur.. The descriptive info `variable_1` etc should be kept, unless a user specifies these labels are off

[2017-04-10 16:16] danlipsa commented on #171
@doutriaux1 @durack1 If I remember correctly, I think there is a fundamental problem with vcs in that you can specify the area where the plot will be placed and then the labels are placed on the outside, regardless of the fact that they may be cut off.  I think a proper fix would be to place the entire plot including the labels inside the specified area.

[2017-04-10 19:11] durack1 commented on #171
@danlipsa thanks for chiming in, yes I think there is some rethinking to be done with the templates particularly now that many of the other elements are working correctly.. I'm happy to contribute to discussions when this issue gets addressed

[2017-04-11 05:22] sankhesh commented on #130
@doutriaux1

Could you please try installing Mesa + VTK (nox) from UV-CDAT/conda-recipes#6 ?

Make sure you try the `nox` version.

If it installs fine, could you please upload it to the conda channel and kick off a circle ci test bot ?

Please feel free to ping me if you run into issues.

[2017-04-11 21:20] durack1 commented on #170
@doutriaux1 this was the issue that I pointed out yesterday was making it very difficult to work interactively.. It seems the import statement for the `json` library needs an additional `timezone` (or similar) argument to solve this

[2017-04-11 21:25] durack1 commented on #170
@doutriaux1 [this might work](https://github.com/jupyter/jupyter_client/blob/master/jupyter_client/jsonutil.py#L34-L45) as implemented for jupyter:
[code]

[2017-04-12 23:23] zshaheen opened #175 "gettextcombined only gets textcombined object and not the texttable and textorientation separately"
If we have a texttable and textorientation object (both named `diff_min_label`), the following does not work:

`vcs_canvas.gettextcombined(Tt_name_src = 'diff_min_label', To_name_src = 'diff_min_label)`

[2017-04-13 00:12] durack1 commented on #170
@doutriaux1 this is now rendering `vcs` unusable in a console, it just locks the console on some infinite loop or similar:
[code]

[2017-04-13 14:09] doutriaux1 commented on #170
@durack1 on oceanonly? Can you please provide
* json version you're using
* sample script

thx!

[2017-04-13 15:42] durack1 commented on #170
@doutriaux1 it's wrapped up in an import statement somewhere, and is occurring when using the `spyder` IDE - I wasn't able to reproduce this with just ipython..
So the steps are:
1. Create a conda environment with cdat
2. Install spyder into that environment
3. Open spyder
4. Import vcs and the DeprecationWarning should appear

[2017-04-13 15:46] durack1 commented on #86
@doutriaux1 I am hitting a similar problem with `vcs` plots and `x.interact()` preventing me from being able to close the opened canvas.. The only path forward is to kill the active ipython session - this is bad

[2017-04-13 15:57] doutriaux1 commented on #170
ok so it does sound like a spyder issue no?

[2017-04-13 15:57] doutriaux1 commented on #170
i'll take a look

[2017-04-13 15:59] doutriaux1 commented on #86
@durack1 if you have x.interact() you then need to hit `Q` while the windo is active to keep going. Are you doing this?

[2017-04-13 16:00] durack1 commented on #170
@doutriaux1 nope, I tried testing a vanilla `spyder`-only install and it doesn't seem to trigger anything, it's something on our side I think.. Having said that I commented on a similar issue at spyder-ide/spyder#4196

[2017-04-13 16:01] durack1 commented on #86
@doutriaux1 yep, hitting 'Q' returns the focus back to the console, but the canvas becomes unusable..

[2017-04-13 16:03] doutriaux1 commented on #86
let's take a look next week

[2017-04-13 16:16] doutriaux1 commented on #170
i don't see what triggers this though. There's no link to our code anywhere, I can try to pdb it....

[2017-04-13 16:19] doutriaux1 commented on #170
I really think it's a spyder issue, json is part of python
[code]
it's their parsing thing that's broken

[2017-04-13 16:19] doutriaux1 commented on #170
when did it break?

[2017-04-13 16:19] durack1 commented on #170
@doutriaux1 it triggers when `vcs` is imported, but when I tried to step through each of the `init.py` entries I couldn't reproduce the error.. It's confusing

[2017-04-13 16:19] durack1 commented on #170
@doutriaux1 it broke with the recent builds..

[2017-04-13 16:20] doutriaux1 commented on #170
trying with 2.8, the main diff is probably that we refactored all the docstrings

[2017-04-13 16:46] zshaheen commented on #175
@doutriaux1 The solution you talked about, fixing `gettextcombined()` to return a `textcombined` from the `texttable` and `textorientation` might not work.

`scriptrun()` (or `script_save()`, forgot what it was called?) doesn't save a `textcombined`. Instead, it saves it as a `texttable` and `textorientation`. I think `scriptrun()` needs to modified to save a `textcombined`. Otherwise, you're stil

[2017-04-13 16:53] doutriaux1 commented on #175
@zshaheen yes but only once.

[2017-04-13 16:56] zshaheen commented on #175
@doutriaux1 Oh, I get it. So I'm guessing that all of the get functions (`getisofill()`) also create objects as well, but only once. Makes sense.

[2017-04-13 17:49] doutriaux1 commented on #170
@durack1 please try nightlies I just uploaded on conda and let me know. Thx.

[2017-04-13 18:01] doutriaux1 commented on #175
they return the object in the vcs.elements dictionary.

[2017-04-13 18:01] doutriaux1 commented on #175
@zshaheen I'm thinking of a way we could completely remove that vcs.elements while not breaking backward compatibility

[2017-04-13 18:10] zshaheen commented on #175
@doutriaux1 Since you're using the dictionary as a cache, the objects will not be garbage collected b/c the # of references will always be at least one.

You should really use `WeakKeyDictionary` or `WeakValueDictionary` from the builtin [`weakref` module](https://docs.python.org/2/library/weakref.html). This will fix that problem, and hopefully some of the related memory problems.

[2017-04-13 19:02] doutriaux1 commented on #175
unless we define their __del__ and have it run vcs.removeobject

[2017-04-13 20:12] durack1 commented on #170
@doutriaux1 did you chase down the issue? Is there a PR somewhere?

[2017-04-13 21:18] doutriaux1 commented on #170
it's in master and in nightlies please try and report. One of the doc string seemed to have a weird type, but I'm a bit afraid I broke some doc string by fixing it, because it was the only change in a commit titled "fix doc string"

[2017-04-13 21:30] durack1 commented on #170
@doutriaux1 which package? I'll overwrite and start testing this now

[2017-04-13 21:35] danlipsa commented on #116
@doutriaux1 The new mesa (17.0.3) works well on Linux with few failures I addressed in:
https://github.com/UV-CDAT/vcs/pull/176. I'll close this ...

[2017-04-13 21:49] doutriaux1 commented on #170
vcs

[2017-04-13 21:49] doutriaux1 commented on #116
@danlipsa

[2017-04-13 21:52] doutriaux1 commented on #163
@danlipsa can I fix it in your PR?

[2017-04-14 01:17] durack1 commented on #170
@doutriaux1 I don't suppose there is a `-nox` version?

[2017-04-14 01:26] durack1 commented on #170
@doutriaux1 almost...
[code]
And the version info:
[code]

[2017-04-14 13:10] aashish24 commented on #163
@doutriaux1 I think it would be much cleaner if you push a separate PR for it..

[2017-04-14 17:51] durack1 commented on #170
@aashish24 @embrown
[code]

[2017-04-14 19:17] durack1 commented on #170
@doutriaux1 yep, it worked. Commenting out [vcs/Canvas.py#L65](https://github.com/UV-CDAT/vcs/blob/master/vcs/Canvas.py#L65) worked
[code]
So the iPython/jupyter console now looks like:
[code]
So it's just a matter of checking with @aashish24 and @embrown to make sure this tweak doesn't break anything and I am fixed.. And the issue can be closed

[2017-04-14 19:29] durack1 commented on #170
@aashish24 it seems like very bad practice to start changing the default `warnings` behavior in any package.. I am very curious why you included the `warnings` code above (or at least updated it, rather than removing it)

[2017-04-14 20:33] doutriaux1 commented on #170
https://github.com/UV-CDAT/vcs/pull/178 fixes this

[2017-04-14 22:47] durack1 commented on #152
@doutriaux1 @danlipsa I am still getting these with `vcs=2017.4.13.45a557da7342271fffe9e78821b1515568c264dd-0` and `vtk-cdat=7.1.0.2.8-py27_2`:
[code]

[2017-04-15 15:10] embrown commented on #170
@doutriaux1 @durack1  this shouldn't break the docstrings, if it's just a deprecation warning being commented out. I never put any warnings in, so I'm not sure whether this was there before I touched it or put in after.

[2017-04-18 14:04] doutriaux1 commented on #170
@embrown it's vcs/vtk related we have a bug fix (#178) thanks for chiming in though!

[2017-04-18 19:18] durack1 commented on #162
@danlipsa with some considerable trial and error and a lot of help from @doutriaux1 I have managed to get the image that I was imagining:
![170417_pcmdi-amip-1-1-2_siconcandtos-201612](https://cloud.githubusercontent.com/assets/3229632/25148790/016d8b18-2431-11e7-9dca-eb6992f949ab.png)
This required some considerable kludging to get the desired output, but the final product does look clean. I thin

[2017-04-20 19:04] sankhesh commented on #130
@doutriaux1 This is very puzzling. When I compile my own VTK on the CircleCI VM against the OSMesa from miniconda, it renders fine. I was even able to write out a screenshot.

![test](https://cloud.githubusercontent.com/assets/936354/25247939/68bdfd2a-25da-11e7-9389-dd3d34efe56e.png)

One last thing, I'll try is building vtk-cdat using our new conda-recipe on the vm and see if I can reproduce the

[2017-04-20 21:23] durack1 commented on #64
@danlipsa @aashish24 @doutriaux1 @dnadeau4 I have a heap of these data in a couple of `tar.bz2` archives, it would be great to centralize these so that you all have access to the data plotted above that is causing the problems
[code]
Ping me if you want these dropped on a webserver to add to a test suite.. I've also got some of the CMIP6 test grids to play with, and have requested more

[2017-04-20 21:43] durack1 commented on #152
@doutriaux1 @danlipsa this is still an issue in  `vtk-cdat-vtk-cdat-7.1.0.2.8-py27_2` and `vcs-vcs-2017.4.14.bb3046c4e649eac3bade859046d56c12eaf38644-0`:

[code]

[2017-04-20 21:53] durack1 commented on #117
@danlipsa @doutriaux1 bad news.. I just tried to open a python instance and save a png using vglrun, and it didn't work - still got a black png ☹️

The versions: tigervnc 1.7.1 and VirtualGL 2.4

[2017-04-22 00:43] zshaheen commented on #151
@doutriaux1 Follow your suggestion of setting `vtk-cdat-nox>7.1.0.2017.3` everything was fine.

But since a few days ago, things have been messing up for people. Even after you degrade vtk-cdat-nox to a confirmed working nightly, I still get the vtkRenderingOpenGLPython error.

The problem is mesalib. The latest code of something (vtk-nox, vtk-cdat?) uses 17.0.3 instead of 7.6.1. Installing 7.6.1

[2017-04-22 00:48] zshaheen commented on #151
@doutriaux1 Here are the installed packages for both envs btw. Broken one is the left side, working one is on the right side. Again, the different versions of vcs-nox wasn't the problem.
https://www.diffchecker.com/mss4MqSc

[2017-04-24 14:01] danlipsa commented on #162
@durack1 @aashish24 @doutriaux1 Very nice! I think it would be great to get something like this without too much effort.

[2017-04-24 14:32] doutriaux1 commented on #151
@zshaheen you need to add `"mesalib<8"` for now we are upgrading to 17 and conda-forge is already serving it up.

[2017-04-24 17:50] durack1 commented on #117
This is likely relevant to the failure I hit above [found here](http://www.turbovnc.org/About/TigerVNC):
[code]

[2017-04-24 22:48] durack1 commented on #64
@doutriaux1 @danlipsa I really think this should be up on the high priority fix list for the next release, I have just tried to plot the vanilla variable `tos` from a suite of models, and the first four I plotted looked like this:
![cmip5 access1-0 1pctco2 r1i1p1 mo ocn omon tos ver-1](https://cloud.githubusercontent.com/assets/3229632/25361863/6459cd9e-2905-11e7-85dc-81e707a50b81.png)
![cmip5 acc

[2017-04-25 14:49] danlipsa commented on #117
@durack1 @doutriaux1 @aashish24 I run the vcs tests using my tubovnc+virtualgl setup.
Only these tests fail:
	tests/test_vcs_png_window_resize.py
	tests/test_vcs_antialiasing.py
window_resize fails using direct access as well (because of window size), only the antialiasing test fails because of virtualgl.

(nightly-20170424) [~/projects/vcs/src (master $%=)]$ vglrun nosetests -s tests/test_vcs_ant

[2017-04-25 15:56] doutriaux1 commented on #117
@danlipsa and you are not using the nox version? That's great news!

[2017-04-25 16:04] danlipsa commented on #147
@doutriaux1 @aashish24 There seems to be an intrinsic problem with macs and windows with odd sizes (see the last commend on the link on gitlab) @doutriaux1 fixed this by resizing all baselines to even sizes.

[2017-04-25 16:04] #147 closed

[2017-04-25 16:31] danlipsa commented on #117
@doutriaux1 Yes, this is the onscreen version run through turbovnc + virtualgl. Note that on mac I used the mac vnc client (start this with open vnc://servername:5901) but I don't think this matter.

[2017-04-25 16:41] danlipsa opened #180 "add evenly spaced streamlines to vcs"
Comments from @glpotter
Here is an example of the vcs and the grads streamlines. I used a seed of 700 to make it look like the grads. Both are very crowded. The grads fills in the lower values. Grads has a gray continental outline - makes it hard to see where the lines are drawn. In a real application the entire global high not be plotted - maybe only regions.

![vcs_test](https://cloud.githubuser

[2017-04-25 16:51] glpotter commented on #180
There is one region of concern in the VCS plot. In the Southern Hemisphere, about 50 south at 0 longitude the vcs plot is blank but the grads plot shows a maximum velocity. The VCS plot looks like it is masked out (or faded out).

[2017-04-25 16:58] danlipsa commented on #180
@glpotter Try increasing the number of seeds. The empty spots in the vcs plot result from the seed placement I think.

[2017-04-25 17:57] williams13 commented on #180
It would be nice to have the blue marble background with the streamlines. This will help out with identifying the continents and is something that GrADS cannot do.

-Dean

From: Dan Lipsa <notifications@github.com>
Reply-To: UV-CDAT/vcs <reply@reply.github.com>
Date: Tuesday, April 25, 2017 at 9:58 AM
To: UV-CDAT/vcs <vcs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject:

[2017-04-25 18:28] danlipsa commented on #180
@williams13 @aashish24 @doutriaux1 That is possible but it requires work from the user to get the png to fit nicely. It would be better to add an option to vcs to simply add a background png to a map plot and have vcs do all calculations. See the following for the vcs issue:
https://github.com/UV-CDAT/vcs/issues/162

[2017-04-25 18:34] danlipsa opened #181 "lambert azimuthal projection shows wrong / back cells"
See the following baseline

https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_lambert_azimuthal_21.png

[2017-04-25 18:34] doutriaux1 commented on #180
@williams13 @danlipsa yes #162 is definitely on my list for next release. I think that with @danlipsa fixes it might be fairly easy, but definitely post-release.

[2017-04-25 18:37] durack1 commented on #180
@williams13 the ability for `vcs` to deal with various levels of opacity is something that I have never encountered in other packages, and made the figure in https://github.com/UV-CDAT/vcs/issues/162#issuecomment-294951817 possible.. Making the generation of such figures easier for a user would certainly be a strong selling point

[2017-04-25 18:45] williams13 commented on #180
Agreed!

-Dean

From: "Paul J. Durack" <notifications@github.com>
Reply-To: UV-CDAT/vcs <reply@reply.github.com>
Date: Tuesday, April 25, 2017 at 11:37 AM
To: UV-CDAT/vcs <vcs@noreply.github.com>
Cc: Dean Williams <williams13@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [UV-CDAT/vcs] add evenly spaced streamlines to vcs (#180)

@williams13<https://github.com/williams13> the ability

[2017-04-25 18:48] danlipsa commented on #116
@doutriaux1 Did you try any of the solutions in
https://askubuntu.com/questions/654566/steam-doesnt-start-libgl-error
The problem they are seeing seems similar with yours.

[2017-04-25 18:53] durack1 commented on #162
@danlipsa @doutriaux1 @williams13 what would be **really** nice, is the ability to georeference the `png` overlay/input file so that you could rearrange it however you wanted, so for the lower panel above becomes e.g.:
![170420_pcmdi-amip-1-1-2_siconcandtos-201612_completepacific](https://cloud.githubusercontent.com/assets/3229632/25402463/9fcf3460-29ad-11e7-90d7-b9ed15f26c17.png)
This would also

[2017-04-25 20:04] danlipsa commented on #162
@durack1 Yes, definitely this is how we'll do it. I think there are images that are already geo-referenced. @aashish24 would know more about this.

[2017-04-26 22:09] durack1 commented on #86
@doutriaux1 this was the issue we were discussing, however, it's `vcs` not `dv3d` that is having the issue, I have renamed the issue to reflect this

[2017-04-27 07:01] jypeter opened #182 "vector_gm.datawc(-90, 90, -180, 360) does NOT work (2.8.0)"
vector_gm.datawc(-90, 90, -180, 360) gives me an error, but it seems to work with boxfill. I have also used it successfully with isofill

[code]

[2017-04-27 07:15] jypeter opened #183 "setcolorcell does not work when no colormap is selected (2.8.0)"
I have some (old) scripts where I change by hand all the colormap entries I know I will need, and therefore don't set a colormap. This used to work fine with older versions of vcs, but it is broken now.

If you don't want the user to change the default colormap (but in the case below, it seems my default colormap is _viridis_ and not _default_), then you should trap this error and show an error me

[2017-04-27 08:17] jypeter commented on #171
This is just a related comment. **How is a user supposed to find documentation about EzTemplate** from the web site?

There is nothing about it on the site from Documentation or Documentation/Tutorials. And in Gallery/Template, there is only an example (a good one) about changing the templates by hand. Knowing about _EzTemplate_, I have googled "EzTemplate cdat" and found https://github.com/UV-CDA

[2017-04-27 09:16] jypeter opened #184 "GetMaxNorm error when available vector data area is 'smaller' than vector graphics method?"
@doutriaux1 I get an error when plotting vectors and  `datawc_x2-datawc_x1`  is bigger than the longitude range of the variable I'm plotting. Maybe this is just due to the fact that I'm trying to make a plot of an area that is 360+180 degrees large

I know, I test weird stuff :(

## The error

[code]
## The script

[code]

[2017-04-27 12:02] jypeter opened #185 "vector type does not work? (2.8.0)"
@doutriaux1 I have used the following script to display (bg=0) and save to png (bg=1 to avoid black png...), and **the type parameter does not seem to change anything**!

The quality of the png output is also _a bit disappointing_ (to be polite), but I will try to open another issue about it

## Script
[code]
## Resulting output and plots
[code]
![vect_arrows](https://cloud.githubusercontent.com/a

[2017-04-27 12:04] jypeter opened #186 "Update the docstring for vector method (2.8.0)"
The docstring of the vectors is out of date

- the **scaletype** and **scalerange** parameters are not described in the docstring and I wonder what they do, or how they interact with **scale** and **reference**
[code]
- the values specified for _type_ in docstring are not allowed (or maybe the docstring is ambiguous?). I have not checked the other parameters. Besides, changing the value of type do

[2017-04-27 12:36] jypeter opened #187 "The quality of the png output of vector plots is 'disappointing' (2.8.0)"
@doutriaux1 Maybe this has already been improved in the latest version...

I have generated pdf and png output, using the script in #185, and I hope you can **improve the png rendering**! The image below is a screendump of the pdf (displayed with Acrobat Pro) and the png (displayed with XnView), put side by side. png (on the right) is displayed at 100% and I have resized the pdf (on the left) to g

[2017-04-27 12:40] jypeter commented on #133
For the record, I have already spent a full frustrating day trying to make a nice vector plot with 2.8.0: #187

Maybe I should have put my rambling in this thread

[2017-04-27 15:05] doutriaux1 commented on #186
this might be fixed already. Did you test nightly?

[2017-04-27 17:11] durack1 commented on #117
@doutriaux1 although I am not using `TurboVNC` this example provides a test case with the `RHEL6.9` standard library `tigervnc`, and I thought it worth documenting..
[code]
Yields:
![merde](https://cloud.githubusercontent.com/assets/3229632/25495101/e4903a2a-2b30-11e7-910b-1432f31d8dfd.png)

For completeness I am using:
vglrun `(VirtualGL Client 64-bit v2.4 (Build 20150505))`
tigervnc
[code]

[2017-04-27 17:54] durack1 commented on #187
@jypeter thanks for continuing to generate these issues.. I have been using some of the nightly builds and many of my standing issues have been resolved.. Hopefully when the  `v2.10` lands soon you will also get access to the latest code base that @doutriaux1 @danlipsa and folks have been working on..

[2017-04-28 10:40] jypeter commented on #186
No, I have just tried it in 2.8.0

I only install stable versions :)

[2017-05-01 14:48] danlipsa commented on #160
@dorukozturk As we discussed, in this branch I created several tests per script for two scripts.
https://github.com/UV-CDAT/vcs/tree/many-tests-per-script
With this branch we should be able to
- run individual tests rather than whole scripts for both the static and dynamically generated tests.
- be able to run tests using patter matching like in ctest.

[2017-05-01 15:02] danlipsa commented on #160
@doutriaux1 If we write the script to submit tests results to cdash do we still need to make the html generation work for running individual tests rather than running whole scripts and stopping at the first error.

[2017-05-01 17:26] doutriaux1 commented on #160
@danlipsa i guess if we can tell cdash to dump the output to a local file so we casn run this offline.

[2017-05-02 20:03] danlipsa commented on #160
@doutriaux1 Why would you want to run this off-line if it is available online and it is also stored for later?

[2017-05-02 21:35] doutriaux1 commented on #160
plane, beach, etc...

[2017-05-02 21:36] doutriaux1 commented on #160
or if the lab suddenly decides to block the server where the data are uploaded

[2017-05-02 21:42] durack1 commented on #160
@doutriaux1 FYI last week raw.githubusercontent.com was blocked, it was unblocked this morning, but caused some grief for @dnadeau4 and myself on Friday and the weekend

[2017-05-03 14:08] danlipsa commented on #160
@doutriaux1 I never used the slider feature to be honest. I always did:
<pre>
for i in `ls *.png | grep -v diff`; do eog $i ../uvcdat-testdata/baselines/vcs/$i; done
</pre>
You can switch between baseline and new image using arrows,  Alt-F4 moves to the next set of differences. You replace eog with cp to copy them to the baselines.

[2017-05-03 15:18] doutriaux1 commented on #160
tha ks @danlipsa that's useful. I'll ad it to my bashrc. The slider is actually very useful too. It's nice to have both.

[2017-05-03 18:09] durack1 commented on #86
@doutriaux1 @danlipsa @aashish24 just fyi, this bug is preventing me from using `vcs` in interactive data discovery.. Which is really unfortunate, as I would prefer to use it.. `Matplotlib` on the other hand can successfully open and close interactive plotting windows, so I'm forced to use that instead

[2017-05-04 15:45] #103 closed

[2017-05-04 16:36] danlipsa commented on #86
@durack1 Can you provide us the steps to reproduce the problem. I tried what Sam wrote but I cannot reproduce the problem.

[2017-05-05 09:16] jypeter commented on #117
btw, I'm also getting black png (but OK pdf) when running 2.8.0 on a remote server (you know, close to the data) in my old Fedora Core running in a VB.

I get a normal png if I use x.plot(..., bg=1), but that's not compatible with interactive/exploratory work

If this does not work out of the box, all the 'tricks' and 'nox' stuff should be correctly explained on an easy-to-find web page

We had a

[2017-05-05 14:10] danlipsa commented on #117
@jypeter Did you try turbovnc + virtualgl instructions earlier in this post. That setup works well on my ubuntu 16.04.

[2017-05-06 04:04] sankhesh opened #190 "[Isoline] Difference in old VCS using Cairo and latest using VTK"
The issue was first reported in https://github.com/UV-CDAT/uvcdat-testdata/pull/169#issuecomment-298678676 and https://github.com/UV-CDAT/uvcdat-testdata/pull/169#issuecomment-298678976

Old vcs | Latest vcs
:-------:|:----------:
![old vcs](https://cloud.githubusercontent.com/assets/2781425/25626762/66c96de4-2f15-11e7-8977-e99d9a1d9293.png) | ![new vcs](https://cloud.githubusercontent.com/assets/

[2017-05-06 04:12] sankhesh commented on #190
Continuing from https://github.com/UV-CDAT/uvcdat-testdata/pull/169#issuecomment-299604315

@aashish24 Please see below, new images generated with `geometry=[1200, 1200]` and `antialiasing=8`.

linewidth = 0.5 | line width = 1.0
:--------------:|:---------------:
![isoline_width_0 5](https://cloud.githubusercontent.com/assets/936354/25769775/86af523a-31f0-11e7-95fd-c31ad4bcf48a.png) | ![isoline_wi

[2017-05-06 04:59] doutriaux1 commented on #190
@sankhesh just tested this against 2.10 on a mac. (no nox) here's my code
[code]
Plot looks great on screen, now when i do the png, I see another very small window pop up and render image which looks horrible and would explain the poor png

[2017-05-06 05:01] doutriaux1 commented on #190
Now doing
[code]
leads to a better quality png indeed, but I still see a window popup. png shouldn't do that. it's supposed to use the current window size and create an offscreen window.

[2017-05-08 14:50] aashish24 commented on #190
that is strange that there is a window popup. @sankhesh do you get a window to pop up as well? Why would it open another window just to save PNG is puzzling to me unless something is not set correctly.

[2017-05-08 15:02] sankhesh commented on #190
I haven't tried the latest nox edition. I'll try it today and report back.

[2017-05-08 15:14] doutriaux1 commented on #190
@sankhesh this is regular not nox

[2017-05-08 16:11] sankhesh commented on #190
Oh I see. :face_with_thermometer:
I **don't** see a window popup when I run the script with a regular build.

[2017-05-08 16:53] danlipsa commented on #190
@doutriaux1 @sankhesh Maybe this has to do with the fact that png needs to resize a smaller window on the screen into bigger dimensions to save to the png.

[2017-05-08 16:56] doutriaux1 commented on #190
@danlipsa I doubt it because I have a window already opened on my screen so the png by defaulty should be of the same size.

[2017-05-08 16:57] doutriaux1 commented on #190
@sankhesh @danlipsa if you have a mac please try to install 2.10 as follow
[code]

Let me know.

[2017-05-08 16:57] doutriaux1 commented on #190
can you also try on Linux and let me know.

[2017-05-08 17:09] danlipsa commented on #190
@doutriaux1 I get this on mac:
<pre>
(2.10) brasov:~ danlipsa$ python
Python 2.7.13 |Continuum Analytics, Inc.| (default, Dec 20 2016, 23:05:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.or

[2017-05-08 17:23] doutriaux1 commented on #190
what do you have for:
[code]

[2017-05-08 17:36] danlipsa commented on #190
<pre>
(2.10) brasov:~ danlipsa$ ls -l /Users/danlipsa/anaconda/envs/2.10/lib/libnet*
-rwxr-xr-x  2 danlipsa  staff  1752380 Jul 20  2016 /Users/danlipsa/anaconda/envs/2.10/lib/libnetcdf.11.dylib
-rw-r--r--  2 danlipsa  staff  2208448 Jul 20  2016 /Users/danlipsa/anaconda/envs/2.10/lib/libnetcdf.a
lrwxr-xr-x  1 danlipsa  staff       18 May  8 13:01 /Users/danlipsa/anaconda/envs/2.10/lib/libnetcdf.d

[2017-05-08 17:44] doutriaux1 commented on #190
so.... why can't it find it?

[2017-05-08 17:45] doutriaux1 commented on #190
what's in your root env?
[code]

[2017-05-08 18:22] danlipsa commented on #190
@doutriaux1 The problem was in the typo for the installation command you gave us 😄  (which I copy paste) It used ocnda-forge instead of conda-forge.
Indeed, I get the same behavior you saw - the window is resized to be small and then it gets big again. My guess this is related to those pesky bgX bgY vcs settings. We should get rid of them once for all.

[2017-05-08 18:24] doutriaux1 commented on #190
agreed

[2017-05-08 18:25] dnadeau4 commented on #190
You probably got libnetcdf from `uvcdat` channel.   the HDF4 library does not link well (libmfhdf) with it.

[2017-05-08 18:25] doutriaux1 commented on #190
@dnadeau4 it was a typo

[2017-05-08 18:48] danlipsa commented on #190
@sankhesh Are you going to look at this, or should I? Probably we should not release without this fix, isn't it @doutriaux1 ?

[2017-05-08 19:09] doutriaux1 commented on #190
well... It's annoying but you can still save at the resolution you need and I think it's mac only...

[2017-05-08 19:10] danlipsa commented on #190
@doutriaux1 sounds good. Indeed, I think it is affecting only the default resolution, mac only.

[2017-05-08 20:19] danlipsa commented on #190
@doutriaux1 There is a similar resizing going on on linux as well.

[2017-05-08 20:39] doutriaux1 commented on #190
doh... Is it a vtk issue then? Isnt' png creating an `offscreen` window?

[2017-05-08 20:46] danlipsa commented on #190
@doutriaux1 I don't think so. I think the problem is that the window size is set based on the screen size but bgX and bgY still have the default values 800 x 600. png uses bgX and bgY rather than the window size, so it resizes the window to 800 x 600 saves the png and then resizes back to the old values.

[2017-05-08 20:49] danlipsa commented on #190
@doutriaux1 I can look at this tomorrow if @sankhesh or @aashish24 are not already looking at it. Today I worked from home so I did not sync up with them.

[2017-05-08 21:10] doutriaux1 commented on #190
@danlipsa but do you see the popup as well on Linux? Because that is likely a vtk issue.

[2017-05-08 21:32] danlipsa commented on #190
@doutriaux1 I don't really see a pop up on either platform. I see what I think is the resize on both platforms - but it happens very quickly so its not that clear.

[2017-05-08 21:39] doutriaux1 commented on #190
on my mac mymain window stays up and a small one pops-up and disappear.

[2017-05-09 02:43] sankhesh commented on #190
@doutriaux1 I don't see any popup either. The main window remains open until the script runs and writes out the PNG file. It exits normally too.

[2017-05-09 14:00] aashish24 commented on #190
@sankhesh @doutriaux1 @danlipsa is it possible that VCS png writer creates a new window? Can we look at that code? I do not think VTK does not do that automatically. I have several examples of pure VTK code that I tried yesterday and didnot see any window.

[2017-05-09 14:04] danlipsa commented on #190
@aashish24 @sankhesh I'll take a look at this. My guess is that this has to do with bgX bgY being different than the window size.

[2017-05-10 01:13] durack1 commented on #86
@danlipsa I haven't checked this in a v2.10 ipython console, but this is what didn't work for me last time:
[code]

[2017-05-10 13:30] danlipsa commented on #86
@durack1 @doutriaux1 With 2.10 I get
<pre>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/danlipsa/anaconda/envs/2.10/lib/python2.7/site-packages/vcs/Canvas.py", line 1385, in meshfill
    arglist = _determine_arg_list('meshfill', args)
  File "/Users/danlipsa/anaconda/envs/2.10/lib/python2.7/site-packages/vcs/Canvas.py", line 264, in _determine_arg_list

[2017-05-10 14:46] #190 closed

[2017-05-11 00:42] durack1 commented on #86
@danlipsa try this:
[code]
And the file:
[siconc_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn_187001.zip](https://github.com/UV-CDAT/vcs/files/991561/siconc_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn_187001.zip)

[2017-05-11 01:38] durack1 commented on #86
@doutriaux1 is `cdat_info.version() - > ['', '2.8.10']` right? I thought the latest release should be `v2.10.0` instead..?

[2017-05-11 04:24] aashish24 commented on #190
@doutriaux1 can you verify if your plot (PNG's) also have anti-aliasing applied to it?

[2017-05-11 13:07] doutriaux1 commented on #86
@durack1 nice catch I'll patch this, right away.

[2017-05-11 13:20] doutriaux1 opened #192 "vcs window do not disappear"
At least on mac

[code]

Leaves unaccessible window opened, as shown in png bellow:
<img width="1104" alt="duplicate" src="https://cloud.githubusercontent.com/assets/2781425/25951228/e896edb2-3611-11e7-928a-d81007e8b94e.png">

[2017-05-11 13:54] danlipsa commented on #192
@doutriaux1 This should have two windows because you called init twice and never close, isn't it?

[2017-05-11 14:03] doutriaux1 commented on #192
@danlipsa no because I have the `x=vcs.init()` twice, so essentially the *first* `x` object is gone.
And indeed I can't access that window anymore.
Actually the follwoing is an even better example
[code]

window hangs but is not reachable.

[2017-05-11 14:05] doutriaux1 commented on #192
i think we need to implement the `__del__` function correctly. It's probably related to the `soft-links` issue that @dlonie pointed out a long time ago.

[2017-05-11 15:29] durack1 commented on #192
@doutriaux1 @danlipsa I believe this issue is almost a dupe of #86 the behaviours that @doutriaux1 is explaining is eerily similar

[2017-05-15 19:25] danlipsa commented on #180
@glpotter @doutriaux1 @aashish24 @durack1 Talking about good looking streamlines: Here is an image generated with 'line integral convolution' algorithm. This is already available in ParaView so it would be easier to add it to vcs. Note this is generated as an image, so we won't be able to generate this as vector graphics.
Is this something that would be usefull?

![lic](https://cloud.githubusercon

[2017-05-15 20:01] danlipsa commented on #180
@glpotter @doutriaux1 @aashish24 @durack1 @williams13 Here is a nice particle animation for clt.nc, also done with ParaView also image based:
https://youtu.be/6O-4_ui6hAs

[2017-05-15 20:05] doutriaux1 commented on #180
@danlipsa I like it a lot, but we know they will ask for vector graphics... What happen when you use this and save a pdf or svg? it embeds the bitmap?

[2017-05-15 20:40] danlipsa commented on #180
The particle animation was designed to be a way you show your data (a representation in ParaView terminology) so I doubt it will let you save the geometry. Saving this in PDF I could only save the first step which has only the seeds so I could not tell if its vector or image. LIC is an image by design.

[2017-05-17 20:37] zshaheen opened #193 "texttable and textorientation of vcs.template.legend are strings"
Why is this so? Shouldn't they be actual text orientation and text table objects?

[code]

[2017-05-17 20:44] doutriaux1 commented on #193
all these point to the name of the object. Feel free to submit a PR.

[2017-05-17 20:46] zshaheen commented on #193
Okay, that's great. Probably don't need to make any changes.

[2017-05-17 20:46] #193 closed

[2017-05-30 20:06] danlipsa commented on #180
@glpotter @doutriaux1 @aashish24 @williams13 Here is a screenshot for the newly developed evenly spaced streamlines in ParaView. Seems grads is doing something different - maybe discovers critical points and seeds based on that. The algorithm implemented seems similar with what matplotlib is doing
https://matplotlib.org/examples/images_contours_and_fields/streamplot_demo_features.html

![evenly-sp

[2017-05-30 20:50] glpotter commented on #180
This looks good to me. What is the little legend on the lower left side? Can we try it?

[2017-05-30 21:29] danlipsa commented on #180
@glpotter This is called the 'Orientation Axes' in ParaView. It is useful for 3D data. When the user rotates the data the Orientation Axes are rotated as well, so the user understands the viewing direction. For 2D data it cannot serve the same purpose. What would you like to use it for?

[2017-05-30 21:45] danlipsa commented on #180
Note that we don't detect loops - so one streamlines can get crowded if it has loops. If we want we can get add the loop detection described in:
https://pdfs.semanticscholar.org/3962/b23fce9beba0589ff3fb4b3385408f9b9a6e.pdf

[2017-05-30 22:40] glpotter commented on #180
@danlipsa I think you should add the loop detection. Grads and Matplotlib both seem to have it

[2017-05-31 01:47] williams13 commented on #180
This looks really good to me. It makes me wonder if we can produce a 3D streamline similar to ParaView, then the legend in the lower left would be warranted.

Best regards,
                Dean

From: Jerry Potter <notifications@github.com>
Reply-To: UV-CDAT/vcs <reply@reply.github.com>
Date: Tuesday, May 30, 2017 at 3:40 PM
To: UV-CDAT/vcs <vcs@noreply.github.com>
Cc: Dean Williams <williams13@ll

[2017-05-31 15:31] danlipsa commented on #180
@glpotter Sounds good. I'll work on adding loop detection so that we eliminate the cluttering caused by loops. @williams13 Not sure if vcs3D can produce streamlines but we can certainly add that if we need to.

[2017-06-01 19:21] doutriaux1 commented on #143
test download splitted now

[2017-06-01 19:21] #143 closed

[2017-06-01 21:20] danlipsa commented on #180
@glpotter Do you have the code and data used to produce the grads streamlines? We'd like to investigate what are they are doing and maybe provide an option to do something similar in vcs. Thanks!

[2017-06-02 15:12] doutriaux1 commented on #180
@danlipsa see: http://cola.gmu.edu/grads/downloads.php

[2017-06-02 20:14] danlipsa commented on #180
@glpotter @doutriaux1 @aashish24 @williams13 Here is the same picture as before but with no loops.
![evenly-spaced-streamlines-no-loops](https://cloud.githubusercontent.com/assets/6180727/26743107/9a775a14-47ae-11e7-907d-92df7e858783.png)

[2017-06-02 21:09] doutriaux1 commented on #180
@danlipsa that looks really good!

[2017-06-03 10:48] aashish24 commented on #180
this looks really cool @danlipsa @doutriaux1 Can you post another picture with white background and perhaps a lighter color map?

[2017-06-05 17:29] aashish24 opened #195 "1D plots are taking longer than expected"
the context here is diagnostics which is taking 3 times longer than other comparable codes.

@danlipsa @doutriaux1 @danlipsa

[2017-06-05 18:52] danlipsa commented on #195
Script from @doutriaux1
I’m running a simple script and the time does increase.

import vcs

n = 500

import time
x=vcs.init(bg=True)

for i in range(n):
    print i
    start = time.time()
    gm = vcs.create1d()
    x.plot([1,2,3,4,5,4,3,2,1],gm)
    x.png("crap")
    end = time.time()
    print "Time:", end-start
    x.clear()
    x.removeobject(gm)

I will fix look into this.

0
Time: 0.948871

[2017-06-05 19:01] durack1 commented on #195
@danlipsa @doutriaux1 this looks eerily like UV-CDAT/uvcdat#1424 #83, UV-CDAT/uvcdat#2040, UV-CDAT/uvcdat#2135

[2017-06-05 19:06] danlipsa commented on #195
@durack1 Indeed. I was just looking for that issue to reference it here. :smile:

[2017-06-05 19:19] durack1 commented on #195
@danlipsa once the problem that is underlying all these is rectified I think you'll be able to close 10+ open issues across the different repos.. I know that @chaosphere2112 had started some work to address these quite sometime ago, not sure if there is a branch somewhere that could be revisited?

[2017-06-05 19:21] doutriaux1 commented on #195
@danlipsa @durack1 it does not seem like we have new vcs objects created though as the following updated script shows:

[code]

output:

[code]

[2017-06-05 19:22] doutriaux1 commented on #195
I suspect that somehow the objects stay in memory, @danlipsa could there be vtk objects left somewhere?

[2017-06-05 19:24] doutriaux1 commented on #195
interestingly enough, the following keeps the speed constant, ther only diff is that we create a new canvas object each and everytime! @zshaheen you might want to try this in the mean time

[code]

[2017-06-05 21:12] danlipsa commented on #195
@doutriaux1 VTK objects stay in memory (as they should) if there are python objects referring to them. My concern is that we should determine the cause for the slowdown the rather then working on the first problem we find. Can you run your script a couple of hundred times to see how much slower plot gets? We start with one plot a second. How long does a plot take after 500 iterations?

[2017-06-05 21:15] doutriaux1 commented on #195
@danlipsa but doing a `x=vcs.init()` inside the loop removes the issue, so the x.clear() obviously leaves some references to something in there.

[2017-06-05 21:22] doutriaux1 commented on #195
@danlipsa in there: https://github.com/UV-CDAT/vcs/blob/master/vcs/VTKPlots.py#L330-L360 are we removing all vtk objects?

[2017-06-06 16:51] doutriaux1 commented on #195
@danlipsa 500 iteration:

[code]

[2017-06-06 17:10] danlipsa commented on #195
@doutriaux1 That's bad! We should track this down and fix it.

[2017-06-06 17:13] danlipsa commented on #195
@doutriaux1 Hopefully today I'll finish a different project I've been involved in since yesterday. I'll finish up the streamlines and then I can look at this probably toward the end of the week.

[2017-06-08 15:05] danlipsa commented on #180
@aashish24 What is wrong with my color palette? :smile:
The problem with the white background, which I realized while generating the included image is that most color palettes have some white/gray in them which is not visible on white background. Of course, paper is white, so we'll need pallets that work well on white. The best I found is the infamous rainbow. Note there is another important diffe

[2017-06-08 15:25] doutriaux1 commented on #180
@danlipsa our default palete is `viridis`

[2017-06-08 15:33] danlipsa commented on #180
@doutriaux1 Oh, yes, that is at the very end in ParaView:
![evenly-spaced-streamlines](https://user-images.githubusercontent.com/6180727/26937064-5bf9bc98-4c3e-11e7-91d1-8b50a1c2d6c3.png)

[2017-06-09 19:18] aashish24 commented on #117
@sankhesh can we put these instructions on wiki somewhere? @doutriaux1 @williams13 what would be a good location now to put instructions? ReadTheDocs or Wiki or Website.

[2017-06-09 19:20] doutriaux1 commented on #117
@sankhesh `wiki` is best for now. What we really need as well is a script that the user can run. Maybe we can even integrate the script as part of the conda `activate` step. @doutriaux1 can take care of this once the script is ready.

[2017-06-12 15:08] doutriaux1 opened #196 "plot makes vcs die"
The following dies in the plot function I suspect the contour level thing (from killing the job manually)

[code]
output (takes a very long time)

[code]

[files.zip](https://github.com/UV-CDAT/vcs/files/1068609/files.zip)

[2017-06-12 16:13] danlipsa commented on #195
@doutriaux1 When I run your latest script on my machine, I get the the slowdown of about 20% after 400 iterations.
I start with 0.246 at iteration 0 and end with 0.265 at iteration 400. Note this is through turbovnc + virtual gl so direct times are probably better.

Do you guys use mesa?

[2017-06-12 16:18] doutriaux1 commented on #195
@danlipsa yes I'm using mesa.

[2017-06-12 16:59] danlipsa commented on #195
@doutriaux1 @aashish24 @williams13 Indeed, with nox, I see times comparable with yours.

A side note - An 'easy' way to beat matplotlib at rendering spead is to switch to a hardware accelerated driver. We'll get a factor of 4 increase in plotting speed for free - maybe more for more complex plots.

[2017-06-12 18:33] durack1 commented on #195
@danlipsa I'd also add that with the speed increase comes the maintenance headache of maintaining driver-reliant code.. So "it works everywhere" may just not be the case

[2017-06-12 21:07] #196 closed

[2017-06-13 15:27] #195 closed

[2017-06-13 18:01] #85 closed

[2017-06-14 19:48] sankhesh commented on #117
@doutriaux1 @aashish24

I added instructions for VirtualGL + TurboVNC setup to the wiki:

[Remote server setup for VNC](https://github.com/UV-CDAT/uvcdat/wiki/Remote-server-setup-for-VNC)

Also, added a link to the [Home page](https://github.com/UV-CDAT/uvcdat/wiki#documentation-and-tutorials).

[2017-06-14 19:53] danlipsa commented on #117
@sankhesh Did you run through the instructions? Does it work for you?

[2017-06-14 20:09] danlipsa commented on #117
@sankhesh just stopped by and confirmed that indeed the VirtualGL+ TurboVNC works for him as well.

[2017-06-14 20:10] doutriaux1 commented on #117
Great I'll try it now.

[2017-06-14 20:14] sankhesh commented on #117
I'm going to try this with mesa tomorrow to see if that works too.

@doutriaux1 I can write a script that starts the vncserver and changes to the right DISPLAY automatically and runs the script with vglrun but VirtualGL and TurboVNC would have to be setup before that can work.

[2017-06-14 20:15] doutriaux1 commented on #117
@sankhesh I think that would be awesome.

[2017-06-15 15:09] danlipsa commented on #85
@doutriaux1 I just experienced your 'best match attribute' feature. Very nice indeed!

[2017-06-16 14:23] sankhesh commented on #117
I was able to setup VirtualGL and TurboVNC on a vagrant Ubuntu 16.04 box with mesa following the instructions on the wiki page.

@doutriaux1 Were you able to set it up?

[2017-06-19 15:17] doutriaux1 commented on #117
@sankhesh trying on crunchy now

the follwing does not exists on RH6:
[code]

[2017-06-19 15:18] doutriaux1 commented on #117
I get this:
[code]

[2017-06-19 15:26] sankhesh commented on #117
@doutriaux1 It could be a permissions issue when trying to install VirtualGL. Do you have full permissions in `/opt/` ? Ref: https://sourceforge.net/p/virtualgl/discussion/401860/thread/6f2e2505/

I am not sure why you have `/usr/bin/vglserver_config`. Could it be from a previous installation? The default  install location for VirtualGL is in `/opt`. See https://cdn.rawgit.com/VirtualGL/virtualgl/

[2017-06-19 15:39] doutriaux1 commented on #117
@sankhesh I sudoed it. Anyhow I'm trying now now with vgl 2.4 which my yum was able to find and install. More soon

[2017-06-19 19:17] doutriaux1 commented on #117
@sankhesh I get the server up and running
theres is no glxgears in the bin directory
but the turboserver starts but runnnig vglrun leads to this:
[code]

[2017-06-19 19:18] doutriaux1 commented on #117
Also the follwing hangs and never renders anything

[code]

[2017-06-19 19:20] doutriaux1 commented on #117
@sankhesh do I need to connect to `crunchy` via ssh or via another vnc client the instructions are not clear about this.

[2017-06-19 19:27] sankhesh commented on #117
I don't think it matters how you're connected to the server. As long as you have a VNC server session running, you should have a valid X environment.

[2017-06-19 19:29] sankhesh commented on #117
I think it might be rendering something in the VNC display. Try connecting via VNC to see if you see the xeyes window.

[2017-06-19 19:30] sankhesh commented on #117
I'm not sure why the `DISPLAY` environment variable is not supplied to python. Perhaps try setting it within python using `os.environ`

[2017-06-19 19:41] doutriaux1 commented on #117
@sankhesh it's a total failure on crunchy. Please try.
Instructions might need update. Here's what I did.
* started vglserver on crunchy
* download turnbvnc client on mac
* connect to crunchy from mac via trubovnc
* if I run `vglrun python` I get the bad display :0 error
* If I run the regular `python` it seg fault on opening of display...

Please try from crunchy

@danlipsa can you please try on

[2017-06-19 19:44] doutriaux1 commented on #117
@sankhesh whilerunning `vglrun python` the `os.environ["DISPLAY"]` return correctly crunchy:3.
But I do get bad display error...

[2017-06-19 19:46] doutriaux1 commented on #117
Also tried via regular ssh to crunchy

[2017-06-19 20:17] sankhesh commented on #117
@doutriaux1 I think your setup should work. Try connecting via a VNC client and run `xeyes` to see if a window shows up.

[2017-06-20 12:51] doutriaux1 commented on #117
@sankhesh both
`vglrun xeyes`
and
`xeyes`

work fine in my turbovnc client

but

[code]

[2017-06-20 12:56] danlipsa commented on #117
@doutriaux1 I get the same message if I run vglrun from an ssh connected to your server. You are suppose to run vglrun only from turbovnc connected to your server.

[2017-06-20 12:57] danlipsa commented on #117
@doutriaux1 This is my message:
<pre>
~]$ vglrun glxgears
[VGL] NOTICE: Automatically setting the DISPLAY environment variable to
[VGL]    10.9.0.8:0.0, based on the IP address of your SSH client.
Error: couldn't open display 10.9.0.8:0.0
[~]$
</pre>

[2017-06-20 13:54] sankhesh commented on #117
Awesome 👍 👏
It means you have the setup working.

Could you please share the output of the following two commands (when connected via TurboVNC client):

[code]

and

[code]

[2017-06-20 14:00] doutriaux1 commented on #117
@danlipsa I am getting this while connected via turbovnc

[2017-06-21 16:49] doutriaux1 commented on #117
@sankhesh do you have an account on crunchy? I would like for you to try it. Because It's definitely not working for me from my mac.

[2017-06-21 17:46] sankhesh commented on #117
@doutriaux1 I don't. How do I get one?

[2017-06-21 17:59] durack1 commented on #117
@hoang1 can you help out here?

[2017-06-21 18:11] doutriaux1 commented on #117
@durack1 @sankhesh is taken care of. No worries.

[2017-06-22 03:28] sankhesh commented on #117
@doutriaux1 Could you please try the setup on a local desktop (Ubuntu or Red Hat)?

[2017-06-22 03:30] doutriaux1 commented on #117
@sankhesh both my linux boxes are dead right now... I'll see if I can try the setup from a vm/docker

[2017-06-22 03:31] doutriaux1 commented on #117
@sankhesh I'm going to look into this as well: https://github.com/yantis/docker-virtualgl

[2017-06-23 22:45] zshaheen opened #202 "Release 2.10.1 with 1D plot slowdown fix"
It would be really nice if there could be a 2.10.1 release of vcs, which includes the 1D plot speedup.

We (@chengzhuzhang and I) are releasing some software soon that uses vcs and a 2.10.1 release would make it painless for users to install vcs via Anaconda. In addition, the consensus is that the vcs plots look better than the alternatives (i.e. matplotlib), so a release of vcs with the 1D plot f

[2017-06-23 23:24] durack1 commented on #202
@zshaheen good call!

[2017-06-24 18:23] doutriaux1 commented on #202
@zshaheen that's what the nightlies are really for. I'm planning on a patch release in late July.

[2017-06-24 18:24] doutriaux1 commented on #202
@zshaheen but if you want to go through all the pains of a release more often I'd be glad to hand over the job to you (tagging multiple repo, creating metapackage, release notes, annoucement, zenodo, README, etc...)

[2017-06-24 18:47] zshaheen commented on #202
@doutriaux1 Should we then begin releasing nightlies for vcs?

Because that's cool, but someone deleted the vtk-cdat-nox >=7.1.0.2017.3 nightlies and that messed stuff up for users who were on 2.8 and who wanted to install older versions which used 2.8. As long as the nightlies don't go away, we're good with that.

[2017-06-26 14:54] doutriaux1 commented on #202
@zshaheen it's stuck in a PR that doesn't pass fixing it today.

[2017-06-26 21:39] doutriaux1 opened #203 "pngs do not clear object properly in some cases"
branch `extra_obj` contains the following and failing test

Note that
* commenting out png line makes test work
* removing the dims on png line (`self.x.png('crap')`) does make the test pass as well

[code]

[2017-06-27 14:10] danlipsa commented on #203
@doutriaux1 @aashish24 Is this what causes the slowdown we heard about in the ACME meeting?

[2017-06-27 14:20] doutriaux1 commented on #203
@danlipsa yes. I spent most yesterday on this. The cause is the configure/resize event.
When we resize (here to fit the png out size) we replot everything on the new size, but never delete the original objects (or some of them). This leads to lost objects. To make things worse after the png is plotted we resize again to the original size! So double leak! I'm not 100% on how I'm going to fix this.

[2017-06-27 14:26] danlipsa commented on #203
@doutriaux1 Great job narrowing this down. That resize is very convoluted indeed. I remember debugging that for vcdat. Should I look into this?

[2017-06-27 14:53] doutriaux1 commented on #203
@danlipsa if you have time sure, but create your own branch please. Whoever gets to fix it first. I'm thinking of saving the user calls on the display. And do a full clear and replot on a new display. Any other idea?

[2017-06-27 15:14] danlipsa commented on #203
@doutriaux1 Not really. I think the root of the problem comes from the fact that resize calls plot, which saves stuff in vcs.elements. That slows things down as well. I look forward to when we'll move axes and labels to VTK. We won't need to do anything on resize at that point.
Even with the current implementation, I don't understand why we need a resize event.

Maybe I should let you fix this as

[2017-06-27 15:48] aashish24 commented on #203
When we resize (here to fit the png out size) we replot everything on the new size, but never delete the original objects (or some of them). This leads to lost objects. To make things worse after the png is plotted we resize again to the original size! So double leak! I'm not 100% on how I'm going to fix this.

@doutriaux1 thanks for looking into it. I think we should fix the bug but I am wonderin

[2017-06-27 16:45] doutriaux1 commented on #203
@aashish24 it's from png, we can control the size of the output. Hence the batch script.

Regardless resizing on your screen in interact mode (or via GUI) will lead to the same leaks.

[2017-06-27 16:47] doutriaux1 commented on #203
@danlipsa I think one of the reason we need a full replot is for cases where the user sets an aspect ratio. In this case we need to create a template whose datawc_x1/x2/y1/y2 match the correct aspect ration given the window size.

[2017-06-27 17:18] danlipsa commented on #203
@doutriaux1 I see.

[2017-06-29 22:07] doutriaux1 opened #205 "template.scalefont broken"

[2017-06-29 23:11] doutriaux1 opened #206 "isof.fillareacolors does not like rgb tuple in list of colors"
[code]

leads to

[code]

[2017-06-30 02:45] #205 closed

[2017-06-30 18:00] danlipsa commented on #180
@glpotter @williams13 @doutriaux1 @aashish24 The evenly spaced streamlines are in the nightly VCS packages and the streamline tutorial (iPython notebook) is updated to include a section on evenly spaced streamlines. Please try it out and let me know if you have any comments.
https://uvcdat.llnl.gov/tutorials.html

[2017-06-30 18:00] #180 closed

[2017-06-30 19:49] danlipsa opened #208 "replace png() width and height with magnification"
vtkWindowToImageFilter which is used in png() to get an image from the window supports a parameter int magnification which allows the user to save a larger image than the window size.

Note this does not change the width/height ratio, so probably we won't need to replot anything in changeEvent. This will get rid of a large chunk of tricky code and probably speedup computation when resizing is invo

[2017-07-03 14:01] danlipsa opened #209 "remove bgX, bgY"
bgX and bgY have a complex logic to decide when and how are they set and when they should be used
for OnScreen graphics or OffScreen Mesa.

For instance, the following script, run with OSMesa, does not set the dimensions for png properly. If you un-comment  bgX and bgY statements, png dimensions are set as expected: 1200x800.

We should remove them and always use the window dimensions, or the dime

[2017-07-04 13:22] danlipsa opened #210 "VCS 2.8 vs 2.10 speed issues"
From @zshaheen:
In the ACME Workflow telco this Monday, June 26, 2017, we discussed issues regarding VCS 2.8 vs 2.10.
In short, when using 2.10, isofills and polar projections are fairly slow.
Sadly, 1D plots are also slower on 2.10 than 2.8.

Code
Here's the code that we use to create the plots:
https://github.com/zshaheen/acme_diags/tree/master/acme_diags/plot/vcs
set3.py are the 1D plots, set4.

[2017-07-04 13:34] danlipsa commented on #210
I tried vcs 2.8, vcs nightly + VTK OpenGL backend (default), and vcs nightly + VTK OpenGL2 backend.
.
This is what I got:

vcs nightly + VTK OpenGL2 backend
================
vtk-cdat                  7.1.0.2.10.2017.07.04.08.42.1c03d1d03b1c12d99dd090ba4c5ca078e2d9612f  py27_mesalib_0  [mesalib]  local
mesalib 17.0.3 1 conda-forge
Avg time: 0.813000631332

vcs nightly + VTK OpenGL backend
=======
v

[2017-07-04 15:33] danlipsa commented on #210
@doutriaux1 @aashish24 One problem is that we started to compile VTK in debug mode. This needs to change. However, there still seems to be a significant slowdown remaining, at least for isofill.

vcs nightly + VTK Release OpenGL backend
==================================
vtk-cdat                  7.1.0.2.10.2017.07.04.09.37.1c03d1d03b1c12d99dd090ba4c5ca078e2d9612f  py27_mesalib_0  [mesalib]  local

[2017-07-05 13:09] doutriaux1 commented on #209
I like the idea.

[2017-07-05 13:30] doutriaux1 commented on #208
@danlipsa yes and no, if the user is looking a dastaon the screen at a certain ratio but the output ratio is different we need to re-render.

[2017-07-05 13:49] danlipsa commented on #208
@doutriaux1 I agree with that. The question is if the user really needs a resize that involves changing the ratio or what he needs is to save a larger image (higher resolution).
If the user only needs a larger image (which I think it is the case) we can get rid of the code from changeEvent (and the headache that comes with it).

[2017-07-05 13:52] danlipsa commented on #208
@doutriaux1 If the user wants a specific ratio, he can resize the window to that ratio than save the (potential larger) png.

[2017-07-05 13:53] danlipsa commented on #208
So I guess the code in changeEvent still needs to be there for this kind of resizing.

[2017-07-05 14:18] danlipsa commented on #210
@doutriaux1 @aashish24 The slowdown issue we see seems to be caused by
1. We compile VTK in Debug mode in nightly (and maybe 2.10 as well) and in Release mode in 2.8
2. The bigger slowdown seems to be caused by mesa. Note we upgraded from mesalib 7.6.1 to mesalib 17.0.3. It may be how we compile it as well.

Here are the 4 runs with VCS 2.8, VCS Master, VTK 2.8 VTK Master. They all have similar ti

[2017-07-05 17:30] danlipsa commented on #210
This is what is used by VTK:
VMware, Inc.
3.0 Mesa 17.0.3
Gallium 0.4 on softpipe
I think we want llvmpipe instead of softpipe.
https://www.mesa3d.org/osmesa.html

[2017-07-05 20:16] danlipsa commented on #210
Here are the results with mesa compiled with llvmpipe:

<pre>
VMware, Inc.
3.0 Mesa 17.0.3
Gallium 0.4 on llvmpipe (LLVM 3.3, 256 bits)
Master Render: 0.0087492
VMware, Inc.
3.0 Mesa 17.0.3
Gallium 0.4 on llvmpipe (LLVM 3.3, 256 bits)
Master Render: 0.00377673
Start plot master
gtype:  isofill
Start plot master
gtype:  text
Render time: 0.000005
Start plot master
gtype:  text
Render time: 0.000001

[2017-07-06 03:25] aashish24 commented on #210
Looking great to me!

[2017-07-06 13:08] danlipsa commented on #210
@aashish24 Note that we are not yet to where the old mesa was:
0.275944304466 vs 0.535116910934

[2017-07-06 13:24] danlipsa commented on #210
@aashish24 @doutriaux1 Removing the printouts and running the test that does the average I get:
	Avg time: 0.287473192215
Which is approx what we got for 2.8.

[2017-07-06 13:43] aashish24 commented on #210
this is great. So a difference of 2% I would think is within the range. @doutriaux1 what you think?

[2017-07-06 14:14] doutriaux1 commented on #208
@danlipsa we should still implement the magnify for png in case the ratio doesn't change or is within some margin of error.

[2017-07-06 14:45] doutriaux1 commented on #210
@danlipsa i will try to update the official mesa build on conda-forge and tsee the difference it makes.

[2017-07-06 21:02] doutriaux1 commented on #210
copy/pasting script test for easier re-use:
[code]

[2017-07-07 07:25] jypeter opened #211 "Print a helpful warning when using x.plot and DISPLAY is not set"
@charlesdoutriaux It's quite hard (the first time you get the error) to understand what is happening, when you use x.plot and there is no DISPLAY. Especially since **it completely crashes python**!

[code]
Can you print an error message and make this more user friendly? Maybe this has already been addressed in 2.10, but I'm still running 2.8

[2017-07-07 14:11] danlipsa opened #212 "on screen mac window size is half what it should be"
From @doutriaux1
No it’s not related to bgX/bgY on my mac, both ipython and python lead to a tiny window:

subsequent calls to landscape/portrait/geometry do not alter size. (portrait/landscape do switch the orientation though)

[2017-07-07 14:34] jypeter commented on #210
@doutriaux1 what do you mean by _groovy mode_? You wait till you think that there is a good chance that _things are cached_?

[2017-07-07 14:42] doutriaux1 commented on #210
@jypeter yes so that the file system cached everything, memory is allocated by process, etc...

[2017-07-07 14:52] doutriaux1 commented on #211
hum...
[code]
I think it's really an X11 issue.

[2017-07-07 14:52] doutriaux1 commented on #211
[code]

[2017-07-07 14:53] doutriaux1 commented on #211
@danlipsa what do you think? I feel VTK's error is better than most other software in that matter.

[2017-07-07 15:13] danlipsa commented on #211
@doutriaux1 @jypeter We should try not to crash and we probably can make it more clear that DISPLAY is an environment variable that the user should set (or should set properly).
But I agree that the other programs you tried are less helpful in pointing one in the right direction for fixing the problem. Also in the day of google, any error message would be helpful as long as you can find someone wh

[2017-07-07 15:54] jypeter commented on #211
Well, it said **bad X server connection** and not the usual variation of _Can't open display_. I regularly have problems using vcs in virtual machines and X servers, that's why I did not think at first that it was just a problem of DISPLAY not being defined

But we want to be nice and helpful to the end users, don't we? That's why, when you call "x.plot" (or x.png, x.pdf, etc...) it would be nice

[2017-07-07 17:04] danlipsa commented on #211
@jypeter Indeed, we should not crash. We could print a better error by intercepting the VTK message and printing our own.

[2017-07-07 20:13] danlipsa commented on #212
@doutriaux1 It turns out this is correct. VTK uses hardware pixels rather than logical pixels. So when you ask VTK for 1200 x 600 pixels, it will give you that many hardware pixels which results in 600 x 300 logical pixels (as reported by mac os). This way, when you save a png you end-up with a png of size 1200 x 600.

If we want the window to have a certain size on the screen we should add a unit

[2017-07-07 21:01] doutriaux1 commented on #212
@danlipsa ok that makes sense. It's annoying though... Should we add some if tests for mac? And assume the user is passing logical pixel? that means adding the "hardware_pixel" option to png, and making sure it knows on mac that the size is in hardware pixels. Or is there an option in VTK to obtain the logical pixels size?

[2017-07-07 22:50] doutriaux1 commented on #210
@danlipsa I uploaded nightly vtk in `release` mode rather than `debug`

with a pure `2.10` env:

[code]

with the exact same env but using the `Release` vtk :

[code]

with pure 2.8 I get:

[code]

So the 2.10 avg time is actually faster!!!!

[2017-07-08 01:48] doutriaux1 commented on #210
interestingly with `mesalib` `17.1.4` (or `17.0.3`) and `vtk-cdat` in `release` i get:
[code]
Are we expecting `mesa` to be much slower?

[2017-07-08 01:49] doutriaux1 commented on #210
@williams13 maybe the mesa slowness is what makes vcdat so slow.

[2017-07-08 03:03] danlipsa commented on #210
Mesa (rendering in software) is much slower than rendering in hardware.

[2017-07-08 03:11] doutriaux1 commented on #210
ok so it makes sense. Thanks @danlipsa

[2017-07-08 03:12] doutriaux1 commented on #210
@zshaheen for the amwg_diags then do not use mesa

[2017-07-08 06:13] zshaheen commented on #210
@doutriaux1 If we don't use mesa, then will it work on a headless machine? none nox used to give an openGL error.

[2017-07-08 07:03] durack1 commented on #210
Just to throw a cat amongst the pidgeons.. is Mesa the only way?

https://www.phoronix.com/scan.php?page=news_item&px=Intel-OpenSWR-Mesa

@danlipsa have you heard or tried this, or whatever it may have morphed into by now?

@doutriaux1<https://github.com/doutriaux1> If we don't use mesa, then will it work on a headless machine? none nox used to give an openGL error.

—
You are receiving this becau

[2017-07-10 08:29] jypeter commented on #211
👍

[2017-07-10 14:05] danlipsa commented on #210
@durack1 @doutriaux1 @aashish24 I think OpenSWR works only with on-screen mesa. We are already using that for ParaView.
https://blog.kitware.com/messing-with-mesa-for-paraview-5-0vtk-7-0/

An (much faster) option for off-screen mesa is EGL. This does not need X, but it does need a recent (three years old) NVidia graphics card and recent Linux. It works fine on my Ubuntu 16.04.
https://blog.kitware

[2017-07-10 14:08] doutriaux1 commented on #210
thanks @danlipsa.

[2017-07-10 14:15] doutriaux1 commented on #210
@danlipsa also it appears that it as already been ported back into mesa: https://github.com/OpenSWR/openswr-mesa and then: https://cgit.freedesktop.org/mesa/mesa/
17.1.4 which are using (with swrast) has been out 10days. @danlipsa should I revivie my efforts to use llvmpipe? Looking at it it appears using `--disable-llvm-shared-libs ` might help us.

[2017-07-10 14:26] doutriaux1 commented on #210
@danlipsa I tried a local build and `regular` mesa gives us:
[code]
but `llvm` enabled gives us:
[code]

Which is very close from a non-mesa build! I'll try again a bit this morning, I'm hoping disabling shared-llvm libs will help.

[2017-07-10 14:40] danlipsa commented on #210
@doutriaux1 @sankhesh Yes, we should use llvmpipe. What is the status here? Where are you blocked?

[2017-07-10 14:43] doutriaux1 commented on #210
builds pass and conda packages are uploaded but so far mac segfault when installed back on my mac. Trying diable-shared-llvm now to see if it helps.

[2017-07-10 18:34] doutriaux1 commented on #210
good news these number are from a fresh new mesa build using mesa produced by conda-forge:

Also I had a webex running at same time, so clean numbers might be faster

[code]

[2017-07-10 18:41] doutriaux1 commented on #210
@danlipsa thx for the mesa-llvm this is HUGE!!

[2017-07-10 18:43] #210 closed

[2017-07-10 20:08] danlipsa commented on #210
Nice! Thanks also to @zshaheen who filed the bug report @doutriaux1 who created the performance test and made everything work on all platforms including circleci and travis and @sankhesh who created the original mesa conda receipe and made mesa work with VTK on mac.

[2017-07-10 20:31] durack1 commented on #210
@danlipsa @doutriaux1 @zshaheen @sankhesh this is great, I wonder if it might also miraculously sort out our ongoing VNC issues?? It'll be great to give this a try..

[2017-07-10 20:42] doutriaux1 commented on #210
@durack1 there was never an issue with mesa, since it is what we recommend over X11 forwarding.

[2017-07-11 22:57] zshaheen opened #214 "For xvsy, markers are still being plotted when gm.data.priority = 0"

[2017-07-11 23:27] doutriaux1 commented on #214
should probably read:
`template.data.priority=0`

[2017-07-11 23:55] doutriaux1 opened #215 "taylordiagram won't plot in jupyter"
because returned display does not have `_parent` set on it.

[2017-07-12 01:45] doutriaux1 opened #216 "taylordiagram markers copied over from default andaffect default"
create needs a deepcopy not just copy

[2017-07-12 01:53] doutriaux1 opened #217 "taylordiagram should have auto label placement"

[2017-07-12 02:15] doutriaux1 opened #218 "taylordiagram . line_color should accept strings"

[2017-07-12 06:46] jypeter commented on #214
This reminds me of something I have noticed this week in 2.8, but I did not have time to investigate, because I was helping a colleague with a script. Don't have time now, so just describing below what I noticed

I got the impression that even though the script explicitly set **tpl.comment1.priority = 0**, the comment1 was plotted when the script used **x.plot(tpl, v, comment1="Some comment")**. I

[2017-07-12 14:01] doutriaux1 commented on #214
@jypeter yes I think you're right if you pass a keyword we turn `priority` back on. But I think you're right it might not be desirable.

[2017-07-12 14:39] doutriaux1 commented on #206
Doh! values need to be between 0 and 100... .

[2017-07-12 14:39] #206 closed

[2017-07-12 14:40] doutriaux1 commented on #206
values need to be between 0 and 100

[2017-07-12 15:02] doutriaux1 opened #219 "taylordiagram drawing line between markers broken (clor)"

[2017-07-12 16:35] doutriaux1 opened #220 "png textAsPath broken?"
[code]
leads to

[code]
same size! Shouldn't it be smaller?

[2017-07-12 16:37] doutriaux1 commented on #220
Doh! My bad... png not pdf....

[2017-07-12 16:37] #220 closed

[2017-07-12 16:40] doutriaux1 commented on #220
[code]
works!

[2017-07-12 16:58] doutriaux1 opened #221 "taylordiagram should draw legend"

[2017-07-12 17:09] doutriaux1 opened #222 "taylordiagram should be able to draw ids only in legend not on plot"